.HmMenu {
    position: absolute;
    z-index: 2
}

.HmMenu.Enabled {
    visibility: visible
}

.HmMenu a:focus, .HmMenu a:hover {
    outline: none;
    background-color: #f3f3f3
}

.HmMenu ul.c_m {
    visibility: inherit;
    position: static
}

#c_copt .c_m_firstchild {
    padding-top: 3px
}

#c_copt .rp .is_c, .OptMenu .is_c {
    visibility: hidden;
    padding-right: 10px;
    padding-left: 2px
}

#c_copt .rp.Selected .is_c, .OptMenu .Selected .is_c {
    visibility: inherit
}

#c_copt .rp .Caption, .OptMenu .Caption {
    vertical-align: middle
}

#c_copt .rp.Selected A, .OptMenu .Selected A, .OptMenu A.Selected {
    cursor: default
}

#rteMode .is_img, #msgPriority .is_img {
    padding-bottom: 3px
}

ul.c_m.ColorPicker {
    width: 60px;
    min-width: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 15px
}

ul.c_m.ColorPicker .Swatch {
    display: block;
    float: left;
    overflow: hidden;
    height: 25px;
    width: 25px;
    margin-left: 5px;
    margin-top: 5px
}

ul.c_m.ColorPicker .Swatch.swFFFFFF {
    height: 21px;
    width: 21px;
    border: 2px solid #ccc
}

ul.c_m.ColorPicker .Swatch.c_m_firstchild {
    padding-top: 0
}

ul.c_m.ColorPicker .Swatch.c_m_lastchild {
    padding-bottom: 0
}

ul.c_m.ColorPicker .Swatch:hover {
    text-decoration: none
}

.Hyperlink {
    width: 20em
}

.Hyperlink LABEL {
    position: absolute;
    left: -99999px
}

.Hyperlink INPUT.Url {
    width: 210px !important
}

.EmojiPickerFlyout {
    width: 346px;
    height: 456px
}

.EmojiPickerFlyout:focus, .EmojiPickerFlyout .OuterContainer:focus {
    outline-color: transparent
}

.EmojiPicker {
    width: 306px;
    height: 416px
}

.EmojiPicker .EmojiCategoryList {
    position: relative;
    height: 35px;
    margin: 2px 0 12px 0;
    background-color: #ddd
}

.EmojiPicker .EmojiCategoryList .EmojiCategoryIcon {
    position: absolute;
    display: inline-block;
    width: 27px;
    height: 27px;
    padding: 2px;
    border-color: Transparent;
    border-style: solid;
    border-width: 2px
}

.EmojiPicker .EmojiCategoryList .EmojiCategoryIcon.Selected {
    background-color: #979797
}

.EmojiPicker .EmojiCategoryList .EmojiImage {
    position: relative;
    width: 27px;
    height: 27px;
    overflow: hidden
}

.EmojiPicker .CategoryName {
    position: relative;
    margin: 27px 0 10px 0;
    font-size: 100%;
    color: #000
}

.EmojiPicker .EmojiCategory {
    position: relative;
    padding: 5px 0 0 0;
    overflow: auto;
    height: 311px
}

.EmojiPicker .EmojiList {
    position: relative;
    display: inline-block;
    width: 27px;
    height: 27px;
    padding: 4px;
    margin-bottom: 5px;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

A.EmojiList:hover {
    background-color: #ededed
}

A.EmojiList:active {
    background-color: #979797
}

.EmojiPicker .EmojiList .EmojiImage {
    position: relative;
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    overflow: hidden
}

.EmojiPicker .EmojiList .EmojiImage:active {
    background-color: #979797
}

.EmojiImage IMG {
    position: relative
}