.ComposeArea {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 2.2em;
    overflow-x: hidden;
    overflow-y: auto
}

.ComposeContentHeader {
    margin-left: -7px
}

.ComposeOptions {
    margin: 0;
    padding: 0
}

#SendingMessage {
}

#SendingMessage > DIV {
    display: inline-block
}

#SendingMessage:hover {
    background: transparent
}

#SendingMessage .c_spinningDots {
    vertical-align: text-bottom
}

#SendingMessage .c_loadingText {
    vertical-align: baseline
}

.Row {
    position: relative;
    padding-bottom: 15px
}

.Row .ButtonLink {
    font-size: 86%;
    line-height: 17px;
    padding-bottom: 6px;
    display: block
}

.Attachments {
    position: relative
}

.fSubject {
    font-size: 192% !important;
    border: 0 !important;
    padding: 0 !important;
    width: 100% !important
}

.Subject {
    padding-bottom: 9px;
    position: relative;
    border-bottom: 1px solid #ccc
}

.Subject .Watermark {
    font-size: 192%;
    margin: 0
}

.Subject .SubjectArea {
    margin-right: 150px;
    padding-right: 30px;
    margin-left: 7px
}

.Subject .DraftArea {
    position: absolute;
    width: 150px;
    font-size: 86%;
    color: #666;
    right: 0;
    text-align: right;
    top: 0;
    display: table;
    height: 42px
}

.Subject .DraftArea p {
    display: table-cell;
    vertical-align: middle
}

.Row .Content {
    margin-left: 7.5em
}

.ComposeHeader {
    position: absolute;
    left: 0;
    right: 70%;
    top: 0;
    bottom: 0;
    padding: 17px 20px 20px
}

.ComposeHeader .ShowCcBcc {
    float: right
}

.ComposeHeader .ShowCc {
    margin-right: 10px
}

.ComposeHeader .errorDiv {
    margin: 0;
    padding-bottom: 9px;
    overflow-wrap: break-word
}

.IE .ComposeHeader {
    padding: 16px 20px 20px
}

#toCP {
    clear: both
}

.meetingRequestHeader {
    background-color: #f3f3f3;
    margin-top: 14px;
    margin-bottom: 29px;
    padding: 15px 20px
}

.meetingRequestHeader .Row {
    padding-bottom: 5px;
    font-size: 100%;
    line-height: 20px
}

.meetingRequestHeader .Row.Action {
    padding-bottom: 0
}

.meetingRequestHeader .Label {
    color: #666
}

.meetingRequestHeader .Content {
    color: #000
}

.ComposeContent {
    position: absolute;
    left: 30%;
    right: 0;
    top: 0;
    bottom: 0;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 8px
}

.ComposeMessage {
    position: absolute;
    top: 131px;
    left: 30px;
    right: 20px;
    bottom: 0;
    min-height: 7em
}

.Portrait .ComposeHeader {
    bottom: auto;
    right: 0;
    padding-bottom: 0
}

.Portrait #ComposeRteEditor_surface {
    overflow: hidden
}

.Portrait .ComposeContent {
    left: 0;
    padding-top: 25px
}

.Portrait .ComposeMessage {
    top: 148px
}

.RteEditor {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0
}

.RteEditor .Container {
    margin-top: 15px
}

.rtl .ComposeArea {
    bottom: 2.35em
}

.rtl .Row .Label {
    left: 15px
}

.IE .cpv2 input.cp_anyInput {
    height: 22px !important
}

#pageCompose {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto
}

.inlineCompose a.showQuotedText {
    color: #000
}

.inlineCompose .ComposeArea {
    position: static;
    overflow: visible;
    border-top: 1px solid #ccc;
    padding-bottom: 24px
}

.inlineCompose .ComposeHeader {
    position: static;
    padding-top: 11px;
    padding-left: 0;
    padding-right: 0
}

.inlineCompose .ComposeHeader .From.Row {
    padding-bottom: 20px
}

.inlineCompose .ComposeHeader .From.Row .is_c {
    padding-left: 2px;
    top: 2px
}

.inlineCompose .ComposeHeader .From.Row .FromContainer {
    max-width: 100%
}

.inlineCompose .ComposeHeader .From.Row .FromContainer .Address, .inlineCompose .ComposeHeader .From.Row .FromContainer .Name {
    top: 0
}

.inlineCompose .ComposeHeader .From.Row .switchToFull {
    float: right
}

.inlineCompose .ComposeHeader .Row.To, .inlineCompose .ComposeHeader .Row.CC, .inlineCompose .ComposeHeader .Row.BCC {
    border: solid 1px #ebebeb;
    padding: 15px;
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 6px
}

.inlineCompose .ComposeHeader .ShowCcBccContainer {
    position: absolute;
    top: -38px;
    right: 20px;
    z-index: 3
}

.inlineCompose .ComposeHeader .ContactHeader {
    position: absolute;
    padding-top: 10px
}

.inlineCompose .ComposeHeader .toBtn, .inlineCompose .ComposeHeader .ccBtn {
    padding-right: 10px
}

.inlineCompose .ComposeHeader .bccBtn {
    padding-right: 5px
}

.inlineCompose .EmojiPicker {
    position: static
}

.inlineCompose .ComposeContentHeader {
    margin-left: 0
}

.inlineCompose .ComposeContentHeader .Subject {
    border-bottom: none;
    padding: 0
}

.inlineCompose .ComposeContentHeader .SubjectArea {
    display: none
}

.inlineCompose .ComposeContentHeader .RteToolbar {
    border: solid 1px #ebebeb;
    padding: 15px;
    border-bottom: none;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    z-index: 1
}

.inlineCompose .FromContainer .Name {
    font-size: 17px
}

.inlineCompose .DraftArea {
    font-size: 86%;
    color: #666;
    display: block;
    padding-right: 10px;
    float: right
}

.inlineCompose .From .DraftArea {
    padding-left: 5px
}

.inlineCompose .NoPaddings .InlineCommandHeader {
    padding-top: 5px
}

.inlineCompose .InlineCommandHeader {
    float: right;
    position: relative;
    z-index: 3
}

.inlineCompose .ComposeMessage {
    position: static;
    min-height: 200px;
    height: 200px
}

.inlineCompose .ComposeContent {
    position: static;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0
}

.inlineCompose .RteEditor {
    position: static !important;
    height: 100%
}

.inlineCompose .RteEditor .Container {
    position: relative;
    margin-top: 0;
    height: 100%
}

.inlineCompose .FromSelectorLink {
    width: auto
}

.inlineCompose .Attachments {
    padding-right: 17px
}

.inlineCompose .carousel.carouselVisible {
    border: solid 1px #ebebeb;
    padding: 15px;
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 0
}

.inlineCompose .carousel.carouselVisible .carouselOptions, .inlineCompose .carousel.carouselVisible .carouselListCollapsed .carouselOptions {
    height: 30px
}

.inlineCompose .carousel.carouselVisible .carouselListCollapsed {
    margin: 6px 0 6px 0
}

.inlineCompose .carousel.carouselVisible .carouselStats {
    margin: 6px 0 7px 0
}

.inlineCompose .carousel.carouselVisible .carouselCollapserIcon {
    margin-top: 20px
}

.inlineCompose .carousel.carouselVisible .carouselCollapser {
    right: 15px
}

.inlineCompose .carousel.carouselVisible .carouselListContainer {
    margin-right: 15px
}

.inlineCompose .cpv2 .cp_inputArea, .inlineCompose .cpv2 .cp_inputArea.Focus {
    border: none
}

.inlineCompose .composeRteBox {
    border: solid 1px #ebebeb;
    padding: 15px;
    border-top: none;
    padding-top: 0
}

.inlineCompose .composeFocus {
    border-color: #ccc !important
}

.inlineCompose .neighborComposeFocus {
    border-top-color: #ccc !important
}

.inlineCompose .showQuotedTextContainer {
    padding-top: 15px
}

.RE_WebKit .inlineCompose .ShowCcBccContainer {
    top: -37px
}

.RE_WebKit .inlineCompose .ComposeHeader .From.Row .is_c {
    top: 3px
}

.From {
    position: relative;
    z-index: 2
}

.From .is_c {
    padding-left: 5px;
    position: relative;
    top: -8px
}

.From.Row {
    padding-bottom: 22px
}

.IE .From span.c_chev .is_c {
    top: -8px
}

.IE_M8 .From span.c_chev .is_c {
    top: 10px
}

.IE_M8 .inlineCompose .From span.c_chev .is_c {
    vertical-align: text-top
}

.FromUserTile {
    display: inline-block;
    padding-right: 10px;
    vertical-align: top
}

.FromUserTile .c_ic_tile_clip {
    cursor: default
}

.FromContainer {
    display: inline-block;
    max-width: 80%
}

.FromContainer .Name, .FromContainer .Address {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative
}

.FromContainer .Address {
    top: 4px
}

.FromContainer .Name {
    top: 1px
}

.fromAddrMenu .t_seli .Name, .fromAddrMenu .t_seli .Address {
    color: inherit
}

.fromAddrMenu .fam_c {
    display: inline-block;
    width: 100%
}

.fromAddrMenu .fam_i {
    padding-top: 7px;
    padding-bottom: 5px
}

.fromAddrMenu .Name {
    font-size: 100%;
    line-height: 100%;
    padding-bottom: 3px
}

.fromAddrMenu .Address {
    font-size: 86%;
    line-height: 16px
}

.fromAddrMenu > DIV {
    width: 100%
}

.inlineCompose .fromAddrMenu {
    display: inline-block
}

.IE .fromAddrMenu .Address {
    top: 3px
}

.g_remove {
    background-position: -1px -1px;
    width: 10px;
    height: 10px;
    vertical-align: middle
}

.i_imp_hi {
    background-position: -13px -1px;
    width: 4px;
    height: 16px
}

.i_imp_lo {
    background-position: -19px -1px;
    width: 8px;
    height: 16px
}

.IBAttach {
    background-position: -29px -1px;
    width: 7px;
    height: 16px
}

.IBDocs {
    background-position: -38px -1px;
    width: 15px;
    height: 16px
}

.IBEmotes {
    background-position: -55px -1px;
    width: 16px;
    height: 16px
}

.IBPhotos {
    background-position: -73px -1px;
    width: 16px;
    height: 16px
}

.IBSearch {
    background-position: -91px -1px;
    width: 16px;
    height: 16px
}

.RTE, .RteEditor {
    position: relative
}

.RteEditor .Container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    overflow: hidden
}

.RTE .Container {
    top: 26px
}

.RteEditor .Container IFRAME, .RteEditor .Container TEXTAREA {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

.RteEditor .Textarea TEXTAREA {
    display: block;
    outline: none;
    resize: none
}

.rtl .RteEditor .Container .RichText {
    padding-right: 1px
}

.RteEditor .PlaceholderText {
    position: relative;
    zoom: 1;
    color: #666;
    display: inline-block
}

.RteToolbar {
    position: relative;
    padding-top: 10px;
    padding-bottom: 12px;
    z-index: 2
}

.RteToolbar .ButtonList {
    padding: 0
}

.RteToolbar .ButtonList > UL {
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style-image: none
}

.RteToolbar .ButtonList > UL > LI {
    margin: 0;
    height: 25px;
    display: inline-block;
    vertical-align: top
}

.RteToolbar .ButtonList > UL > LI > A {
    text-decoration: none;
    border: 0 none transparent;
    position: relative;
    display: block;
    height: 16px;
    width: auto;
    overflow: hidden;
    direction: ltr;
    outline: 0;
    padding: 5px 7px
}

.RteToolbar .ButtonList > UL > LI > A:hover {
    text-decoration: none;
    background-color: transparent
}

.RteToolbar .ButtonList > UL > LI > A.dropdown {
    color: #000;
    direction: inherit;
    width: 90%;
    height: auto
}

.RteToolbar .ButtonList > UL > LI > A.dropdown .caption {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 85%
}

.RteToolbar .ButtonList > UL > LI > A.dropdown IMG {
    opacity: .5;
    filter: alpha(opacity=50)
}

.RteToolbar .ButtonList > UL > LI .ImageIcon DIV, .RteToolbar .ButtonList > UL > LI .TextIcon SPAN {
    height: 16px;
    width: 16px;
    position: relative
}

.RteToolbar .ButtonList > UL > LI .TextIcon {
    text-align: center;
    color: #000
}

.RteToolbar .ButtonList > UL > LI .TextIcon SPAN {
    font-family: Segoe UI, sans-serif;
    font-size: 17px;
    display: inline-block;
    position: relative;
    vertical-align: text-top;
    top: -1px;
    line-height: 100%;
    width: 12px
}

.RteToolbar .ButtonList > UL > LI .ImageIcon DIV {
    overflow: hidden
}

.RteToolbar .ButtonList > UL > LI .ImageIcon DIV IMG {
    position: relative;
    border: 0;
    background-repeat: no-repeat
}

.RteToolbar .ButtonList > UL > LI.JustifyLeft .ImageIcon IMG {
    top: -32px
}

.RteToolbar .ButtonList > UL > LI.JustifyCenter .ImageIcon IMG {
    top: -48px
}

.RteToolbar .ButtonList > UL > LI.JustifyRight .ImageIcon IMG {
    top: -16px
}

.RteToolbar .ButtonList > UL > LI.InsertOrderList .ImageIcon IMG {
    top: -80px
}

.RteToolbar .ButtonList > UL > LI.InsertUnOrderList .ImageIcon IMG {
    top: -64px
}

.RteToolbar .ButtonList > UL > LI.Outdent .ImageIcon IMG {
    top: 0
}

.RteToolbar .ButtonList > UL > LI.Indent .ImageIcon IMG {
    top: -112px
}

.RteToolbar .ButtonList > UL > LI.InsertLink .ImageIcon IMG {
    top: -96px
}

.RteToolbar .ButtonList > UL > LI.FGColor .ImageIcon IMG {
    top: -160px
}

.RteToolbar .ButtonList > UL > LI.BGColor .ImageIcon IMG {
    top: -192px
}

.RteToolbar .ButtonList > UL > LI.Emo .ImageIcon IMG {
    top: -176px
}

.RteToolbar .ButtonList > UL > LI.FontName .ImageIcon IMG {
    top: -144px
}

.RteToolbar .ButtonList > UL > LI.FontName .ImageIcon DIV {
    top: -1px
}

.RteToolbar .ButtonList > UL > LI.FontSize .ImageIcon IMG {
    top: -128px
}

.RteToolbar .ButtonList > UL > LI.Bold .TextIcon SPAN {
    font-weight: bold
}

.RteToolbar .ButtonList > UL > LI.Italic .TextIcon SPAN {
    font-style: italic
}

.RteToolbar .ButtonList > UL > LI.Underline .TextIcon SPAN {
    text-decoration: underline
}

.RteToolbar .ButtonList > UL > LI.SetMode A A {
    display: block;
    background-image: none;
    background-color: #fff;
    border: solid 1px #ccc;
    padding: 2px 8px;
    overflow: hidden;
    width: 6em
}

.RteToolbar .ButtonList > UL > LI.SetMode A .c_chev {
    position: absolute;
    right: 6px;
    padding-left: 2px;
    top: 33%
}

.RteToolbar .ButtonList > UL > LI.Selected .TextIcon {
    color: #fff
}

:root .RteToolbar .ButtonList .ToolbarItem A:hover {
    background-color: rgba(0, 0, 0, .12)
}

.RteToolbar .ButtonList LI.Disabled A.dropdown, .RteToolbar .ButtonList.Disabled A.dropdown, .RteToolbar .ButtonList LI.Disabled A, .RteToolbar .ButtonList.Disabled A {
    color: gray;
    background-color: #eee
}

.IE .RteToolbar .ButtonList A {
    padding: 3px 7px 7px
}

.sprite {
    background-color: transparent;
    background-repeat: no-repeat;
    width: 50%;
    margin: 0 auto
}

.Attachment_000000_16 {
    width: 16px;
    height: 16px;
    background-position: -64px -1px
}

.Attachment_666666_16 {
    width: 16px;
    height: 16px;
    background-position: -71px -248px
}

.Attachment_D3D3D3_16 {
    width: 16px;
    height: 16px;
    background-position: -71px -231px
}

.Attachment_White_16 {
    width: 16px;
    height: 16px;
    background-position: -71px -214px
}

.Block_File_16x16 {
    width: 16px;
    height: 16px;
    background-position: -71px -197px
}

.chevron_collapse_000000_15x11 {
    width: 15px;
    height: 11px;
    background-position: -71px -185px
}

.chevron_collapse_666666_15x11 {
    width: 15px;
    height: 11px;
    background-position: -71px -173px
}

.chevron_collapse_White_15x11 {
    width: 15px;
    height: 11px;
    background-position: -71px -161px
}

.chevron_expand_000000_15x11 {
    width: 15px;
    height: 11px;
    background-position: -71px -149px
}

.chevron_expand_666666_15x11 {
    width: 15px;
    height: 11px;
    background-position: -71px -137px
}

.chevron_expand_White_15x11 {
    width: 15px;
    height: 11px;
    background-position: -71px -125px
}

.Close_000000_11x11 {
    width: 11px;
    height: 11px;
    background-position: -71px -113px
}

.Close_666666_11x11 {
    width: 11px;
    height: 11px;
    background-position: -71px -101px
}

.Close_White_11x11 {
    width: 11px;
    height: 11px;
    background-position: -71px -89px
}

.chevron_expand_White_11x9 {
    width: 11px;
    height: 10px;
    background-position: -71px -78px
}

.chevron_collapse_000000_11x9 {
    width: 11px;
    height: 9px;
    background-position: -71px -68px
}

.chevron_collapse_666666_11x9 {
    width: 11px;
    height: 9px;
    background-position: -71px -58px
}

.chevron_collapse_White_11x9 {
    width: 11px;
    height: 9px;
    background-position: -71px -48px
}

.chevron_expand_000000_11x9 {
    width: 11px;
    height: 9px;
    background-position: -71px -38px
}

.chevron_expand_666666_11x9 {
    width: 11px;
    height: 9px;
    background-position: -71px -28px
}

.Close_X_000000_8x8 {
    width: 8px;
    height: 8px;
    background-position: -71px -18px
}

.Close_X_666666_8x8 {
    width: 8px;
    height: 8px;
    background-position: -80px -19px
}

.Close_X_D3D3D3_8x8 {
    width: 8px;
    height: 8px;
    background-position: -81px -10px
}

.Close_X_White_8x8 {
    width: 8px;
    height: 8px;
    background-position: -81px -1px
}

.double_chevron_collapse_000000_7x8 {
    width: 7px;
    height: 8px;
    background-position: -83px -115px
}

.double_chevron_collapse_666666_7x8 {
    width: 7px;
    height: 8px;
    background-position: -83px -106px
}

.double_chevron_collapse_White_7x8 {
    width: 7px;
    height: 8px;
    background-position: -83px -97px
}

.double_chevron_expand_000000_7x8 {
    width: 7px;
    height: 8px;
    background-position: -83px -88px
}

.double_chevron_expand_666666_7x8 {
    width: 7px;
    height: 8px;
    background-position: -83px -79px
}

.double_chevron_expand_White_7x8 {
    width: 7px;
    height: 8px;
    background-position: -83px -70px
}

.chevron_collapse_000000_8x6 {
    width: 8px;
    height: 6px;
    background-position: -83px -63px
}

.chevron_collapse_666666_8x6 {
    width: 8px;
    height: 6px;
    background-position: -83px -56px
}

.chevron_collapse_White_8x6 {
    width: 8px;
    height: 6px;
    background-position: -83px -49px
}

.chevron_expand_000000_8x6 {
    width: 8px;
    height: 6px;
    background-position: -83px -42px
}

.chevron_expand_666666_8x6 {
    width: 8px;
    height: 6px;
    background-position: -83px -35px
}

.chevron_expand_White_8x6 {
    width: 8px;
    height: 6px;
    background-position: -83px -28px
}

.zeroSize {
    padding: 0;
    margin: 0;
    border: none;
    height: 0;
    width: 0
}

.displayHidden {
    visibility: hidden
}

.carouselSmooth {
    -webkit-transition-property: -webkit-transform, height, width, opacity, position, margin, left, top, margin-top, background-color, min-width;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-property: -moz-transform, height, width, opacity, position, margin, left, top, margin-top, background-color, min-width;
    -moz-transition-duration: .5s;
    -moz-transition-timing-function: ease-in-out;
    transition-property: transform, height, width, opacity, position, margin, left, top, margin-top, background-color, min-width;
    transition-duration: .5s;
    transition-timing-function: ease-in-out
}

.carouselSmoothSmall {
    -webkit-transition-property: height, width, opacity, position, margin, left, top, margin-top, background-color, min-width;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-property: height, width, opacity, position, margin, left, top, margin-top, background-color, min-width;
    -moz-transition-duration: .5s;
    -moz-transition-timing-function: ease-in-out;
    transition-property: height, width, opacity, position, margin, left, top, margin-top, background-color, min-width;
    transition-duration: .5s;
    transition-timing-function: ease-in-out
}

.carousel {
    left: 0;
    width: 100%
}

.carousel.carouselVisible {
    border-bottom: 1px solid #eee
}

.carouselPrevButton {
    left: 0;
    width: 69px;
    height: 40px;
    background-position: -1px -145px
}

.carouselPrevButton:hover {
    width: 69px;
    height: 40px;
    background-position: -1px -227px
}

.carouselPrevButton:active {
    width: 69px;
    height: 40px;
    background-position: -1px -186px
}

.carouselNextButton {
    right: 0;
    width: 69px;
    height: 40px;
    background-position: -1px -22px
}

.carouselNextButton:hover {
    width: 69px;
    height: 40px;
    background-position: -1px -104px
}

.carouselNextButton:active {
    width: 69px;
    height: 40px;
    background-position: -1px -63px
}

.carouselScroller {
    position: absolute;
    z-index: 1
}

.carouselOptions {
    position: relative;
    width: auto !important;
    height: 40px
}

.carouselStats {
    line-height: 17px;
    margin: 16px 0 7px 0;
    position: absolute;
    left: 0;
    font-size: 86%;
    color: #666
}

.carouselCollapser {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    width: 40px;
    height: 40px
}

.carouselCollapserIcon {
    margin-top: 23px;
    margin-right: 0
}

.carouselListCollapsed .carouselOptions {
    height: 39px
}

.carouselListCollapsed .carouselStats {
    margin: 16px 0 6px 0
}

.carouselList {
    margin: 0;
    position: relative;
    list-style-type: none;
    padding: 0
}

.carouselListContainer {
    overflow: hidden;
    position: relative;
    margin-top: -3px;
    margin-left: -3px;
    padding-top: 3px;
    padding-left: 3px
}

.IE_M7 #AttachFiles {
    padding-top: 3px;
    margin-top: -3px
}

.carouselItem {
    position: relative;
    float: left;
    margin-bottom: 0;
    cursor: pointer;
    min-width: 130px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: .12s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: .12s;
    -moz-transition-timing-function: ease-out;
    transition-property: transform;
    transition-duration: .12s;
    transition-timing-function: ease-out
}

.carouselItem:active {
    -moz-transform: scale(.95);
    -webkit-transform: scale(.95);
    transform: scale(.95)
}

.carouselItem .carouselItemWrapper {
    overflow: hidden;
    margin-right: 10px;
    background-color: #a7a7a7;
    height: 130px;
    max-width: 260px
}

.carouselItem .carouselItemWrapper * {
    max-width: 260px
}

.carouselItem .carouselItemWrapper .carouselIcon {
    background-size: 100% auto;
    background-position: center center
}

.carouselItem .carouselItemWrapper .carouselIcon img {
    width: 100%;
    height: 100%
}

.carouselItem .carouselItemWrapper .carouselItemError {
    overflow: hidden;
    padding: 10px;
    color: #c85305;
    font-size: 86%;
    line-height: 17px;
    height: 106px;
    width: 106px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #c85305
}

.carouselItem .carouselItemWrapper .progressBar {
    height: 0;
    bottom: 0;
    position: absolute;
    border-style: solid;
    border-width: 0 0 5px 0
}

.carouselItem .carouselItemBorder {
    position: absolute;
    top: -3px;
    left: -3px
}

.carouselItem .carouselCaptionBG {
    background-color: #5c5c5c;
    background-color: rgba(0, 0, 0, .45)
}

.carouselItem .carouselCaption {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    color: #fff
}

.carouselItem .carouselCaption p.captionText {
    margin: 4px 0 5px;
    position: absolute;
    left: 10px;
    right: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left
}

.carouselItem .carouselCaptionError {
    color: #c85305
}

.highContrast .carouselItemBorder, .carouselItemBorder:hover {
    border: 3px solid #e2e2e2
}

.NotificationBase.NotificationBar.SentMailNotificationContainer.WithoutUpsells .InnerContainer .Content .UserArea {
    padding: 12px 0 9px 0
}

.NotificationBase.NotificationBar.SentMailNotificationContainer.WithUpsells .InnerContainer .Content .UserArea {
    padding: 2px 0
}

.SentMailNotification .MainContent {
    margin-left: auto;
    margin-right: auto
}

.SentMailNotification table td {
    padding: 0
}

.IE_M7 .SentMailNotification table td {
    line-height: 142%
}

.SentMailNotification {
    font-size: 100%;
    line-height: 20px
}

.SentMailNotification .SimpleMessage {
    text-align: center
}

.SentMailNotification .Intro {
    padding-right: 20px
}

.SentMailNotification .Intro .WithUpsells {
    margin-bottom: 2px
}

.SentMailNotification .Intro .WithoutUpsells {
    font-size: 150%;
    line-height: 28px;
    margin-top: -6px
}

.SentMailNotification .Intro a {
    font-size: 86%;
    line-height: 20px
}

.AddContactsFlyout {
    position: relative;
    max-height: 240px;
    overflow: auto;
    width: 280px
}

.AddContactsFlyout table {
    border-collapse: collapse;
    width: 245px;
    margin-right: 20px
}

.AddContactsFlyout table td {
    padding: 0
}

.AddContactsFlyout .ContactList table td input[type="checkbox"] {
    margin-right: 10px;
    width: 16px
}

.AddContactsFlyout .ContactList .EmailAddress div {
    width: 219px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 6px
}

.AddContactsFlyout .ContactList .FirstName {
    width: 108px;
    padding-right: 5px
}

.AddContactsFlyout .ContactList .FirstName input[type="text"] {
    width: 90px;
    margin-bottom: 26px
}

.AddContactsFlyout .ContactList .LastName {
    width: 106px;
    padding-right: 5px
}

.AddContactsFlyout .ContactList .LastName input[type="text"] {
    width: 88px;
    margin-bottom: 26px
}