body {
    padding: 0;
    margin: 0
}

.BorderTop {
    border-top: 1px solid #ccc
}

.BorderRight {
    border-right: 1px solid #ccc
}

.BorderBottom {
    border-bottom: 1px solid #ccc
}

.BorderLeft {
    border-left: 1px solid #ccc
}

.BorderNoTop {
    border: 1px solid #ccc;
    border-top: 0
}

.BorderNone {
    border: none
}

.BorderBox, TEXTAREA {
    border: 1px solid #f3f3f3
}

.DefaultFont, BODY, TEXTAREA, SELECT, INPUT {
    color: #000
}

Body #HeaderContainer {
    width: 100%
}

BODY {
    margin: 0
}

BODY {
    position: static !important;
    margin-top: 0 !important;
    border: 0 !important
}

#cosymantecbfw {
    display: none !important
}

BODY.IE_M10 {
    -ms-touch-action: pinch-zoom
}

BODY.Safari {
    min-width: 100%
}

SELECT, INPUT, TEXTAREA {
    font-size: 1em
}

A IMG {
    border: none
}

.UiSelect OPTION, .EditContact SELECT OPTION {
    padding: 0 5px 0 3px
}

IMG.RenderedEmoji {
    width: 19px;
    height: 19px;
    vertical-align: middle
}

.ErrDhtml .InfoPaneInner {
    zoom: 1;
    border: 0;
    background: transparent;
    padding: 0
}

.cInfoPaneIconContainer {
    display: none
}

.ErrDhtml .InfoPaneLinks {
    margin: 0
}

.InfoPaneLinks, .XXLargeMargin {
    margin-left: 30px
}

.cInfoPaneIconContainer, .UpsellIcon {
    float: left;
    margin-right: 10px
}

.ClearBoth {
    clear: both
}

.DisplayBlock {
    display: block
}

.DisplayInline {
    display: inline
}

.DisplayNone {
    display: none
}

.NoDisplay {
    display: none !important
}

.NoWrap {
    white-space: nowrap
}

.NoPaddings {
    padding: 0 !important
}

.NoHorzScroll {
    overflow-x: hidden !important
}

.SF_M6 .sc {
    -webkit-transform: translateZ(0)
}

.UiButton, .cButton {
    height: 2em;
    overflow: visible;
    padding: 0 .5em;
    margin: 0 .5em;
    margin-left: 0;
    cursor: pointer;
    cursor: hand
}

.Firefox .UiButton, .Firefox .cButton {
    padding-bottom: 4px
}

.UiButton:disabled, input:disabled {
    color: gray
}

.Safari input:disabled {
    color: #000
}

.PreviewPane {
    z-index: -1;
    opacity: 0
}

.LineSeparator {
    margin: 30px 0 0 0
}

.FloatLeft, .ToolbarItemFirst, .ToolbarItem, .EditContact .Values, .ContactDetails .Value {
    float: left
}

.FloatRight {
    float: right
}

.TextAlignRight, .ItemListHeaderRow TH.TextAlignRight {
    text-align: right
}

.VAlignTop {
    vertical-align: top
}

.VAlignBottom {
    vertical-align: bottom
}

.ClearLeft {
    clear: left
}

.ClearRight {
    clear: right
}

#MainContentWrapper {
    position: relative
}

.ContentLeft {
    width: 205px;
    margin-right: 5px
}

#aspnetForm {
    margin: 0
}

#mainLayoutTable {
    border: none 0;
    padding: 0;
    margin-bottom: 10px
}

.MainLayoutLeftBar, .MainLayoutRightBar {
    vertical-align: top;
    padding: 0
}

.MainLayoutRightBar {
    padding: 0;
    width: 100%
}

.MainLayoutLeftBar {
    min-width: 120px
}

.SmcMainContentContainer {
    padding: 30px 30px 5px;
    padding-left: 0
}

#BelowHeader {
    position: absolute;
    top: 3.5em;
    left: 0;
    right: 0;
    bottom: 0;
    zoom: 1;
    overflow-x: hidden !important;
    overflow-y: auto !important
}

#BelowHeader.Cobrand {
    top: 5.65em
}

.ErrorPriHigh, .ErrorPriMedium, .ErrorPriLow, .LoadingIndicator, .priority-low, .priority-medium, .priority-high {
    padding: 5px 15px;
    clear: both;
    margin: 5px;
    border: none !important
}

.NotificationBase .ErrorPriHigh, .NotificationBase .ErrorPriMedium, .NotificationBase .ErrorPriLow, .NotificationBase .priority-high, .NotificationBase .priority-medium, .NotificationBase .priority-low {
    margin: 0
}

.ErrorPriHigh, .ErrorPriHigh BUTTON, .priority-high, .ErrorPriMedium, .ErrorPriMedium BUTTON, .LoadingIndicator, .priority-medium, .ErrorPriLow, .ErrorPriLow BUTTON, .priority-low {
    background: #f0f0f0
}

.ErrorImg {
    vertical-align: middle;
    margin-right: 4px
}

.Toolbar {
    border-width: 0
}

.Managed .Toolbar {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0
}

.Toolbar UL {
    list-style: none;
    margin: 0;
    padding: 0
}

.Toolbar ul.c_m {
    padding-bottom: 5px
}

.Toolbar ul.c_m a {
    margin: 0
}

.ToolbarItemFirst, .ToolbarItem {
    display: block;
    white-space: nowrap
}

LI.ToolbarItemHolder {
    margin: 0
}

.ToolbarHelpLink {
    padding-right: 5px
}

.Firefox .ToolbarHelpLink .c_chev, .Safari .ToolbarHelpLink .c_chev {
    vertical-align: 5px
}

.ToolbarItem, .ToolbarItemFirst, .ToolbarLabel {
    margin-left: 15px;
    display: block
}

.ToolbarItem SPAN.Disabled {
    display: none
}

.ToolbarItemFirst, .ToolbarItemFirst.ToolbarLabel {
    padding-left: 6px;
    margin-left: 0
}

.ToolbarItem.FloatRight {
    padding-right: 0;
    margin-right: 0
}

.ToolbarItemLast {
    padding-right: 0;
    margin-right: 0
}

.ToolbarItemThinPadding A, .ToolbarItemThinPadding SPAN.Disabled {
    padding-left: 2px;
    padding-right: 2px
}

.ToolbarPipe {
    padding: 0 5px;
    color: #c7c7c7;
    display: block
}

.c_mcp #AddFldrInput {
    white-space: normal;
    margin-bottom: 5px;
    margin-right: 0
}

.c_mcp #AddFldrInput input[type=text] {
    width: auto
}

.c_mcp #AddFldrInput .errorDiv {
    width: 175px
}

#toolbarContainer .ToolbarItem {
    margin-bottom: 0
}

.TbSplit .c_ml {
    border: 1px solid #ccc;
    display: inline-block;
    height: 12px;
    width: 12px;
    vertical-align: middle;
    text-align: center
}

.c_cme .c_hicons .c_mcp:hover, .c_m_r .c_mcp {
    background-color: transparent
}

.AppInner .TbSplit .c_chev {
    position: relative;
    vertical-align: top;
    top: 3px;
    left: -3px
}

.Safari .TbSplit .c_chev {
    top: 1px;
    left: -2px
}

.rtl.IE .TbSplit .c_chev {
    position: static;
    margin-right: .5em
}

.Crm120Container {
    margin: 20px 0;
    margin-left: 20px;
    text-align: left
}

#RightRailContainer {
    width: 160px
}

.RightRailContent {
    width: 160px
}

#adbarContainer {
    position: absolute
}

#RightRailContainer.adbaroverride {
    overflow: visible !important
}

.SideAds {
    padding: 30px;
    padding-left: 0
}

.SideAdCol {
    width: 320px
}

HTML.Managed {
    overflow: hidden;
    width: 100%;
    height: 100%
}

HTML.Managed BODY {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden
}

.App.Managed .InfoPaneContainer {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1
}

.BODY.IE .App.Managed .InfoPaneContainer {
    width: 100%
}

.App.Managed {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.App.Managed .AppInner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden
}

.App.Managed .c_h, .App.Managed #c_header {
    min-width: 768px !important
}

.App.Managed .c_hc {
    padding: 0 !important
}

.App.Managed .Middle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    min-width: 768px
}

.App.Managed .FooterContainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2.2em;
    z-index: 1;
    overflow: hidden
}

#messageListContainer .FooterContainer {
    position: static
}

.App.Managed .RPOn .WithRightRail .FooterContainer, .App.Managed .RPOff .WithRightRail #ManagedContentWrapper > .FooterContainer {
    right: 160px
}

.rtl .App.Managed .FooterContainer {
    height: 2.35em
}

.App.Managed .Bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 0
}

.App.Managed .ContentLeft {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    z-index: 3
}

.App.Managed .MasterSplitter {
    position: absolute;
    top: 0;
    left: 205px;
    width: 5px;
    height: 100%;
    overflow: hidden;
    z-index: 5;
    cursor: col-resize
}

.App.Managed .ContentLeft .ContentFolderQuickViewList {
    position: absolute;
    left: 0;
    right: 0;
    top: 2.85em;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 9em;
    margin-top: 7px
}

.BottomLeftCRM DIV {
    margin: 0
}

.App.Managed .ContentRight {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 205px;
    z-index: 2
}

.Managed #ManagedContentWrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.Managed .HasInfoPaneAbove #ManagedContentWrapper {
    top: 4.86em
}

.Managed #ManagedContentWrapper {
    min-width: 588px
}

#c_intInfo {
    right: 270px !important;
    white-space: nowrap;
    max-height: 46px;
    line-height: 75%
}

.IE #c_intInfo {
    left: 350px !important
}

.RPBottom #c_intInfo, .RPOff #c_intInfo {
    z-index: 3 !important
}

.Managed #RightRailContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden
}

.Managed .ViewContainer {
    top: 0;
    right: 0;
    bottom: 2.2em;
    left: 0;
    position: absolute !important;
    overflow-y: auto;
    overflow-x: hidden
}

.rtl .App.Managed .ViewContainer {
    bottom: 2.35em
}

.NonThemedLinks, #error button, #error a, .InfoPaneInner a, .readMsgBody A {
    color: #0068cf
}

#error button {
    cursor: pointer;
    cursor: hand
}

.PrimaryTextColor, .ListItem SPAN, .ItemListContent A, .ListItem A, #MessageList A, .MessageListTitle, .MessageListTitle a, .ToolbarItem SPAN.Disabled, .MeterText {
    color: #000
}

a.DisabledLink {
    color: gray !important;
    cursor: text
}

a.DisabledLink:hover {
    text-decoration: none !important
}

.SecondaryTextColor, .FooterContainer span, .Bottom #miniFooter A {
    color: #666
}

.ItemListHeaderRow TH {
    border-bottom: 1px solid #ccc;
    background: #fff
}

.thmbg {
    border: 1px solid #ccc
}

.media-player {
    color: #000;
    background: #fff
}

.FB, .FBL, .FBR {
    height: 11px
}

.FB {
    background: repeat-x 0 7px;
    padding-top: 7px;
    position: relative;
    top: -7px
}

.FBL, .FBR {
    width: 80px;
    background: no-repeat
}

.FBL {
    float: left
}

.FBR {
    float: right
}

.FBA {
    margin-top: 5px;
    position: absolute;
    right: 80px
}

.Firefox .c_hb .c_c {
    position: static
}

.SuperBar .UserContent .Title {
    font-size: 150%;
    display: inline;
    color: #000 !important;
    padding-right: 5px;
    position: relative;
    top: 0;
    line-height: 130%
}

.NotificationBase.SuperBar.WithTitle .InnerContainer .Content.Collapsed .UserArea, .NotificationBase.SuperBar.WithTitle .InnerContainer .Content.Collapsed .Clipper {
    height: 2em
}

.NotificationBase.NotificationBar.SuperBar.sb_li .InnerContainer .Content .IconArea {
    margin-top: -16px
}

.NotificationBase.NotificationBar.SuperBar.sb_mi .InnerContainer .Content .IconArea {
    margin-top: -10px
}

.NotificationBase.NotificationBar.SuperBar.sb_msi .InnerContainer .Content .IconArea {
    margin-top: 3px
}

.NotificationBase.NotificationBar.SuperBar.sb_si .InnerContainer .Content .IconArea {
    margin-top: 6px
}

.sb {
    border: 0;
    background: #f0f0f0;
    position: relative;
    min-height: 42px
}

.sb .sb_i {
    float: left;
    padding: 10px 15px;
    position: absolute
}

.sb.sb_li .sb_i {
    width: 64px
}

.sb.sb_li_vc .sb_i {
    width: 64px;
    margin-top: -32px
}

.sb.sb_mi .sb_i {
    width: 48px
}

.sb.sb_mi_vc .sb_i {
    width: 48px;
    margin-top: -24px
}

.sb.sb_msi .sb_i {
    padding-top: 12px;
    width: 24px
}

.sb.sb_msi_vc .sb_i {
    width: 24px;
    margin-top: -12px
}

.sb.sb_si .sb_i {
    padding-top: 17px;
    width: 16px
}

.sb.sb_si_vc .sb_i {
    width: 16px;
    margin-top: -8px
}

.sb.sb_li_vc .sb_i, .sb.sb_mi_vc .sb_i, .sb.sb_msi_vc .sb_i, .sb.sb_si_vc .sb_i {
    top: 50%;
    padding: 0 15px
}

.sb .sb_c {
    float: right;
    padding: 10px 10px 0 0
}

.sb .sb_tc {
    padding: 10px 15px 10px 0;
    overflow: hidden
}

.sb.sb_ni .sb_tc {
    padding: 5px 0 5px 15px
}

.sb.sb_li .sb_tc, .sb.sb_li_vc .sb_tc {
    min-height: 46px;
    padding-left: 94px
}

.sb.sb_mi .sb_tc, .sb.sb_mi_vc .sb_tc {
    min-height: 30px;
    padding-left: 78px
}

.sb.sb_msi .sb_tc, .sb.sb_msi_vc .sb_tc {
    min-height: 6px;
    padding-left: 54px
}

.sb.sb_si .sb_tc, .sb.sb_si_vc .sb_tc {
    min-height: -2px;
    padding-left: 15px
}

.sb .sb_tc .sb_tt {
    font-size: 192%;
    padding-right: 10px;
    display: inline
}

.sb .sb_tc H3.sb_tt {
    color: #000 !important
}

.sb .sb_tc .sb_t {
    font-size: 100%
}

.i_comp_s {
    width: 26px;
    height: 26px;
    background-position: -1px -151px
}

.i_comp_a {
    width: 26px;
    height: 26px;
    background-position: -1px -124px
}

.i_voicemail {
    width: 20px;
    height: 20px;
    background-position: -1px -103px
}

.i_calllog {
    width: 20px;
    height: 20px;
    background-position: -18px -1px
}

.mr_m_r {
    width: 16px;
    height: 16px;
    background-position: -28px -158px
}

.mlSel .mr_m_r {
    width: 16px;
    height: 16px;
    background-position: -28px -141px
}

.i_ts {
    width: 16px;
    height: 16px;
    background-position: -28px -124px
}

.mlSel .i_ts {
    width: 16px;
    height: 16px;
    background-position: -22px -90px
}

.i_refresh {
    width: 16px;
    height: 16px;
    background-position: -1px -86px
}

.i_refresh:hover {
    width: 16px;
    height: 16px;
    background-position: -31px -107px
}

.i_c_f {
    width: 16px;
    height: 16px;
    background-position: -39px -90px
}

.mlSel .i_c_f {
    width: 16px;
    height: 16px;
    background-position: -45px -159px
}

.i_c_r {
    width: 16px;
    height: 16px;
    background-position: -45px -142px
}

.mlSel .i_c_r {
    width: 16px;
    height: 16px;
    background-position: -45px -125px
}

.ia_i_c0_0, .ia_i_c0_1 {
    width: 16px;
    height: 16px;
    background-position: -35px -45px
}

.ia_i_c1_0, .ia_i_c1_1 {
    width: 16px;
    height: 16px;
    background-position: -1px -69px
}

.ia_i_c2_0, .ia_i_c2_1 {
    width: 16px;
    height: 16px;
    background-position: -18px -22px
}

.ia_i_c3_0, .ia_i_c3_1 {
    width: 16px;
    height: 16px;
    background-position: -35px -28px
}

.ia_i_c4_0, .ia_i_c4_1 {
    width: 16px;
    height: 16px;
    background-position: -1px -52px
}

.ia_i_d {
    width: 16px;
    height: 16px;
    background-position: -18px -39px
}

.ia_i_a {
    width: 16px;
    height: 16px;
    background-position: -39px -11px
}

.ia_i_j_0, .ia_i_j_1 {
    width: 16px;
    height: 16px;
    background-position: -1px -35px
}

.ia_i_r_0, .ia_i_r_1 {
    width: 16px;
    height: 16px;
    background-position: -18px -56px
}

.ia_i_s0 {
    width: 16px;
    height: 16px;
    background-position: -35px -62px
}

.ia_i_s1 {
    width: 16px;
    height: 16px;
    background-position: -52px -56px
}

.ia_i_v0 {
    width: 16px;
    height: 16px;
    background-position: -52px -39px
}

.ia_i_v1 {
    width: 16px;
    height: 16px;
    background-position: -48px -108px
}

.ia_i_v2 {
    width: 16px;
    height: 16px;
    background-position: -56px -91px
}

.ia_i_v3 {
    width: 16px;
    height: 16px;
    background-position: -62px -159px
}

.ia_i_v4 {
    width: 16px;
    height: 16px;
    background-position: -62px -142px
}

.ia_i_p_0 {
    width: 16px;
    height: 16px;
    background-position: -62px -125px
}

.ia_i_p_1 {
    width: 16px;
    height: 16px;
    background-position: -52px -73px
}

.mlSel .ia_i_c0_0, .mlSel .ia_i_c0_1, .mlSel .ia_i_c1_0, .mlSel .ia_i_c1_1, .mlSel .ia_i_c2_0, .mlSel .ia_i_c2_1, .mlSel .ia_i_c3_0, .mlSel .ia_i_c3_1, .mlSel .ia_i_c4_0, .mlSel .ia_i_c4_1 {
    width: 16px;
    height: 16px;
    background-position: -56px -22px
}

.mlSel .ia_i_d {
    width: 16px;
    height: 16px;
    background-position: -1px -18px
}

.mlSel .ia_i_a {
    width: 16px;
    height: 16px;
    background-position: -18px -73px
}

.mlSel .ia_i_j_0, .mlSel .ia_i_j_1 {
    width: 16px;
    height: 16px;
    background-position: -69px -74px
}

.mlSel .ia_i_r_0, .mlSel .ia_i_r_1 {
    width: 16px;
    height: 16px;
    background-position: -69px -57px
}

.mlSel .ia_i_s0 {
    width: 16px;
    height: 16px;
    background-position: -69px -40px
}

.mlSel .ia_i_s1 {
    width: 16px;
    height: 16px;
    background-position: -73px -23px
}

.mlSel .ia_i_v0, .mlSel .ia_i_v1, .mlSel .ia_i_v2, .mlSel .ia_i_v3, .mlSel .ia_i_v4 {
    width: 16px;
    height: 16px;
    background-position: -65px -108px
}

.mlSel .ia_i_p_0, .mlSel .ia_i_p_1 {
    width: 16px;
    height: 16px;
    background-position: -73px -91px
}

.i_rm_n {
    width: 16px;
    height: 16px;
    background-position: -79px -160px
}

.i_rm_n_d {
    width: 16px;
    height: 16px;
    background-position: -79px -143px
}

.i_rm_p {
    width: 16px;
    height: 16px;
    background-position: -79px -126px
}

.i_rm_p_d {
    width: 16px;
    height: 16px;
    background-position: -86px -74px
}

.i_r_fv {
    width: 16px;
    height: 16px;
    background-position: -86px -57px
}

.mr_tb_a {
    width: 16px;
    height: 16px;
    background-position: -86px -40px
}

.mr_tb_c {
    width: 16px;
    height: 16px;
    background-position: -90px -13px
}

.mr_tb_t {
    width: 16px;
    height: 16px;
    background-position: -82px -109px
}

.mr_tb_d {
    width: 16px;
    height: 16px;
    background-position: -90px -92px
}

.i_att_s {
    width: 11px;
    height: 16px;
    background-position: -96px -160px
}

.mlSel .i_att_s {
    width: 11px;
    height: 16px;
    background-position: -96px -143px
}

.i_imp_hi_s {
    width: 11px;
    height: 16px;
    background-position: -96px -126px
}

.mlSel .i_imp_hi_s {
    width: 11px;
    height: 16px;
    background-position: -103px -75px
}

.i_imp_lo_s {
    width: 11px;
    height: 16px;
    background-position: -103px -58px
}

.mlSel .i_imp_lo_s {
    width: 11px;
    height: 16px;
    background-position: -103px -41px
}

.i_comp_m {
    width: 16px;
    height: 10px;
    background-position: -56px -11px
}

.g_check {
    width: 12px;
    height: 11px;
    background-position: -73px -11px
}

.g_close, .pinTrayCBImg {
    width: 11px;
    height: 11px;
    background-position: -86px -1px
}

.i_cancel, .pinTrayCBImg:hover {
    width: 11px;
    height: 11px;
    background-position: -98px -1px
}

.i_voicemail_s {
    width: 10px;
    height: 10px;
    background-position: -107px -30px
}

.i_comp_f {
    width: 10px;
    height: 10px;
    background-position: -35px -79px
}

.ExcoOpen {
    width: 11px;
    height: 9px;
    background-position: -99px -116px
}

.ExcoClosed {
    width: 9px;
    height: 11px;
    background-position: -107px -104px
}

.g_sort_asc {
    width: 8px;
    height: 11px;
    background-position: -107px -18px
}

.t_seli .g_sort_asc {
    width: 8px;
    height: 11px;
    background-position: -107px -92px
}

.g_sort_desc {
    width: 8px;
    height: 11px;
    background-position: -108px -167px
}

.t_seli .g_sort_desc {
    width: 8px;
    height: 11px;
    background-position: -108px -155px
}

.ExcoOpenNormal {
    width: 9px;
    height: 8px;
    background-position: -108px -146px
}

.ExcoClosedNormal {
    width: 8px;
    height: 9px;
    background-position: -108px -136px
}

.i_pn_f {
    width: 8px;
    height: 9px;
    background-position: -22px -114px
}

.i_pn_f_d {
    width: 8px;
    height: 9px;
    background-position: -108px -126px
}

.i_pn_l {
    width: 8px;
    height: 9px;
    background-position: -1px -8px
}

.i_pn_l_d {
    width: 8px;
    height: 9px;
    background-position: -110px -8px
}

.i_pn_n {
    width: 8px;
    height: 9px;
    background-position: -39px -1px
}

.i_pn_n_d {
    width: 8px;
    height: 9px;
    background-position: -48px -1px
}

.i_pn_p {
    width: 8px;
    height: 9px;
    background-position: -57px -1px
}

.i_pn_p_d {
    width: 8px;
    height: 9px;
    background-position: -66px -1px
}

.g_bul {
    width: 8px;
    height: 8px;
    background-position: -75px -1px
}

.HideH .FBA, .HMLV .Collapsed IMG {
    width: 7px;
    height: 8px;
    background-position: -10px -1px
}

.ShowH .FBA, .HMLV .Expanded IMG {
    width: 7px;
    height: 8px;
    background-position: -90px -30px
}

.ExcoOpenSmall, .HMLV .Collapsed IMG {
    width: 8px;
    height: 6px;
    background-position: -98px -30px
}

.ExcoClosedSmall {
    width: 6px;
    height: 8px;
    background-position: -111px -116px
}

.HMLV .Collapsed IMG:hover {
    width: 8px;
    height: 6px;
    background-position: -1px -1px
}

.HMLV .Expanded IMG {
    width: 8px;
    height: 6px;
    background-position: -22px -107px
}

.HMLV .Expanded IMG:hover {
    width: 8px;
    height: 6px;
    background-position: -110px -1px
}

.DragNDrop {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0
}

.rtl .DragNDrop {
    width: 15em
}

.Firefox .DragNDrop, .Safari .DragNDrop {
    width: auto
}

.DragNDrop .Content {
    position: relative;
    border: solid 2px #000;
    background-color: #fff;
    color: #000;
    z-index: 2;
    padding: 5px 10px;
    white-space: nowrap
}

.on-hidden {
    display: none
}

.on-dimmer {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3500000;
    background-color: transparent
}

.on-picker-dialog {
    position: absolute;
    left: 50%;
    margin-left: -285px;
    top: 115px;
    bottom: 150px;
    min-height: 400px;
    max-height: 500px;
    width: 570px;
    border: 2px solid #000;
    background-color: #fff;
    z-index: 3600000
}

.on-picker {
    padding: 12px 20px 20px 20px;
    font-family: 'Segoe UI', 'Segoe UI Web Regular', 'Segoe UI Symbol', 'Helvetica Neue', 'BBAlpha Sans', 'S60 Sans', Arial, sans-serif;
    cursor: default;
    font-size: 14px;
    color: #3d3d3d;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.on-picker input, .on-picker button {
    outline: none
}

.on-root-element {
    position: absolute;
    border: 2px solid #ccc;
    padding: 13px 0 0 0;
    left: 20px;
    top: 85px;
    bottom: 130px;
    right: 20px;
    overflow: auto
}

.on-modal-block {
    position: absolute;
    z-index: 150000;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 0
}

.on-main-title {
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 18px
}

.on-main-sub-title {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 6px
}

.on-header {
    white-space: nowrap;
    height: 30px;
    line-height: 30px;
    user-select: none
}

.on-header-selected {
    line-height: 30px;
    background-color: #0072c6;
    color: #fff
}

.on-image {
    display: inline-block !important;
    width: 20px !important;
    height: 20px !important;
    margin-right: 8px !important;
    vertical-align: middle !important
}

.on-expander {
    margin-top: 4px !important;
    width: 7px !important;
    height: 9px !important;
    background-position: -13px -18px !important
}

.on-expander.selected {
    background-position: -20px -18px !important
}

.on-expander.on-expanded {
    width: 9px !important;
    height: 7px !important;
    margin-right: 8px !important;
    background-position: -29px -27px !important
}

.on-expander.on-expanded.selected {
    background-position: -29px -18px !important
}

.on-notebook {
    width: 17px !important;
    height: 18px !important
}

.on-notebook.selected {
    width: 17px !important;
    height: 18px !important;
    background-position: -17px 0 !important
}

.on-section {
    margin-top: 4px !important;
    width: 18px !important;
    height: 9px !important;
    background-position: 0 -34px !important
}

.on-section.selected {
    background-position: -18px -34px !important
}

.on-section-group {
    margin-top: 2px !important;
    width: 19px !important;
    height: 13px !important;
    background-position: 0 -43px !important
}

.on-section-group.selected {
    background-position: -19px -43px !important
}

.on-spacer {
    display: inline-block
}

.on-email-note-container {
    position: absolute;
    left: 20px;
    right: 20px;
    height: 30px;
    bottom: 90px;
    border: 2px solid #ccc;
    padding: 0 7px 0 7px
}

.on-email-note {
    width: 100% !important;
    border: 0 !important;
    font-size: inherit !important;
    height: 30px !important;
    padding: 0 !important
}

.on-dialog-buttons {
    position: absolute;
    right: 20px;
    bottom: 20px
}

.on-dialog-buttons button {
    line-height: 30px !important;
    font-family: inherit !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    padding: 0 20px 0 20px !important;
    min-width: 90px !important
}

.on-dialog-buttons button[disabled] {
    color: #b0b0b0 !important;
    background-color: #f4f4f4 !important;
    border: 1px solid #fafafa !important
}

.on-save-button {
    background-color: #0072c6 !important;
    color: #fff !important;
    border: 1px solid #80b9e3 !important;
    margin-right: 20px
}

.on-new-section-button {
    background-color: #d5d5d5 !important;
    border: 1px solid #d9d9d9 !important
}

.on-error-message {
    position: absolute;
    bottom: 60px;
    color: #cf6620;
    font-size: 13px
}

.on-status-pane {
    position: absolute !important;
    bottom: 25px !important
}

.on-status-done {
    color: #006f43
}

.on-add-new-item-section input[type=text] {
    font-family: inherit;
    font-size: 14px;
    height: 18px;
    border: 1px solid #666;
    background-color: #fff
}

.BulkActionsProgressDialog .c_spinningDots {
    position: absolute;
    margin-top: 3px;
    left: -15px
}

.BulkActionsFlyout {
}

.BulkActionsFlyout .OuterContainer {
    width: 500px
}

.BulkActionsFlyout .singleSenderDesc {
    padding-bottom: 20px
}

.BulkActionsFlyout .sendersListContainer {
    max-height: 80px;
    margin: 15px 0 20px 0;
    overflow-y: auto
}

.BulkActionsFlyout .sendersListContainer ul {
    margin: 0;
    padding: 0
}

.BulkActionsFlyout .sendersListContainer li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    margin: 0;
    line-height: 20px
}

.BulkActionsFlyout .sweepOption, .BulkActionsFlyout .moveOption, .BulkActionsFlyout .categoriesUpdates {
    padding-bottom: 10px
}

.BulkActionsFlyout .categoriesUpdates {
    overflow: hidden;
    text-overflow: ellipsis
}

.BulkActionsFlyout .folderPicker {
    padding-top: 15px
}

.BulkActionsFlyout .sweepOption.LastRow, .BulkActionsFlyout .moveOption.LastRow {
    padding-bottom: 0
}

.IE .BulkActionsFlyout .sweepOption label, .IE .BulkActionsFlyout .sweepOption input, .IE .BulkActionsFlyout .sweepOption .sweepOptionText, .IE .BulkActionsFlyout .sweepOption .sweepTypeMenu, .IE .BulkActionsFlyout .sweepOption .c_ml, .IE .BulkActionsFlyout .sweepOption .c_ml * {
    line-height: 19px
}

.leftnavitem {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0 !important;
    white-space: nowrap;
    padding-right: 20px
}

.leftnavitem .count {
    font-size: 86%;
    margin-left: 5px
}

.leftnavitem .spanContainer {
    display: block;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    min-height: 20px
}

.leftnavitem .ellipsis {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    line-height: 2em
}

.toggleExpand {
    width: 16px;
    display: inline-block
}

.exco_body {
    margin-bottom: 0
}

.leftnavitem:focus {
    background-color: #e7e7e7;
    outline: none
}

.c-ContainerList .selectable:hover {
    background-color: #e0e0e0
}

.c-ContainerList {
}

.c-ContainerList .leftnav {
    background-color: #f3f3f3
}

.c-ContainerList .leftnavtitle {
    font-family: Segoe UI Light;
    font-size: 150%;
    color: #888;
    padding: 5px 20px
}

.c-ContainerList .leftnavpad {
    padding: 5px 20px
}

.c-ContainerList .selectable {
    cursor: pointer
}

.c-ContainerList .selectable.selected {
    background-color: #ccc
}

.c-ContainerList .indentedleftnavlist {
    padding: 0;
    margin: 0;
    list-style: none
}

.c-ContainerList .newitem {
    font-size: 14px;
    font-weight: normal;
    color: blue;
    cursor: pointer
}

.c-ContainerList .LeftNav, .c-ContainerList .LeftNavBasic {
    margin: 0;
    padding: 0;
    list-style: none
}

.c-ContainerList .lnav_topItem, .c-ContainerList .LeftNavHeading {
    padding: 0 1px 0 1px;
    margin: 0;
    min-height: 34px;
    height: 1em;
    cursor: pointer;
    position: relative
}

.c-ContainerList .IE_M7 .lnav_topItem.exco_hdr {
    padding-right: 40px
}

.c-ContainerList .lnav_topItemLabel, .c-ContainerList .LeftNavHeading {
    padding-left: 20px;
    padding-right: 10px;
    display: block;
    overflow: hidden
}

.c-ContainerList .LeftNav LI.lnav_item A.lnav_topItemLnk {
    overflow: hidden;
    color: #666
}

.c-ContainerList .lnav_topItem, .c-ContainerList .lnav_topItemLabel, .c-ContainerList .lnav_topItemMenuIcon, .c-ContainerList .lnav_topItem .exco_hot {
    text-overflow: ellipsis;
    white-space: nowrap
}

.c-ContainerList .lnav_topItemLabel {
    padding-right: 40px
}

.c-ContainerList .lnav_topItemMenuIcon {
    position: absolute;
    right: 14px;
    top: 6px;
    height: 26px
}

.c-ContainerList .lnav_topItemMenuIcon A {
    padding: 5px
}

.c-ContainerList .Firefox.rtl .lnav_topItemMenuIcon A, .c-ContainerList .Firefox.rtl .lnav_topItem.t_sel .lnav_topItemMenuIcon {
    line-height: 100%
}

.c-ContainerList .i_refreshing {
    height: 16px;
    width: 16px
}

.c-ContainerList .LeftNav .lnav_item, .c-ContainerList .LeftNavBasic LI {
    margin: 0;
    display: block;
    font-size: 100%;
    cursor: pointer;
    overflow: hidden
}

.c-ContainerList .lnav_itemLnk, .c-ContainerList .lnav_newLnk .LeftNavBasic LI A {
    white-space: nowrap;
    clear: both;
    display: block;
    overflow: hidden;
    min-height: 30px
}

.c-ContainerList .lnav_newLnk, .c-ContainerList .LeftNavBasic LI A {
    position: relative;
    padding-left: 20px;
    margin-right: 10px;
    overflow: hidden;
    line-height: 2em;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap
}

.c-ContainerList .LeftNavBasic LI A {
    margin-right: 0;
    position: static
}

.c-ContainerList .IE .LeftNav LI.lnav_item .lnav_itemLnk .Caption span {
    line-height: 2em
}

.c-ContainerList .LeftNav LI.lnav_item.NoHover .lnav_itemLnk:hover {
    background-color: transparent;
    cursor: auto
}

.c-ContainerList .expandCollapseLink {
    display: block
}

.c-ContainerList .expandCollapseLink:focus .fadeOnHover {
    opacity: 1
}

.c-ContainerList .ContentQuickViewList {
    margin-top: 26px
}

.c-ContainerList .ContentFolderQuickViewList .exco_main {
    margin-bottom: 20px
}

.c-ContainerList .LeftNav .editableLabel.readwrite, .c-ContainerList .LeftNav #AddFldrInput, .c-ContainerList .LeftNav #AddFldrInput input {
    width: 100%
}

.c-ContainerList .LeftNav #AddFldrBox {
    margin-top: 5px;
    margin-right: 35px;
    margin-left: 20px;
    cursor: default
}

.c-ContainerList .LeftNav .editableLabelInputContainer {
    margin-top: 5px;
    margin-right: 25px;
    margin-bottom: 5px
}

.c-ContainerList .LeftNav .lnav_item .count, .c-ContainerList #mlPinTrayMessage .count {
    font-size: 86%;
    margin-left: 5px
}

.c-ContainerList .ExcoClosed, .c-ContainerList .ExcoOpen {
    margin: 13px 0 0 5px
}

.c-ContainerList .ExcoClosedNormal, .c-ContainerList .ExcoOpenNormal {
    margin: 0 0 0 6px
}

.c-ContainerList .exco_hdr A:hover {
    text-decoration: none
}

.c-ContainerList .exco_icon {
    position: absolute;
    left: 1px;
    top: 1px
}

.c-ContainerList .ContainerListLink {
    padding-left: 20px;
    padding-right: 20px
}

.c-ContainerList .exco_body {
    margin-bottom: 0 !important
}

.c-ContainerList #Refresh {
    display: inline-block;
    width: 15px;
    height: 15px
}

.c-ContainerList .containerListRoot {
    margin-top: -1px
}

.RE_WebKit .c-ContainerList .lnav_topItemMenuIcon {
    top: 5px
}

.cs_apply {
    display: block
}

.cs_apply INPUT {
    float: right;
    margin-right: 10px;
    min-width: 90px;
    width: auto !important
}

.cm .MenuTop {
    border: solid 2px #000;
    background-color: #fff;
    padding: 5px 0
}

.cm UL {
    padding: 0;
    margin: 0;
    list-style-type: none;
    min-width: 130px
}

.cm .cm_focus {
    display: block;
    overflow: hidden;
    height: 0
}

.cm:focus, .cm A:focus, .cm_focus:focus {
    outline: none
}

.MenuItems .Disabled A {
    color: #c7c7c7
}

.MenuItems A {
    color: #000 !important;
    text-overflow: clip;
    padding: 0 15px 2px;
    line-height: 26px;
    border: 0;
    display: block
}

.c, .Disabled, .cm .DisableMenuItems .Enabled, .cm .DisableMenuItems .MenuItems {
    display: none
}

.cm .DisableMenuItems .Disabled {
    display: block
}

.MenuItemGroupTitle, .MenuHeading {
    cursor: default
}

.cm .SenderEmail, .cm .MenuTitle, .cm .Enabled .SenderTitle {
    color: #666
}

.cm .MenuItems UL LI {
    padding: 0;
    margin: 0
}

.cm .MenuTitle, .cm .MenuItemGroup .Disabled A, .cm .MenuItemGroup .Enabled SPAN {
    padding: 0 15px 2px;
    line-height: 26px;
    display: block;
    white-space: nowrap
}

.cm .MenuItemGroup .Disabled A {
    margin-bottom: 0
}

.cm .MenuHeading {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.cm .MenuHeading span {
    padding: 0 15px 2px
}

.IE #contextMenu UL LI A {
    min-width: 15em
}

.cm_menu .cm_apply.Disabled A {
    pointer-events: none;
    cursor: default;
    color: #c7c7c7
}

#newEditableCategory .cm_input {
    width: 89%
}

.cm_error {
    width: 89%;
    margin-left: 10px
}

.c-ContainerPicker {
    position: absolute;
    z-index: 2000000;
    border: 2px solid #000
}

.c-ContainerPicker.cm_menu, .c-ContainerPicker.mtm_menu {
    min-width: 200px;
    max-width: 255px
}

ul.c_m.c-ContainerPicker {
    padding: 0
}

.c-ContainerPicker ul.c_m {
    visibility: inherit;
    position: static;
    border: 0
}

.c-ContainerPicker .c_m li {
    text-overflow: ellipsis;
    white-space: nowrap
}

.c-ContainerPicker .c_m li a label {
    width: 14em;
    overflow: hidden
}

.c-ContainerPicker .c_m li a {
    overflow: hidden;
    text-overflow: ellipsis
}

.c-ContainerPicker .cp_list {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid #ccc
}

.c-ContainerPicker .cp_list .c_m li a {
    padding-bottom: 0
}

.c-ContainerPicker .cp_hint {
    color: #666
}

.c-ContainerPicker.c_m_scroll .cp_list {
    max-height: none
}

.c-ContainerPicker .cp_editingNew .cp_addNew {
    display: none
}

.c-ContainerPicker .menuLinkItem.Editing {
    background-color: transparent !important
}

.c-ContainerPicker .is_c {
    visibility: hidden;
    padding-right: 8px
}

.c-ContainerPicker .Selected .is_c, .c-ContainerPicker .ParentSelected .is_c, .c-ContainerPicker .Mixed .is_c {
    visibility: inherit
}

.c-ContainerPicker .ParentSelected .menuLinkItem {
    color: #c7c7c7 !important
}

.c-ContainerPicker .Mixed .is_c {
    padding-right: 12px
}

.c-ContainerPicker .editableLabel.error {
    margin-left: 10px
}

.c-ContainerPicker .c_m li {
    overflow: hidden
}

.c-DraftMessageBar {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    border: 0;
    z-index: 1;
    zoom: 1
}

.c-DraftMessageBar .draftMessage {
    padding-left: 0;
    margin-left: 0
}

.c-DraftMessageBar .ToolbarItem a {
    padding-top: 0;
    padding-bottom: 3px
}

.c-DraftMessageBar LI {
    line-height: 20px;
    margin: 0;
    float: none;
    display: inline-block;
    font-size: 100%
}

.c-DraftMessageBar UL {
    list-style: none;
    margin: 0;
    padding: 4px 10px 6px 10px
}

.c-DraftMessageBar .delete, .c-DraftMessageBar .draftMessage {
    margin-top: 0
}

.editableLabel.readwrite {
    display: block;
    width: 80% !important
}

.LiveViewBranding, .LiveViewBranding:visited {
    color: #000
}

.HMLV {
    margin-bottom: 2px
}

.HMLV .TitleWithUpper {
    border-left: 1px solid #ccc;
    padding-left: 11px;
    margin-left: 0
}

.HMLV .Branding {
    margin-left: 10px
}

.HMLV .Branding span {
    cursor: pointer
}

.HMLV .Empty {
    height: 0
}

.HMLV .FB, .HMLV .FBL, .HMLV .FBR {
    height: 1px
}

.HMLV .Title {
    cursor: pointer;
    margin-left: 2px;
    color: #000
}

.HMLV .TitleContainer {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.HMLV .TitleContainer, .HMLV .Branding {
    padding-top: 5px;
    padding-bottom: 4px
}

.HMLV .Content {
    border-bottom: 1px solid #efefef
}

.HMLV .Content .TabSelected {
    display: block;
    padding-top: 12px;
    padding-bottom: 14px
}

.HMLV .Content .Tab {
    display: none
}

.HMLV .Collapsed, .HMLV .Expanded {
    width: 14px;
    height: 14px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px
}

.HMLV .IconBar .IconContainerSelected {
    margin: 5px 0;
    border: 1px solid #666;
    margin-right: 10px
}

.HMLV .IconBar .IconContainer {
    margin: 5px 0;
    margin-right: 10px;
    border: none
}

.HMLV .IconBar .Icon {
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat
}

.HMLV .IconBar .IconContainer, .HMLV .IconBar .IconContainerSelected {
    float: left
}

.HMLV .Loading {
    width: 100%
}

.HMLV .Loading div {
    font-size: 100%
}

.HMLV .Loading.Progress .ProgressIndicator, .HMLV .Loading.Error .ErrorIndicator {
    display: block
}

.HMLV .Loading.Error .ProgressIndicator, .HMLV .Loading.Progress .ErrorIndicator {
    display: none
}

.HMLV .ContentCollapsed {
    display: none
}

.HMLV .Border {
    border-bottom: 1px solid #ebebeb
}

.HMLV .ThirdPartyLogo {
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px
}

.HMLV .Header {
    margin-top: 10px;
    border-top: 1px solid #ebebeb;
    overflow: hidden
}

html.fh .c_base {
    overflow-y: visible;
    min-width: 0;
    overflow-x: auto
}

#pageInbox {
    position: absolute;
    -ms-touch-action: none;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0
}

#pageInbox.HideScrollbar {
    overflow: hidden
}

.AppContainer {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.v-ReadMessageContainer {
    position: absolute;
    -ms-touch-action: manipulation;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    padding-left: 20px;
    outline: none
}

.RPBottom .v-ReadMessageContainer {
    left: 0;
    border-top: 1px solid #ccc
}

.RPOff .v-ReadMessageContainer {
    display: none
}

.FullView .v-ReadMessageContainer {
    right: 0 !important;
    left: 0 !important;
    top: 0 !important
}

.v-MessageListContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    -ms-touch-action: manipulation
}

.v-MessageListContainer .c-ContainerPicker .is_img {
    position: relative;
    top: -1px
}

.v-MessageListContainer .c_m li span.editableLabel {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    max-width: 150px;
    display: inline-block
}

.FullView .v-MessageListContainer {
    display: none
}

.RPOff .v-InboxFooterContainer {
    display: none
}

.c_c .c_mcp .c-ContainerPicker .is_img {
    position: relative;
    top: -4px
}

.c_c .c_mcp .c-ContainerPicker .cp_list {
    max-height: 500px
}

.c_c .c_mcp .c-ContainerPicker.c_m_scroll .cp_list {
    max-height: none
}

#Categorize_dropdown .c_m li span.editableLabel {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    width: 150px;
    display: inline-block
}

.ContentRight {
    min-width: 588px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.ContentLeft {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    z-index: 4
}

.DraggedControl {
    opacity: .3;
    filter: alpha(opacity=30)
}

.dragdrophover {
    background-color: #e0e0e0
}

.mousenotallowed {
    cursor: not-allowed
}

.ContentRightInner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0
}

.RPOff .ContentRightInner {
    bottom: 0
}

.FullView .ContentRightInner {
    bottom: 2.2em
}

.RPOn .ContentRightInner {
    bottom: 2.2em
}

.WithRightRail {
    min-width: 428px;
    right: 160px
}

#Curtain {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 400000
}

.pointerCursor, .pointerCursor * {
    cursor: pointer !important
}

.noopCursor, .noopCursor * {
    cursor: not-allowed !important
}

.Unselectable {
    -ms-touch-select: none !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important
}

.ia_iw {
    padding-bottom: 11px;
    background-color: inherit
}

.ia_iw IMG {
    top: 7px;
    position: relative
}

.IE_M7 .ia_iw {
    padding-bottom: 0
}

.IE_M7 .ia_iw IMG {
    top: 0;
    position: static
}

.InboxTable.Narrow .ia_iw {
    padding-bottom: 6px;
    padding-top: 1px
}

.IE_M7 .InboxTable.Narrow .ia_iw {
    padding-bottom: 0;
    padding-top: 0
}

.ia_not_visible div.ia_h {
    visibility: hidden !important
}

.ia_c {
    display: inline-block;
    overflow: visible;
    white-space: nowrap;
    vertical-align: top;
    z-index: 1;
    top: -6px;
    position: relative
}

.Narrow .ia_c {
    right: -3px
}

.Narrow.ia_vc_f0 .ia_c {
    right: 0
}

.MessageHeaderItem .ia_c {
    position: static;
    top: 0
}

.IE_M7 .ia_c {
    height: 23px;
    top: 0
}

.ia_vc_f0 .ia_c {
    width: 1px;
    height: 20px;
    padding-left: 0
}

.NoTouch .InstantActionsEnabled .ia_hc:hover .ia_c IMG {
    opacity: .6;
    display: inline-block
}

.NoTouch .ia_hc .ia_c .ia_h IMG:hover, .NoTouch .ia_hc .ia_c .ia_f IMG:hover, .NoTouch .ia_hc .ia_c .ia_f .ia_i_p_0, .ia_hc .ia_c .ia_f .ia_i_p_0 {
    opacity: 1;
    display: inline-block
}

.ia_h IMG {
    display: none
}

.ia_f IMG {
    opacity: .17;
    display: inline-block
}

.ia_vc_f0 .ia_h {
    right: 0
}

.ia_vc_f1 .ia_h {
    right: 20px
}

.ia_vc_f2 .ia_h {
    right: 40px
}

.ia_vc_f3 .ia_h {
    right: 60px
}

.ia_vc_f4 .ia_h {
    right: 80px
}

.ia_vc_f5 .ia_h {
    right: 100px
}

.ia_h {
    display: inline-block;
    position: absolute
}

.ia_f {
    display: inline-block
}

.ia_c IMG {
    margin-right: 0;
    cursor: pointer
}

.IE_M7 .ia_c IMG {
    margin-top: 3px
}

.ia_h_p .ia_i_p_0, .ia_h_p .ia_i_p_1, .ia_h_v .ia_i_v0, .ia_h_v .ia_i_v1, .ia_h_v .ia_i_v2, .ia_h_v .ia_i_v3, .ia_h_v .ia_i_v4, .ia_h_v0 .ia_i_v0, .ia_h_v1 .ia_i_v1, .ia_h_v2 .ia_i_v2, .ia_h_v3 .ia_i_v3, .ia_h_v4 .ia_i_v4, .ia_h_c .ia_i_c0_1, .ia_h_c .ia_i_c1_1, .ia_h_c .ia_i_c2_1, .ia_h_c .ia_i_c3_1, .ia_h_c .ia_i_c4_1, .ia_h_c0 .ia_i_c0_0, .ia_h_c0 .ia_i_c0_1, .ia_h_c1 .ia_i_c1_0, .ia_h_c1 .ia_i_c1_1, .ia_h_c2 .ia_i_c2_0, .ia_h_c2 .ia_i_c2_1, .ia_h_c3 .ia_i_c3_0, .ia_h_c3 .ia_i_c3_1, .ia_h_c4 .ia_i_c4_0, .ia_h_c4 .ia_i_c4_1, .ia_h_s .ia_i_s0, .ia_h_s .ia_i_s1, .ia_h_j .ia_i_j_0, .ia_h_j .ia_i_j_1, .ia_h_d .ia_i_d, .ia_h_r .ia_i_r_0, .ia_h_r .ia_i_r_1, .ia_h_a .ia_i_a {
    display: none !important
}

.highContrast .Ia {
    display: none
}

.ContentLeft {
    -ms-touch-select: none !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important
}

.leftnav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: auto;
    width: 100%
}

.ContentLeft .exco_main {
    margin-bottom: 20px
}

.searchBox {
    margin: 10px;
    background-color: #bababa;
    position: relative;
    height: 30px
}

.searchBox .textBox {
    background-color: #fff;
    position: absolute;
    left: 1px;
    top: 1px;
    right: 1px;
    bottom: 1px;
    line-height: 26px;
    padding: 0 10px
}

.searchBox .text {
    color: #666;
    display: block;
    text-align: left
}

.searchBox .img {
    position: absolute;
    right: 5px;
    top: 4px;
    width: 20px;
    height: 20px;
    background: #ccc;
    display: inline-block;
    overflow: hidden
}

.leftnav .foldersQuickViews {
    margin-top: 7px;
    position: absolute;
    left: 0;
    right: 0;
    top: 2.85em;
    bottom: 0;
    overflow: auto
}

.leftnav .notFirstContainerList {
    margin-top: 26px
}

.LeftNav.leftnav.draghover .fadeOnHover {
    opacity: 1
}

.webIMMessagingContainer {
    position: absolute;
    bottom: 0;
    width: 100%
}

.webIMMessagingContainer ~ .c-SizerBar.sizerBarX {
    opacity: 1;
    height: 2px;
    background: #fff
}

.webIMMessagingContainer .Title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    display: block;
    height: 30px;
    margin-bottom: 0
}

.webIMMessagingContainer .ExcoClosed, .webIMMessagingContainer .ExcoOpen {
    margin: 13px 0 0 5px
}

.webIMMessagingContainer .exco_icon {
    position: absolute;
    left: 1px;
    top: 5px
}

.webIMMessagingContainer .expandCollapseLink {
    display: block
}

.webIMMessagingContainer .expandCollapseLink:focus .fadeOnHover {
    opacity: 1
}

.webIMMessagingContainer .Status {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 14px
}

.c-MeetingRequestBar {
    margin: 10px;
    overflow: hidden
}

.c-MeetingRequestBar .iibHeader {
    font-size: 15.53pt
}

.c-MeetingRequestBar .iibLocation {
    padding-top: 5px
}

.c-MeetingRequestBar .iibBttn {
    display: block;
    margin: 4px 0;
    padding: 4px 8px;
    color: #000;
    text-decoration: none
}

.c-MeetingRequestBar .calendarActionReqBar {
    position: relative;
    float: left;
    clear: both;
    width: 100%
}

.c-MeetingRequestBar .calendarActionReqBar A span {
    padding-left: 4px
}

.c-MeetingRequestBar .calendarActionReqBar A * {
    vertical-align: middle
}

.c-MeetingRequestBar .iibHorizRule {
    margin: 10px 10px 0 10px;
    border-top: 1px solid #dad9d9;
    float: left
}

.c-MeetingRequestBar .iibTitle {
    color: #2a2a2a;
    padding-top: 15px
}

.c-MeetingRequestBar .iibTagContent {
    color: #000
}

.c-MeetingRequestBar .iibTag {
    color: #666
}

.c-MeetingRequestBar .iibHeaders {
    padding-bottom: 10px
}

.c_mcp.boxStyle .c_ml {
    display: block;
    position: relative;
    height: 1.571em;
    border: 1px solid #bababa;
    padding: 4px 8px
}

.c_mcp.boxStyle .c_ml span {
    color: #000;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.c_mcp.boxStyle .c_ml img {
    position: absolute;
    right: 5px;
    top: 12px
}

.c_base a.c_ml, .NotificationContainer a.c_ml {
    color: #000
}

.c-MessageGroup {
}

.c-MessageGroup .mgRule {
    border-bottom: 1px solid #ccc;
    clear: both;
    margin: 0 20px
}

.c-MessageGroup .mgFooter {
    height: 30px
}

.c-MessageGroup .mgFooter .mgRule {
    margin-top: 0
}

.c-MessageGroup .mgTray {
    margin: 0;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 43px;
    height: 20px
}

.c-MessageGroup .mgTrayMessage {
    float: left
}

.c-MessageGroup .mgTrayMessage * {
    display: inline
}

.c-MessageGroup .mgTrayCBTD {
    float: right;
    margin-right: 20px
}

.c-MessageGroup .ShowH .mgTrayCBTD {
    visibility: hidden
}

.c-MessageGroup .mgTrayCB {
    margin-top: 5px
}

.c-MessageList {
    position: absolute;
    height: 100%;
    width: 100%
}

.c-MessageList .mailList {
    list-style: none;
    margin: 0
}

.c-MessageList .mailListHeader {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    margin: 0 20px;
    font-size: 85%
}

.c-MessageList .mailListHeader .arrangeBy {
    float: right
}

.c-MessageList .mailListHeader .view {
    float: left
}

.c-MessageList .mailListHeader .checkbox {
    float: left;
    margin-top: 19px;
    margin-right: 10px
}

.c-MessageList .messageListContainer {
    position: absolute;
    top: 0;
    padding-top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden
}

.c-MessageList .messageListInnerContainer {
    position: relative
}

.c-MessageList .messageListInnerContainer.RPOn {
    padding-bottom: 2em
}

.c-MessageList .messageListInnerContainer.RPOn.RPBottom.BottomMsg {
    margin-bottom: 110px
}

.c-MessageList .messageListInnerContainer.RPOn.RPRight.BottomMsg {
    margin-bottom: 134px
}

.c-MessageList .messageListInnerContainer.RPOff {
    min-height: 635px
}

.c-MessageList .MessageListBottomTextInner {
    padding: 20px 20px;
    z-index: 1
}

.c-MessageList .MessageListBottomTextOuter {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 17px;
    padding: 20px 20px;
    z-index: 1
}

.GotoPickerContainer {
    width: 17em;
    border: 2px solid #000;
    z-index: 4000001;
    position: absolute;
    background-color: #fff
}

.GotoPicker {
    border: 1px solid #ededed
}

.GotoPickerContainer {
}

.GotoPickerContainer .DatePickerText {
    height: 1.2em;
    padding-bottom: 5px;
    text-align: center
}

.GotoPickerContainer .DatePickerTextPadding {
    padding-top: 5px
}

.GotoPickerContainer .DatePickerLink {
    cursor: pointer
}

.GotoPickerContainer .DatePickerLinkText {
    text-decoration: none;
    display: block;
    margin: 0 5px 5px 5px;
    border-color: transparent !important;
    background-color: transparent !important
}

.GotoPickerContainer .MonthLinkEnabled {
    color: #2a2a2a
}

.GotoPickerContainer .MonthLinkDisabled {
    color: #ccc
}

.GotoPickerContainer .DatePicker {
    padding: 2px 0
}

.GotoPickerContainer .AlphaPicker {
    padding: 15px 10px
}

.DatePicker .DatePickerCurrMonthText {
    color: #2a2a2a
}

.DatePicker .MiniCalMonthGrid {
    font-size: 100%
}

#MiniCalendarControl {
}

#MiniCalendarControl .statusText {
    padding-left: 5px;
    padding-top: 4px
}

#MiniCalendarControl .msgText {
    padding-top: 4px;
    color: #6e6e6e;
    white-space: normal
}

#MiniCalendarControl .MiniCalRefreshLink {
    display: none
}

#MiniCalendarControl .statusText, #MiniCalendarControl #MiniCalendarMonthViewCache, #MiniCalendarControl .msgText {
    padding-left: 21px
}

#MiniCalViewNavigator, .MiniCalDateNavigator, #MiniCalAddEventControl, #MiniCalendarDayViewShowMoreLink {
    padding-left: 21px
}

.MiniCalMonthGrid {
    width: 100%;
    height: 100%;
    border-collapse: collapse
}

.MiniCalMonthGrid .HeaderSeperator {
    border-bottom: 1px solid #d3d3d3
}

.IE_M7 .MiniCalMonthGrid, .IE_M8 .MiniCalMonthGrid {
    width: 90%
}

.MiniCalMonthGrid TD.adjMonth A, .MiniCalMonthGrid TD.outsiderange A {
    color: #999
}

.MiniCalMonthGrid TD, .MiniCalMonthGrid TH {
    width: 14%;
    text-align: center;
    vertical-align: baseline
}

.MiniCalMonthGrid A {
    color: #444
}

.MiniCalMonthGrid TD.outsiderange A {
    text-decoration: none;
    cursor: text
}

.MiniCalMonthGrid TD.today {
    font-weight: normal !important;
    background-color: #ddd
}

.MiniCalMonthGrid TD.t_sel A {
    color: #fff
}

.MiniCalMonthGrid TH {
    font-weight: normal !important
}

.MiniCalMonthGrid TD A, .MiniCalMonthGrid TH SPAN {
    display: block
}

#MiniCalViewNavigator {
    margin-bottom: 5px
}

#MiniCalViewNavigator .ToolbarPipe {
    display: inline
}

#MiniCalViewNavigator .selected {
    color: #000
}

#MiniCalAddEventControl {
    margin-top: 6px;
    margin-bottom: 1px
}

.MiniCalDateNavigator {
    margin-bottom: 5px
}

#MiniCalDateNavDateString {
    float: left
}

.MiniCalDateNavControls {
    float: right;
    padding-bottom: 6px
}

.MiniCalEvent {
    clear: both;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative
}

.LeftNav .MiniCalEvent A.lnav_itemLnk {
    padding-top: 2px !important
}

.MiniCalTitle {
    padding-left: 3px
}

.MiniCalTime {
    color: #6e6e6e
}

.Charm {
    float: left;
    height: 16px;
    width: 16px;
    background-color: Transparent;
    border-width: 0
}

.charmClip16x16 {
    position: relative;
    overflow: hidden;
    top: -1px;
    left: 1px;
    width: 16px;
    height: 16px
}

.charmClip16x16 img, .charmClip16x16 input {
    position: absolute
}

.ELColor {
    height: 16px;
    width: 16px
}

.ELColorBox {
    height: 14px;
    width: 14px;
    overflow: hidden;
    border: 1px solid silver;
    position: relative
}

.ELIcons {
    float: left
}

.EventEditorDialog .Calendar_DatePicker .inputbox, .EventEditorDialog .Calendar_TimePicker .inputbox {
    margin-right: 0
}

.EventEditorDialog .AllDayLabel, .EventEditorDialog .AllDayCheck {
    white-space: nowrap;
    vertical-align: middle
}

.EventEditorDialog .MoreDetail TD {
    padding-bottom: 5px
}

.EventEditorDialog .AllDayLabel {
    padding-left: 2px
}

.EventEditorDialog .SelectInput {
    width: 100%;
    display: inline
}

.EventEditorDialog .EditorListItem {
    padding-right: 23px
}

.EventEditorDialog .EditorListItem.LastRow TD {
    padding-bottom: 4px
}

.EventEditorDialog .EditorLabel {
    text-align: right;
    width: 7em
}

.EventEditorDialog .EditorListItem.StartDateTime TD {
    padding-top: 1px
}

.EventEditorDialog .EditorListItem.CalendarPicker {
    padding-right: 19px
}

.EventEditorDialog .ErrorMessage {
    color: red;
    display: none;
    white-space: pre-wrap
}

.EventEditorDialog .ErrorMessageRow {
    margin-bottom: 12px
}

.EventEditorDialog .ErrorMessageRow TD {
    padding: 0
}

.EventEditorDialog .EditorFormContainer {
    width: 100%;
    padding: 0;
    table-layout: fixed
}

.EventEditorDialog LABEL.FormCaption {
    white-space: normal
}

.EventEditorDialog .ErrorMessageRow TD, .EventEditorDialog .ErrorMessageRow LABEL {
    white-space: normal
}

.EventEditorDialog .TextInput, .EventEditorDialog .inputField {
    width: 100%
}

.EventEditorDialog .EditorLabel {
    padding-right: 6px
}

.EventEditorDialog DIV, .EventEditorDialog TD, .EventEditorDialog LABEL {
    white-space: nowrap
}

.MiniCalTimePicker {
    padding: 0;
    margin: 0;
    width: 100%
}

#MiniCalendarDayViewShowMoreLink {
    margin-top: 6px
}

.UI_Popover.MiniCalAddEvent {
    z-index: 3000002
}

.UI_Dialog_Shadow.MiniCalAddEvent {
    z-index: 3000001
}

.UI_Popover.MiniCalDatePicker, .UI_Popover.MiniCalTimePicker {
    z-index: 3000004
}

.UI_Dialog_Shadow.MiniCalDatePicker, .UI_Dialog_Shadow.MiniCalTimePicker {
    z-index: 3000003
}

.c_m .GroupHeading {
    color: #666;
    padding: 0 15px;
    line-height: 26px
}

.c-MessageListHeader {
    display: block;
    margin-bottom: 1px;
    position: relative;
    z-index: 2;
    margin-right: 17px
}

.c-MessageListHeader .SortFilterItems {
    padding-top: 15px;
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 17px;
    padding-right: 20px
}

.c-MessageListHeader .mlRule {
    border-bottom: 1px solid #ccc;
    clear: both;
    margin: 0 20px
}

.c-MessageListHeader .SortFilterItems li.ToolbarItemCheckbox {
    margin: 0 0 15px 0;
    margin-left: -2px
}

.c-MessageListHeader .SortFilterItems a.c_ml.filterBarMenu {
    padding: 0;
    display: inline-block;
    color: #000
}

.c-MessageListHeader .SortFilterItems .searchFiltersMenuTitle, .c-MessageListHeader .SortFilterItems .searchFilterSubMenuTitle, .c-MessageListHeader .SortFilterItems .searchFilterMenuTitle, .c-MessageListHeader .SortFilterItems .c-ContainerPicker .menuLinkItem {
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block
}

.c-MessageListHeader .SortFilterItems .searchFilterMenuTitle {
    vertical-align: bottom
}

.c-MessageListHeader .SortFilterItems .searchFilterMenuTitle, .c-MessageListHeader .SortFilterItems .searchFilterSubMenuTitle {
    max-width: 160px
}

.c-MessageListHeader .SortFilterItems .searchFiltersMenuTitle {
    max-width: 128px;
    vertical-align: top
}

.c-MessageListHeader .SortFilterItems .c-ContainerPicker .menuLinkItem {
    display: block
}

.c-MessageListHeader .SortFilterItems .searchFiltersMenu .filterBarSubMenu {
    width: 100%;
    margin: 0;
    padding: 0 0 2px;
    position: relative
}

.c-MessageListHeader .SortFilterItems .searchFiltersMenu .filterBarSubMenu .searchFilterSubMenuTitle {
    margin-left: 14px;
    margin-right: 33px;
    display: block
}

.c-MessageListHeader .SortFilterItems .searchFiltersMenu .filterBarSubMenu .ExcoClosedNormal {
    position: absolute;
    right: 15px;
    margin: 0;
    top: 50%;
    margin-top: -5px
}

.c-MessageListHeader .SortFilterItems .datePickerPanel {
    padding: 1px 10px 5px 10px;
    width: 356px
}

.c-MessageListHeader .SortFilterItems .datePickerColumn, .c-MessageListHeader .SortFilterItems .dateRangePickerColumn {
    margin: 0 5px;
    float: left
}

.c-MessageListHeader .SortFilterItems .datePickerLabel {
    font-size: 86%;
    padding-bottom: 4px
}

.c-MessageListHeader .SortFilterItems .datePickerButtonPanel {
    clear: both;
    width: auto;
    padding: 15px 5px 5px 5px;
    float: right
}

.c-MessageListHeader .SortFilterItems #searchFiltersDate, .c-MessageListHeader .SortFilterItems a.c_ml.dateRangePicker {
    width: 150px
}

.c-MessageListHeader .SortFilterItems #searchFiltersDate span, .c-MessageListHeader .SortFilterItems a.c_ml.dateRangePicker span {
    line-height: 142%
}

.c-MessageListHeader .filterBarMenu .ExcoOpenSmall {
    margin: 0 0 0 2px
}

.c-MessageListHeader .filtersContainer {
    display: block
}

.c-MessageListHeader .filtersContainer img.g_bul {
    margin-left: 2px;
    margin-right: 5px
}

.c-MessageListHeader .filtersContainer img.g_noimg {
    padding-left: 14px
}

.c-MessageListHeader #sortMenu a.c_ml {
    padding-right: 0
}

.c-MessageListHeader #sortMenu li img {
    margin: 0 11px 0 1px;
    width: 8px;
    height: 11px
}

.c-MessageListHeader .MsgListToolbarsContainer .Toolbar {
    border: none
}

.c-MessageListHeader .PreviousMessageDisabled .ToolbarItem.PreviousMessage SPAN.Enabled, .c-MessageListHeader .NextMessageDisabled .ToolbarItem.NextMessage SPAN.Enabled {
    display: none
}

.c-MessageListHeader .PreviousMessageDisabled .ToolbarItem.PreviousMessage SPAN.Disabled, .c-MessageListHeader .NextMessageDisabled .ToolbarItem.NextMessage SPAN.Disabled {
    display: block
}

.c-MessageListHeader .ToolbarItemCheckbox INPUT {
    margin: 0
}

.c-MessageListHeader .ToolbarItemCheckbox {
    float: left;
    width: 20px;
    height: 19px;
    padding-top: 0
}

.c-MessageListHeader .ToolbarItemCheckbox .selCount {
    margin-right: 15px
}

.c-MessageListHeader .MsgListToolbarsContainer .ToolbarItemFirst .c_ml {
    padding-left: 10px
}

.IE_M7 .c-MessageListHeader .SortFilterItems {
    padding-left: 16px
}

.c-MessageListNavigation {
    z-index: 1;
    height: 20px;
    padding: 5px 5px 5px 20px;
    bottom: 0;
    left: 0;
    right: 17px
}

.c-MessageListNavigation.navigationDocked {
    position: absolute
}

.c-MessageListNavigation .PageNavigation {
    padding-right: 7px
}

.c-MessageListNavigation .PageNavigation UL {
    margin: 0
}

.c-MessageListNavigation .PageNavigation LI {
    height: 100%;
    list-style: none;
    float: left;
    padding: 0 5px
}

.c-MessageListNavigation .PageNavigation LI A {
    display: block
}

.c-MessageListNavigation .PageNavigation LI A {
    padding: 0 2px;
    padding-left: 4px
}

.c-MessageListNavigation .PageNavigation LI > DIV > IMG {
    margin: 0 2px;
    margin-left: 4px
}

.c-MessageListNavigation .nextPageLink, .c-MessageListNavigation .nextPageLink + DIV {
    margin-left: 3px
}

.c-MessageListNavigation .IE .PageNavigationPrev, .c-MessageListNavigation .IE .PageNavigationNext, .c-MessageListNavigation .IE .PageNavigationFirst, .c-MessageListNavigation .IE .PageNavigationLast {
    vertical-align: middle
}

.c-MessageListNavigation .PageNavigationMsgRange {
    float: left
}

.c-MessageListNavigation .FirstPageEnabled, .c-MessageListNavigation .PrevPageEnable, .c-MessageListNavigation .LastPageEnabled, .c-MessageListNavigation .NextPageEnabled, .c-MessageListNavigation .BeginOfList .FirstPageDisabled, .c-MessageListNavigation .BeginOfList .PrevPageDisabled, .c-MessageListNavigation .EndOfList .LastPageDisabled, .c-MessageListNavigation .EndOfList .NextPageDisabled {
    display: block
}

.c-MessageListNavigation .FirstPageDisabled, .c-MessageListNavigation .PrevPageDisabled, .c-MessageListNavigation .LastPageDisabled, .c-MessageListNavigation .NextPageDisabled, .c-MessageListNavigation .BeginOfList .FirstPageEnabled, .c-MessageListNavigation .BeginOfList .PrevPageEnabled, .c-MessageListNavigation .EndOfList .LastPageEnabled, .c-MessageListNavigation .EndOfList .NextPageEnabled {
    display: none
}

.c-MessageCount.NoRP {
    position: absolute;
    top: 17px;
    left: 42px;
    background-color: #fff
}

.c-MessageCount.NoRP a {
    display: inline
}

.c-MessageCount .SelMsgPaneInner {
    overflow: hidden
}

.c-MessageCount.RPOnMessageCount .SelMsgPaneInner {
    padding: 6px 0 6px
}

.c-MessageCount.NoSel .selCount, .c-MessageCount.NoSel .selAll, .c-MessageCount.NoSel .clearAllCk, .c-MessageCount.Sel .emptySel, .c-MessageCount.Sel .selAll, .c-MessageCount.SelPrompt .emptySel, .c-MessageCount.SelPrompt .clearAllCk {
    display: none
}

.c-MessageCount .inlineBlock {
    display: inline-block
}

.ContentRight .c-MessageCount {
    margin-left: -2px
}

.SelMsgPaneInner H3 {
    color: #666 !important;
    margin-bottom: 10px
}

.IE .SelMsgPaneInner H3 {
    margin-bottom: 7px
}

.Firefox .SelMsgPaneInner H3 {
    margin-bottom: 8px
}

.c-PageFooter {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2.2em;
    z-index: 1;
    overflow: hidden
}

.c-PageFooter .uxp_ftr_control {
    clear: both;
    border-top: 1px solid #ccc;
    width: 100%;
    font-size: 86%;
    color: #000;
    background-color: #fff
}

.c-PageFooter .uxp_ftr_control td {
    padding: 0;
    vertical-align: top
}

.c-PageFooter .uxp_ftr_control ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 10px
}

.c-PageFooter .uxp_ftr_control ul li {
    float: left;
    padding: 5px 10px
}

.c-PageFooter .uxp_ftr_control ul li a {
    white-space: nowrap
}

.c-PageFooter .uxp_ftr_control ul li span {
    white-space: nowrap;
    color: #666
}

.c-PageFooter .uxp_ftr_control ul li span#uxp_ftr_link_msc {
    color: red
}

.c-PageFooter .uxp_ftr_control ul li.right {
    float: right
}

.c-PageFooter .uxp_ftr_ff {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.messageListContainer .c-PageFooter {
    position: static
}

.InboxTable {
    width: 100%;
    min-width: 489px;
    clear: both;
    cursor: pointer
}

.InboxTable A {
    text-decoration: none;
    white-space: nowrap
}

.InboxTable INPUT {
    padding: 0;
    margin: 0
}

.IE_M8 .InboxTable INPUT {
    margin: 4px 10px 0 3px
}

.InboxTableBody, .InboxTableBody > LI {
    list-style: none;
    padding: 0;
    margin: 0
}

.InboxTableBody > LI {
    height: 30px;
    overflow: hidden;
    cursor: pointer
}

.Lt, .Rt, .Sb, .Ck {
    display: block;
    padding-top: 3px
}

.Sb, .Rt {
    padding-top: 4px
}

.IE .Sb {
    padding-top: 5px
}

.Ck {
    padding-top: 5px;
    padding-left: 15px
}

.Safari .Ck {
    padding-top: 4px
}

.Ck .CkWrapper {
    height: 19px
}

.Ck > div {
    margin-top: 4px;
    margin-bottom: 7px
}

.Lt > SPAN, .Rt > SPAN {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.Lt .Fm, .Lt .Ct, .Lt .Io {
    margin-right: -4px
}

.Rt .Cg, .Rt .Fol, .Rt .At, .Rt .At IMG {
    margin-right: -4px
}

.Sb {
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.5em;
    padding-right: 5px;
    white-space: nowrap;
    display: block
}

.Fm {
    width: 189px;
    padding-left: 1px
}

.MlSrch .Fm {
    width: 176px
}

.Fm {
    margin-top: 2px
}

.IE .Fm, .Firefox .Fm {
    padding-bottom: 0
}

.Ct {
    width: 25px;
    text-align: right;
    padding-right: 3px
}

.Io {
    width: 19px;
    overflow: visible
}

.Io img {
    margin-top: 3px
}

.Lt > .Ia {
    overflow: visible
}

.Cg, .Sz {
    width: 79px
}

.Fol {
    width: 54px;
    padding-left: 6px;
    text-align: left
}

.At {
    width: 22px
}

.Dt, .Sz {
    text-align: right;
    padding-right: 20px
}

.Dt {
    width: 105px
}

.Fm, .Ct, .Cg, .Fol, .Dt, .Sz {
    padding-bottom: 3px
}

.Rt {
    float: right
}

.Lt, .Ck {
    float: left
}

.MessageListSplitPaneFull .t_sel.mlRd .Sb a, .MessageListSplitPaneTop .t_sel.mlRd .Sb a {
    color: #fff
}

.mlUnrd .Dt div, .mlUnrd .DtB a {
    color: #444
}

.t_sel.mlUnrd div, .t_sel.mlRd div, .t_sel.mlUnrd span, .t_sel.mlRd span, .t_sel.mlUnrd a, .t_sel.mlUnrd .Fm a, .t_sel.mlRd a, .t_sel.mlUnrd .DtB a, .t_sel.mlRd .DtB a {
    color: #fff
}

.t_mlli .t_sel.mlUnrd div, .t_mlli .t_sel.mlRd div, .t_mlli .t_sel.mlUnrd span, .t_mlli .t_sel.mlRd span, .t_mlli .t_sel.mlUnrd a, .t_mlli .t_sel.mlUnrd .Fm a, .t_mlli .t_sel.mlRd a, .t_mlli .t_sel.mlUnrd .DtB a, .t_mlli .t_sel.mlRd .DtB a {
    color: #000
}

.FmD {
    max-width: 100%;
    display: inline-block
}

.FmSender {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis
}

.Firefox .FmSender {
    margin-right: 21px
}

.Fm img {
    margin-left: 5px;
    margin-top: 3px;
    float: right
}

.staticItem > SPAN {
    cursor: default
}

.staticItem:hover {
    background-color: transparent
}

.Fol, .Cg {
    padding-left: 10px
}

.Fol SPAN {
    white-space: nowrap
}

.At img {
    margin-top: 3px
}

.Fm div, .Sb > div, .Fol div, .Cg div, .Dt div {
    text-overflow: ellipsis;
    overflow: hidden
}

.Sz {
    padding-left: 20px
}

.Ia {
    overflow: visible
}

.NoMsgsPane {
    padding: 20px;
    overflow: hidden;
    padding-top: 13px
}

.Safari .NoMsgsPane {
    padding-top: 14px
}

.MessageListSplitPaneLeft .NoMsgsPane {
    clear: both
}

.InboxTable.Narrow {
    min-width: 0
}

.InboxTable.Narrow .Ck {
    vertical-align: top;
    width: 22px;
    float: left;
    height: 50px;
    padding-top: 0
}

.InboxTable.Narrow .Hd {
    display: block;
    overflow: hidden
}

.InboxTable.Narrow UL > LI {
    height: auto
}

.InboxTable.Narrow .Fm, .InboxTable.Narrow .Io, .InboxTable.Narrow .At {
    width: auto;
    padding-bottom: 0
}

.InboxTable.Narrow .CkWrapper {
    padding-bottom: 0;
    margin-top: 4px;
    margin-bottom: 26px
}

.IE .InboxTable.Narrow .CkWrapper {
    margin-top: 5px
}

.InboxTable.Narrow .Hd IMG {
    vertical-align: baseline;
    margin-top: 3px
}

.InboxTable.Narrow .Hd IMG.RenderedEmoji {
    margin-top: 0;
    vertical-align: middle
}

.IE_M7 .InboxTable.Narrow .Hd IMG {
    margin-top: 0
}

.InboxTable.Narrow .FmS img {
    margin-top: 2px
}

.InboxTable.Narrow .Io {
    display: inline;
    padding-top: 1px
}

.InboxTable.Narrow .Ct {
    display: inline-block;
    text-align: right;
    margin-top: 0;
    float: right
}

.IE .InboxTable.Narrow .Ct {
    margin-top: 0;
    white-space: nowrap
}

.InboxTable.Narrow .Fm {
    height: 19px;
    padding-left: 0;
    padding-top: 3px
}

.InboxTable.Narrow .Trusted {
    display: inline;
    margin-left: 5px
}

.InboxTable.Narrow .Im {
    padding-top: 0
}

.InboxTable.Narrow .Im, .InboxTable.Narrow .At, .InboxTable.Narrow .Ia, .InboxTable.Narrow .Io {
    display: inline-block;
    float: right
}

.InboxTable.Narrow .At, .InboxTable.Narrow .Io, .InboxTable.Narrow .Ct {
    padding-right: 4px
}

.InboxTable.Narrow .ia_c IMG {
    margin-right: 0;
    margin-bottom: 3px
}

.IE_M7 .InboxTable.Narrow .ia_c IMG {
    margin-bottom: 0
}

.InboxTable.Narrow .Hd {
    padding-left: 4px;
    padding-right: 20px
}

.InboxTable.Narrow .Sb {
    margin: 1px 0 0 0;
    padding-top: 0;
    padding-right: 0
}

.InboxTable.Narrow .FgB {
    overflow: visible
}

.InboxTable.Narrow .DtB, .InboxTable.Narrow .SzB {
    font-weight: normal !important;
    font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif !important;
    padding-left: 15px;
    padding-top: 2px;
    float: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666;
    font-size: 86%
}

.InboxTable.Narrow .FmB, .InboxTable.Narrow .SbB, .InboxTable.Narrow .DtB {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.InboxTable.Narrow .FmB .FmS {
    display: inline-block;
    max-width: 100%
}

.FmSender {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis
}

.rtl.FF_M2 .InboxTable.Narrow .Fm {
    float: right
}

.rtl.FF_M2 .InboxTable.Narrow .Sb {
    clear: both
}

.processWindow {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    height: 50px;
    opacity: 0;
    visibility: hidden;
    position: relative
}

.c-Header_ol .processWindow, .c_hcol .processWindow {
    height: 40px
}

.processWindow.visible {
    opacity: 1;
    visibility: visible
}

.processWindow .c-NavItem, .processWindow .c-NavLinkDisabled {
    padding: 0 !important
}

.processWindow .c-Menu {
    opacity: 0;
    display: block
}

.processWindow.visible .c-Menu {
    opacity: 1
}

.processWindow .c-Menu > * {
    display: none
}

.processWindow.visible .c-Menu > * {
    display: inline-block
}

.processWindow .c-Menu > a {
    padding: 0 10px;
    height: 50px !important;
    line-height: 49px;
    font-size: 86%
}

.c-Header_ol .processWindow .c-Menu > a, .c_hcol .processWindow .c-Menu > a {
    height: 40px !important;
    line-height: 39px
}

.processWindow .c-Menu > a * {
    text-decoration: none !important
}

.processWindow .c-Menu.c_mf > a, .processWindow .c-Menu > a:hover, .processWindow .c-Menu > a:focus {
    background-color: rgba(255, 255, 255, .12);
    outline: 0
}

.c-Menu.c_mf > a, .c-Menu > a:hover, .c-Menu > a:focus, .c-Menu.c_mf > a, .c-Menu > a:hover, .c-Menu > a:focus {
    background-color: rgba(0, 0, 0, .12);
    outline: 0
}

.processWindow .c-Menu .t_seli {
    background: none
}

.processMenuContent {
    width: 325px;
    height: auto;
    position: absolute;
    left: -213px;
    top: 50px;
    background: #fff
}

.c_hcol .processMenuContent {
    top: 40px
}

.processMenuContent.visible {
    display: block
}

.procw_body a {
    padding: 0 !important;
    margin: 0 !important;
    display: inline !important;
    color: #00709f !important;
    white-space: normal !important
}

.procw_body a:visited {
    color: #00709f !important
}

.procw_body a:hover {
    opacity: .8 !important;
    background: none !important
}

.procw_body button {
    margin-top: 10px;
    margin-right: 20px;
    font-size: 90%
}

.procw_pgroups, .procg_rows {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.procw_body {
    overflow: auto;
    max-height: 430px;
    padding: 10px;
    white-space: normal
}

.scrollbar .procw_body {
    height: 430px
}

.scrollbar .procw_body.showResize {
    height: 380px
}

.procw_dismissicon {
    float: right;
    height: 20px;
    width: 20px;
    margin-right: 1px
}

.procw_body .is_c, .procw_body .is_img {
    vertical-align: top !important
}

.procw_pgroups {
    padding: 0;
    margin: 0
}

.scrollbar .procw_pgroups {
    margin-right: 20px
}

.IE_M7 .procw_pgroups {
    margin-right: 4px
}

.procw_pgroups li {
    margin-top: 15px
}

.IE_M7 .procg_header {
    zoom: 1
}

.procg_rows {
    clear: both;
    margin-bottom: 1px
}

.procw_pgroups > li:first-child {
    margin-top: 0
}

.procg_statusText {
    float: left;
    white-space: nowrap;
    text-align: left
}

.procg_progressBar {
    height: 6px;
    overflow: hidden;
    margin-top: 5px
}

.procg_indeter .procg_progressBar {
    display: none !important
}

div.procg_progressBarProg {
    height: 100%;
    float: left
}

div.procg_progressBarRemaining {
    height: 100%;
    overflow: hidden;
    background-color: #ccc
}

.procg_displayText {
    font-family: "Segoe UI Semibold", "Segoe UI Web Semibold", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "HelveticaNeue-Medium", "Helvetica Neue", Arial, sans-serif;
    font-weight: bold
}

.procg_rows li {
    margin-top: 20px;
    padding: 0
}

.procg_rows > li:first-child {
    margin-top: 0
}

.procg_dismissicon {
    float: right
}

.procr_dismissicon {
    float: right
}

.procr_fileicon, .procr_filename {
    float: left
}

.procr_displayText {
    text-align: left;
    padding-left: 5px;
    float: left;
    color: #666
}

.procr_errorText {
    padding-left: 5px
}

.procr_error {
    color: #c85305
}

.procr_erroroptions {
    display: block
}

.procr_activeicon {
    width: 16px
}

.procr_fileicon {
    width: 16px;
    margin: 1px 2px
}

.procr_filename {
    color: #000;
    width: 275px;
    margin-left: 5px;
    font-weight: bold
}

#processMenuContainer {
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    height: auto;
    overflow: hidden;
    max-height: 450px;
    visibility: visible;
    -webkit-transition: max-height .5s;
    -moz-transition: max-height .5s;
    -o-transition: max-height .5s;
    transition: max-height .5s
}

#processMenuContainer.hiding {
    max-height: 0
}

.procr_cont {
    float: left;
    text-align: left
}

#rpMode {
    margin: 0;
    padding: 0
}

#rpMode .rp .is_c {
    visibility: hidden;
    padding-left: 2px;
    padding-right: 10px;
    margin-bottom: 7px
}

#rpMode .Selected .rp .is_c {
    visibility: inherit
}

#ReadMessageScrollableSection {
    outline: none
}

.c-ReadMessage {
    margin-right: 20px;
    outline: none;
    position: relative;
    height: 100%;
    width: 100%
}

.c-ReadMessage .rmMessages {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-right: 20px;
    overflow-y: scroll
}

.c-ReadMessage .rmRule {
    clear: both;
    margin-right: 20px;
    border-bottom: 1px solid #ccc
}

.c-ReadMessage .rmSubject {
    padding-top: 2px;
    margin-bottom: 13px
}

.c-ReadMessage .rmSubject.containsCompose {
    cursor: text
}

.c-ReadMessage .rmTop {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 0;
    z-index: 35;
    margin-right: 17px
}

.c-ReadMessage .rmTop .SubjectArea {
    padding-right: 20px;
    padding-top: 2px;
    margin-bottom: 12px
}

.c-ReadMessage .rmTop .SubjectArea .Watermark, .c-ReadMessage .rmTop .SubjectArea .fSubject {
    font-size: 150% !important;
    height: auto !important;
    margin: 0
}

.c-ReadMessage .rmButtons {
    float: right;
    white-space: nowrap;
    margin-top: 8px;
    margin-right: 20px
}

.c-ReadMessage .rmButtons A, .c-ReadMessage .rmButtons span {
    display: inline-block;
    vertical-align: middle;
    padding: 0 3px
}

.c-ReadMessage .rmButtons .rmClose, .c-ReadMessage .rmButtons .rmFull {
    padding-left: 6px;
    padding-right: 0
}

.c-ReadMessage .rmTopSpacer {
    z-index: 0;
    margin-right: 0;
    opacity: 0
}

.c-ReadMessage .rmTopSpacer .rmSubject {
    margin-right: -20px
}

.c-ReadMessage .rmTopSpacer .rmButtons {
    margin-right: 0
}

.c-ReadMessage .rmMaxMessagesBar, .c-ReadMessage .ServerMessagePaneInner {
    margin: 9px 15px 0;
    padding: 3px 8px 5px;
    height: auto !important;
    overflow: hidden;
    text-overflow: ellipsis
}

.c-ReadMessage .ServerMessagePaneInner {
    background: #f0f0f0
}

.c-ReadMessage .attachmentDownloadIframe {
    width: 0;
    height: 0;
    border-style: none;
    display: none
}

.IE .c-ReadMessage .SubjectArea {
    padding-bottom: 2px
}

.Firefox .c-ReadMessage .SubjectArea {
    padding-bottom: 1px
}

.c-ReadMessagePart {
    border-top: 1px solid #ccc;
    margin-bottom: 20px;
    position: relative
}

.c-ReadMessagePart .IE .HasLayout {
    zoom: 1
}

.c-ReadMessagePart .ClearBoth {
    clear: both
}

.c-ReadMessagePartBody {
}

.c-ReadMessagePartBody .readMsgBody {
    overflow-y: hidden;
    overflow-x: auto;
    padding: 16px 0 0;
    -ms-touch-select: grippers
}

.c-ReadMessagePartBody .PlainTextMessageBody PRE {
    white-space: normal;
    font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif
}

.c-ReadMessagePartBody .ContentFiltered A {
    cursor: default
}

.c-ReadMessagePartBody .ExternalClass a:link {
    text-decoration: underline
}

.c-ReadMessagePartBody .ExternalClass a:link.eeoEntity, .c-ReadMessagePartBody .ExternalClass a:link.mailToLink {
    text-decoration: none;
    border-bottom: 1px dotted
}

.c-ReadMessagePartBody .ReadMsgSafetyBar {
    margin: 20px 0 20px 0;
    height: auto !important;
    overflow: hidden;
    text-overflow: ellipsis;
    clear: both
}

.c-ReadMessagePartBody .ReadMsgSafetyBar Table {
    border-collapse: collapse;
    padding: 0
}

.c-ReadMessagePartBody .ReadMsgSafetyBar .SafetyStrip {
    width: 20px;
    padding: 0
}

.c-ReadMessagePartBody .SafetyBarPri-high .SafetyStrip {
    background: #ae0b0b
}

.c-ReadMessagePartBody .SafetyBarPri-medium .SafetyStrip {
    background: #ffb51c
}

.c-ReadMessagePartBody .SafetyBarPadding {
    display: block;
    margin-bottom: 4px
}

.c-ReadMessagePartBody .SafetyBarPipe {
    margin: 0 10px;
    color: #666 !important
}

.c-ReadMessagePartBody .SafetyBarItem {
    padding: 7px 0;
    margin-left: 15px
}

.c-ReadMessagePartBody .bubbleConversation {
    max-width: 600px;
    min-width: 300px
}

.c-ReadMessagePartBody .bubbleConversation .sentVia {
    font-size: 86%;
    color: #666;
    margin-bottom: 9px
}

.c-ReadMessagePartBody .bubbleConversation .findTextMessagesLink {
    text-decoration: none !important
}

.c-ReadMessagePartBody .speechBubble SPAN {
    line-height: 20px
}

.c-ReadMessagePartBody .speechBubble DIV {
    font-size: 86%;
    text-align: right;
    line-height: 16px;
    filter: alpha(opacity=70);
    opacity: .7
}

.c-ReadMessagePartBody .speechBubble {
    position: relative;
    padding: 4px 10px 6px 10px;
    margin-bottom: 10px;
    white-space: normal;
    word-wrap: break-word
}

.c-ReadMessagePartBody .speechBubble.left {
    margin-left: 10px;
    margin-right: 45px;
    color: #fff
}

.c-ReadMessagePartBody .speechBubble.left A {
    color: #fff;
    text-decoration: none !important
}

.c-ReadMessagePartBody .speechBubble.left A:hover .speechBubble.right A:hover {
    filter: alpha(opacity=80);
    opacity: .8
}

.c-ReadMessagePartBody .speechBubble.left A:visited .speechBubble.right A:visited {
    filter: alpha(opacity=60);
    opacity: .6
}

.c-ReadMessagePartBody .speechBubble.right {
    margin-right: 10px;
    margin-left: 45px;
    color: #000;
    background-color: #d4d4d4;
    border-color: #d4d4d4
}

.c-ReadMessagePartBody .speechBubble.right A {
    color: #000;
    text-decoration: none !important
}

.c-ReadMessagePartBody .speechBubble:after {
    position: absolute;
    top: 10px;
    border-style: solid;
    border-color: inherit
}

.c-ReadMessagePartBody .speechBubble.left:after {
    left: -10px;
    border-width: 0 10px 10px 0;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    content: " "
}

.c-ReadMessagePartBody .speechBubble.right:after {
    right: -10px;
    border-width: 0 0 10px 10px;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    content: " "
}

.Draft .c-ReadMessagePartBody .readMsgBody {
    padding-top: 1px
}

.c-ReadMessagePartHeader {
}

.c-ReadMessagePartHeader .ReadMsgHeader {
    height: auto !important;
    padding: 20px 15px 0 0
}

.c-ReadMessagePartHeader .ReadMsgHeader TD {
    padding-right: 4px;
    padding-bottom: 2px;
    vertical-align: top
}

.c-ReadMessagePartHeader .ReadMsgHeader IMG {
    vertical-align: middle
}

.c-ReadMessagePartHeader .ReadMsgFrom {
    display: inline-block;
    width: 100%;
    height: 64px
}

.c-ReadMessagePartHeader .ReadMsgFrom .TextSizeLarge, .c-ReadMessagePartHeader .ReadMsgFrom .c_ic_name {
    font-size: 133%
}

.c-ReadMessagePartHeader .ReadMsgFrom .is_c, .c-ReadMessagePartHeader .ReadMsgFrom .AddContact {
    vertical-align: baseline
}

.c-ReadMessagePartHeader .ReadMsgFrom .c_ic, .c-ReadMessagePartHeader .ReadMsgFrom .TextSizeLarge {
    float: left
}

.c-ReadMessagePartHeader .ReadMsgFrom .c_ic, .c-ReadMessagePartHeader .ReadMsgFrom .c_ic_img_sub {
    position: absolute;
    top: 0;
    z-index: 0
}

.c-ReadMessagePartHeader .ReadMsgFrom .c_ic_i {
    zoom: 1
}

.c-ReadMessagePartHeader .ReadMsgFrom .c_ic_frame_clip {
    left: 0
}

.c-ReadMessagePartHeader .ReadMsgFrom .c_ic_img_l, .c-ReadMessagePartHeader .ReadMsgFrom .c_ic_img_l .is_img, .c-ReadMessagePartHeader .ReadMsgFrom .c_ic_img_l .is_i {
    width: 60px;
    height: 60px
}

.c-ReadMessagePartHeader .ReadMsgFrom .c_ic_h_l, .c-ReadMessagePartHeader .ReadMsgFrom .c_ic_img_l .c_ic_frame_clip, .c-ReadMessagePartHeader .ReadMsgFrom .c_ic_img_l .c_ic_tile_clip, .c-ReadMessagePartHeader .ReadMsgFrom .c_ic_img_l .c_ic_tile {
    width: 60px;
    height: 60px
}

.c-ReadMessagePartHeader .ReadMsgFrom .MsgProperties {
    margin-left: 75px;
    overflow: hidden
}

.c-ReadMessagePartHeader .ReadMsgFrom .MsgProperties * {
    line-height: 142%
}

.c-ReadMessagePartHeader .ReadMsgFrom .Snippet, .c-ReadMessagePartHeader .ReadMsgFrom .ReadMsgTo {
    color: #666;
    line-height: 142%
}

.c-ReadMessagePartHeader .ReadMsgFrom .Snippet, .c-ReadMessagePartHeader .ReadMsgFrom .ReadMsgFrom, .c-ReadMessagePartHeader .ReadMsgFrom .ReadMsgTo {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.c-ReadMessagePartHeader .ReadMsgFrom .FakeSnippet {
    font-style: italic
}

.c-ReadMessagePartHeader .ReadMsgFrom .mp0_aph {
    margin-left: 5px
}

.c-ReadMessagePartHeader .ReadMsgFrom .MsgHover:hover .Snippet {
    color: #000
}

.c-ReadMessagePartHeader .ReadMsgFrom .DraftLabel {
    color: #c85305
}

.c-ReadMessagePartHeader .ReadMsgFrom .MessageHeaderItem {
    display: inline-block;
    vertical-align: top
}

.c-ReadMessagePartHeader .ReadMsgHeaderCol1 {
    color: #666;
    white-space: nowrap
}

.c-ReadMessagePartHeader .AttachmentContainer .AttachmentRow {
    padding-bottom: 2px
}

.c-ReadMessagePartHeader .AttachmentContainer .AttachmentCount td {
    vertical-align: bottom
}

.c-ReadMessagePartHeader .AttachmentContainer .AttachmentCount .AttIcon {
    width: 7px;
    padding-bottom: 3px
}

.c-ReadMessagePartHeader .AttachmentDownloadIframe {
    width: 0;
    height: 0;
    border-style: none;
    display: none
}

.c-ReadMessagePartHeader .ReadMsgHeader IMG {
    vertical-align: middle
}

.c-ReadMessagePartHeader .ReadMsgHeader .SenderSafetyMsg {
    padding: 0 4px
}

.c-ReadMessagePartHeader .ReadMsgHeader .SenderSafetyLinks {
    padding: 0 8px;
    display: inline-block
}

.c-ReadMessagePartHeader .ReadMsgSubject {
    line-height: 142%;
    padding-top: 1px;
    margin-bottom: 12px
}

.c-ReadMessagePartHeader .MsgActions {
    margin-left: 5px
}

.c-ReadMessagePartHeader .MsgActions .c_ml {
    display: block;
    zoom: 1
}

.c-ReadMessagePartHeader .MsgActions IMG {
    margin: 0 0 0 5px
}

.c-ReadMessagePartHeader .MsgPartToolbar {
    display: none
}

.c-ReadMessagePartHeader .MsgPartToolbar UL {
    list-style: none;
    margin: 0;
    padding: 0
}

.c-ReadMessagePartHeader .MsgPartToolbar LI {
    margin: 0
}

.c-ReadMessagePartHeader .MsgPartToolbar .ToolbarItem a {
    padding-top: 0;
    padding-bottom: 3px
}

.c-ReadMessagePartHeader .MsgPartGradient {
    overflow: hidden
}

.c-ReadMessagePartHeader .Collapsed.t_hov:hover {
    background-color: #fcfcfc
}

.c-ReadMessagePartHeader .Expanded.t_hov {
    background-color: transparent
}

.c-ReadMessagePartHeader .t_hov:hover .Snippet {
    color: #000
}

.c-ReadMessagePartHeader .ia_vc_f1 .MsgProperties .ia_c {
    width: auto
}

.c-ReadMessagePartHeader .ia_vc_f0 .MsgProperties .InstantActions {
    display: none
}

.c-ReadMessagePartHeader .MessageHeaderItem.InstantActions .ia_c {
    position: relative;
    left: 0
}

.c-ReadMessagePartHeader .MsgProperties .ImportanceIcon, .c-ReadMessagePartHeader .MsgProperties .AttachmentIcon, .c-ReadMessagePartHeader .MsgProperties .InstantActions, .c-ReadMessagePartHeader .MsgProperties .TrustedSenderIcon {
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 1px;
    height: 16px
}

.c-ReadMessagePartHeader .MsgProperties .InstantActions {
    margin-right: 0
}

.c-ReadMessagePartHeader .MsgProperties .TrustedSenderIcon {
    text-align: center
}

.c-ReadMessagePartHeader .MsgProperties .ia_c IMG {
    margin: 0
}

.c-ReadMessagePartHeader .MsgProperties .AddContact, .c-ReadMessagePartHeader .MsgProperties .Categories {
    line-height: 142%;
    margin-top: 2px;
    margin-left: 10px;
    margin-bottom: 1px
}

.c-ReadMessagePartHeader .MsgProperties .Date {
    color: #666;
    margin-right: 4px
}

.c-ReadMessagePartHeader .MsgProperties .Categories {
    margin-left: -2px
}

.c-ReadMessagePartHeader .MsgProperties .recip_to, .c-ReadMessagePartHeader .MsgProperties .Snippet, .c-ReadMessagePartHeader .MsgProperties .DetailToggle {
    margin-top: 4px
}

.c-ReadMessagePartHeader .MsgProperties .DetailToggle {
    cursor: hand;
    cursor: pointer
}

.c-ReadMessagePartHeader .MsgProperties .recip_to {
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.c-ReadMessagePartHeader .MsgProperties .FBA {
    position: static;
    margin: 5px 5px 2px
}

.c-ReadMessagePartHeader .MsgProperties .Categories {
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block
}

.c-ReadMessagePartHeader .MsgProperties .Date, .c-ReadMessagePartHeader .MsgProperties .AddContact {
    display: inline-block
}

.c-ReadMessagePartHeader .SenderLine {
    display: inline-block;
    white-space: nowrap;
    overflow: visible;
    width: 100%;
    margin-top: 5px
}

.c-ReadMessagePartHeader .SenderLineLeft {
    overflow: hidden
}

.c-ReadMessagePartHeader .ICName, .c-ReadMessagePartHeader .UnsafeSenderEmail {
    line-height: 142%;
    padding-right: 2px
}

.c-ReadMessagePartHeader .ICName {
    cursor: pointer
}

.c-ReadMessagePartHeader .ElvProgress {
    margin-left: 15px
}

.c-ReadMessagePartHeader .ElvBranding {
    margin-right: 15px;
    margin-bottom: 5px
}

.c-ReadMessagePartHeader .Collapsed .ReadMsgTo, .c-ReadMessagePartHeader .Expanded .Snippet, .c-ReadMessagePartHeader .Expanded .HideH .ReadMsgHeaderContainer {
    display: none
}

.c-ReadMessagePartHeader .TaggingText {
    margin-left: 10px;
    color: #555
}

.c-ReadMessagePartHeader .FloatLeft {
    float: left
}

.c-ReadMessagePartHeader .FloatRight {
    float: right
}

.c-ReadMessagePartHeader .NoWrap {
    white-space: nowrap
}

.c-ReadMessagePartHeader .ClearLeft {
    clear: left
}

.c-ReadMessagePartHeader .ClearRight {
    clear: right
}

.c-ReadMessagePartHeader .Safari .SenderLine {
    margin-top: 5px
}

.c-ReadMessagePartHeader .Safari .ReadMsgSubject {
    padding-top: 1px;
    margin-bottom: 14px
}

.c-ReadMessagePartHeader .IE {
}

.c-ReadMessagePartHeader .IE .MsgProperties .AddContact, .c-ReadMessagePartHeader .IE .MsgProperties .Date, .c-ReadMessagePartHeader .IE .MsgProperties .Categories {
    margin-top: 3px
}

.c-ReadMessagePartHeader .IE .HasLayout {
    zoom: 1
}

.c-ReadMessagePartHeader .IE.rtl .RightUnmanaged .MsgPartGradient {
    width: 100%
}

.c-ReadMessagePartHeader .IE .ReadMsgHeader IMG {
    vertical-align: bottom
}

.c-ReadMessagePartHeader .Firefox .ReadMsgSubject {
    padding-top: 1px;
    margin-bottom: 13px
}

.c-ReadMessagePartHeader .HideHistoryButton {
    display: none
}

.c-ReadMessagePartHeader .IsShowingHistory .ShowHistoryButton {
    display: none
}

.c-ReadMessagePartHeader .IsShowingHistory .HideHistoryButton {
    display: block
}

.c-ReadMessagePartHeader .HideDetailsButton {
    display: none
}

.c-ReadMessagePartHeader .IsShowingDetails .ShowDetailsButton {
    display: none
}

.c-ReadMessagePartHeader .IsShowingDetails .HideDetailsButton {
    display: block
}

.Read .MarkReadButton, .Unread .MarkUnreadButton {
    display: none
}

.Read .MarkUnreadButton, .Unread .MarkReadButton {
    display: block
}

.toggleExpandMessage.MsgPartGradient {
    cursor: hand;
    cursor: pointer
}

#RightRailContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0
}

.RightRailContent {
    width: 100%
}

.RightRailContainerWidth {
    width: 160px
}

.ModalDialog.SafetyUI .UserContent .Checkboxes {
    padding-top: 10px
}

.contentSearchBox {
    position: relative;
    height: 2.85em;
    z-index: 2
}

.contentSearchBox .SearchBox, .contentSearchBox .ShowAdvancedSearch {
    display: inline-block
}

.SearchBox {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px
}

.SearchBox .c_search_psb_f {
    height: 2em
}

.SearchBox .c_search_mc input.c_search_psb_box, .SearchBox .c_search_mc input.c_search_psb_box[disabled] {
    height: 2em;
    padding: 0;
    margin: 0;
    margin-left: 9px;
    font-size: 100%
}

.SearchBox .c_search_mc .c_search_sub_heading:first-child.c-InformationRow {
    padding-top: 11px
}

.SearchBox .c_search_mc .c_search_sub_heading.c-InformationRow {
    padding-top: 7px;
    padding-bottom: 6px
}

.SearchBox .c_search_mc li.c_m_firstchild > .c_search_sub_heading {
    padding-bottom: 5px;
    padding-top: 2px
}

.SearchBox .c_search_mc .c_search_contact .c_search_main_text {
    padding-top: 8px
}

.SearchBox #c_search_psb_menu {
    min-width: 300px;
    max-width: 600px
}

.c-SizerBar {
    opacity: 0;
    background: #888;
    position: absolute;
    bottom: 0;
    z-index: 3
}

.c-SizerBar.sizerBarX {
    width: 100%;
    height: 7px;
    cursor: row-resize
}

.c-SizerBar.sizerBarY {
    top: 0;
    height: 100%;
    width: 7px;
    cursor: col-resize
}

.c-SizerBar.sizerBarY.masterSizerBar {
    width: 5px
}

.c-SizerBar.active {
    opacity: 1
}

.containsYSizerBar {
    position: absolute;
    height: 100%;
    width: 100%
}

.WatermarkedInputContainer {
    position: relative
}

.Watermark {
    color: #666;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5px;
    border: 1px solid transparent;
    z-index: 0
}

input.WatermarkedInput:-ms-input-placeholder {
    color: #666
}

input.WatermarkedInput:focus:-moz-placeholder, input.WatermarkedInput:focus::-moz-placeholder {
    color: transparent
}

input.WatermarkedInput:focus::-webkit-input-placeholder {
    color: transparent
}

input.WatermarkedInput:focus:-ms-input-placeholder {
    color: transparent
}

.kbsh_group0 {
    float: left
}

.kbsh_group1 {
    float: right
}

.kbsh_main H2 {
    padding: 0;
    margin: 20px 0 5px 0;
    width: 400px
}

.kbsh_WriteEmail H2, .kbsh_ReadEmail H2 {
    margin-top: 0
}

.kbsh_main TABLE {
    border-spacing: 0;
    border-collapse: collapse
}

.kbsh_name, .kbsh_desc {
    width: 200px;
    padding: 0;
    font-size: 86%
}

.kbsh_name {
    color: #666
}

.kbsh_dialog.NotificationBase.ModalDialog .InnerContainer .UserArea {
    overflow: auto
}

.kbsh_dialog.NotificationBase.ModalDialog .InnerContainer .ButtonArea {
    text-align: left
}

.UI_Popover {
    margin: 0;
    border: 1px solid #ccc;
    z-index: 9000003;
    background-color: #fcfcfc
}

div.UI_Dialog_ZoomTest {
    left: 100px;
    visibility: hidden;
    position: absolute
}

.UI_Popover .Body, .UI_Popover .Header, .UI_Popover .Footer {
    padding: 20px
}

.UI_Popover .Header {
    padding-bottom: 0
}

.UI_Popover .Footer {
    padding: 0 20px 20px 20px
}

.UI_Popover A IMG {
    text-decoration: none;
    border: 0 none
}

.UI_Dialog_Shadow {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 9000002;
    filter: progid:DXImageTransform.Microsoft.alpha(opacity=30);
    opacity: .3
}

.UI_Dialog_BG {
    z-index: 9000001;
    filter: alpha(opacity=50);
    background-color: #fff;
    opacity: .5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
    position: fixed
}

.UI_Popover .Footer {
    text-align: right;
    word-wrap: break-word
}

.UI_Popover .Footer BUTTON {
    margin-right: 5px
}

.UI_Popover .closeBoxContainer {
    right: 20px;
    top: 20px;
    position: absolute
}

.UI_Popover .Footer BUTTON {
    min-width: 70px
}

.IE .UI_Popover .Footer BUTTON {
    overflow: visible;
    padding-left: 5px;
    padding-right: 5px
}

.Footer .StackedButtonSeperator {
    margin-bottom: 20px
}

.swxShimSidebar {
    border-left: 1px solid #c8c8c8;
    background-color: #f3f3f3;
    width: 305px;
    position: fixed;
    right: -305px;
    bottom: 0;
    top: 40px;
    z-index: 100;
    display: none;
    cursor: default
}

.swxShimSidebar .sidebarContainer {
    position: relative;
    height: 100%
}

.swxShimSidebar .o365-flexPane-skype-content, .swxShimSidebar .o365-flexPane-skype-sidebar {
    height: 100%;
    float: left
}

.swxShimSidebar button {
    min-width: 0
}

.swxShimSidebar button.btn:disabled {
    background-color: transparent !important
}

.swxShimSidebar button.btn:hover, .swxShimSidebar button.btn:active {
    background-color: transparent
}

#outlook-skypeplugin-toast {
    overflow: hidden;
    background: #00aff0;
    z-index: 1000
}

#outlook-skypeplugin-toast .toast-info {
    float: left;
    margin: 0 0 0 15px;
    color: #fff
}

#outlook-skypeplugin-toast .toast-info:focus {
    outline: none
}

#outlook-skypeplugin-toast .toast-info p {
    font: 12px/20px 'Segoe UI', 'SegoeUI', Arial, Helvetica, sans-serif
}

#outlook-skypeplugin-toast .toast-callControls {
    margin: 15px 14px 0 0
}

#outlook-skypeplugin-toast .toast-callControls ul {
    list-style-type: none;
    margin-bottom: -10px !important
}

#outlook-skypeplugin-toast .toast-callControls ul li {
    float: left
}

#outlook-skypeplugin-toast .toast-callControls ul li a {
    float: left;
    width: 36px;
    height: 36px;
    margin: 0 0 0 19px;
    overflow: hidden;
    text-indent: -9999px;
    background: transparent url('/webim/toast-buttons.png') no-repeat 0 0
}

#outlook-skypeplugin-toast .toast-callControls ul li a.toast-videoCallBtn:focus, #outlook-skypeplugin-toast .toast-callControls ul li a.toast-videoCallBtn:hover {
    background-position: 0 -36px
}

#outlook-skypeplugin-toast .toast-callControls ul li a.toast-videoCallBtn:active {
    background-position: 0 -72px
}

#outlook-skypeplugin-toast .toast-callControls ul li a.toast-audioCallBtn:link, #outlook-skypeplugin-toast .toast-callControls ul li a.toast-audioCallBtn:visited {
    background-position: -36px 0
}

#outlook-skypeplugin-toast .toast-callControls ul li a.toast-audioCallBtn:focus, #outlook-skypeplugin-toast .toast-callControls ul li a.toast-audioCallBtn:hover {
    background-position: -36px -36px
}

#outlook-skypeplugin-toast .toast-callControls ul li a.toast-audioCallBtn:active {
    background-position: -36px -72px
}

#outlook-skypeplugin-toast .toast-callControls ul li a.toast-endCallBtn:link, #outlook-skypeplugin-toast .toast-callControls ul li a.toast-endCallBtn:visited {
    background-position: -72px 0
}

#outlook-skypeplugin-toast .toast-callControls ul li a.toast-endCallBtn:focus, #outlook-skypeplugin-toast .toast-callControls ul li a.toast-endCallBtn:hover {
    background-position: -72px -36px
}

#outlook-skypeplugin-toast .toast-callControls ul li a.toast-endCallBtn:active {
    background-position: -72px -72px
}