.adBar * {
    line-height: 1
}

.adBar {
    width: 160px;
    height: 100%;
    font: normal 12px Segoe UI, Arial, Sans-Serif;
    line-height: 1.2em;
    color: #fff;
    overflow: hidden;
    position: absolute;
    background: #f3f3f3
}

.adBar .module {
    background-color: #f3f3f3;
    border-bottom: 5px solid #fff;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    width: 160px
}

#adPreview {
    font-family: "Segoe UI", Arial, Sans-Serif;
    font-size: 11px;
    float: right;
    position: absolute;
    right: 170px;
    top: 0
}

.useCss3 .preview {
    opacity: 0;
    margin-left: 10px
}

.useCss3 .module.preview.animate {
    -webkit-transition: all 167ms cubic-bezier(0, 0, 1, 1);
    -moz-transition: all 167ms cubic-bezier(0, 0, 1, 1);
    -o-transition: all 167ms cubic-bezier(0, 0, 1, 1);
    -ms-transition: all 167ms cubic-bezier(0, 0, 1, 1)
}

.flex-box {
    background: #f3f3f3;
    cursor: pointer;
    min-height: 35px;
    overflow: hidden;
    width: 160px;
    text-align: center;
    position: relative
}

.flex-box div {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    width: 100%;
    left: 0
}

.flex-box a.more {
    font: normal 13.5px Segoe UI, Arial, Sans-Serif;
    text-decoration: none;
    color: #2a2a2a
}

.adBar .module.textOnlyMarketing {
    background: none repeat scroll 0 0 #f3f3f3;
    cursor: pointer;
    height: 115px;
    overflow: hidden;
    position: relative;
    width: 160px;
    border-bottom: 5px solid #fff
}

.adBar .module.textOnlyMarketing .content {
    font-size: 13.5px;
    line-height: 14px;
    position: absolute;
    top: 10px;
    left: 6px;
    width: 148px;
    color: #444
}

.useCss3 .adBar .module.textOnlyMarketing {
    background: #f3f3f3;
    transition: background .25s ease-in-out .4s;
    -moz-transition: background .25s ease-in-out .4s;
    -webkit-transition: background .25s ease-in-out .4s;
    -ms-transition: background .25s ease-in-out .4s;
    -o-transition: background .25s ease-in-out .4s
}

.adBar .module.textOnlyMarketing.hoverState, .useCss3 .adBar .module.textOnlyMarketing:hover {
    background: #ececec
}

.adBar .module.textOnlyMarketing .source {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 10px;
    color: #666
}

.adBar .hero {
    height: 235px
}

.adBar .hero .flyoutIcon {
    left: 10px
}

.adBar .skyscraper {
    border-bottom: none;
    height: 600px
}

.adBar .module.fb {
    background-color: #f3f3f3;
    overflow: hidden;
    position: relative;
    width: 140px;
    border-bottom: 5px solid #fff;
    padding: 10px
}

.adBar .module.fbLarge {
    height: 428px
}

.adBar .module.fbSmall {
    height: 255px
}

.adBar .module.fbHero {
    height: 295px
}

.adBar .module.fb {
    cursor: pointer
}

.adBar .module.fb:hover .headline {
    color: #444
}

.adBar .module.fb .headline {
    font-weight: lighter;
    line-height: 1.4em
}

.adBar .module.fbLarge .headline, .adBar .module.fbHero .headline {
    padding-bottom: 20px;
    font-size: 21px
}

.adBar .module.fbSmall .headline {
    padding-bottom: 10px;
    font-size: 16px
}

.adBar .module .box {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle
}

.adBar .module.fb .box {
    width: 140px;
    height: 95px
}

.adBar .module.fbLarge .boxContainer {
    margin-bottom: 30px
}

.adBar .module.fbHero .boxContainer {
    margin-bottom: 20px
}

.adBar .module.fbSmall .boxContainer {
    margin-bottom: 10px
}

.adBar .module.fb img {
    position: relative;
    max-height: 80px;
    max-width: 110px
}

.adBar .hovered .module.fb {
    background-color: #e7e7e7
}

.adBar .clicked .module.fb {
    background-color: #d4d4d4
}

.adBar .module.fb .description {
    color: #444;
    line-height: 1.2em
}

.adBar .module.fbLarge .description {
    font-size: 13.5px
}

.adBar .module.fbHero .description, .adBar .module.fbSmall .description {
    font-size: 12px
}

.adBar .module .flyoutIcon {
    width: 20px;
    height: 20px;
    background: url("../content/img/flyoutIcon.png") no-repeat center;
    bottom: 10px;
    position: absolute;
    background-color: #f3f3f3;
    cursor: pointer
}

.adBar .module.fb .price {
    position: absolute;
    right: 10px;
    font-family: 'Segoe UI';
    line-height: 1.2em;
    bottom: 10px;
    font-size: 12px
}

.useCss3 .preview.opened {
    opacity: 1;
    margin-left: 0
}

.preview.jqOpened {
    margin-left: 0
}

.module.preview {
    border: 2px solid #666;
    padding: 10px;
    background: #fff;
    position: relative;
    display: none
}

.module.preview .gae.flyoutTitle {
    font-size: 15px;
    font-family: Segoe UI Semibold, Arial, Sans-Serif;
    font-weight: bold;
    display: block;
    padding: 0;
    margin: 0 0 7px 0;
    white-space: nowrap;
    line-height: 100%
}

.module.preview.imageGallery {
    width: auto;
    height: auto
}

.module.preview.imageGallery .galleryWrapper {
    overflow: hidden;
    position: relative
}

.module.preview .galleryNav {
    width: 20px;
    height: 40px;
    position: relative;
    cursor: pointer;
    visibility: hidden
}

.module.preview.imageGallery .gallery.item table {
    font-size: 0
}

.module.preview.imageGallery .gallery.item {
    overflow: hidden;
    float: left;
    background: #000
}

.module.preview.imageGallery .gallery.item img {
    border: 0
}

.module.preview.imageGallery .gallery.item img:hover {
    cursor: pointer
}

.module.preview.imageGallery .gallery.item .caption {
    width: auto;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #fff;
    background: #666;
    padding-left: 5px;
    text-align: left;
    position: relative
}

.module.preview.imageGallery .galleryNav.left {
    background: transparent url(../content/img/adBarMetroSprite.png) no-repeat -124px -150px;
    float: left
}

.module.preview.imageGallery .galleryNav.left:hover {
    background: transparent url(../content/img/adBarMetroSprite.png) no-repeat -149px -150px
}

.module.preview.imageGallery .galleryNav.right {
    background: transparent url(../content/img/adBarMetroSprite.png) no-repeat -124px -102px;
    margin-right: 0;
    float: right
}

.module.preview.imageGallery .galleryNav.right:hover {
    background: transparent url(../content/img/adBarMetroSprite.png) no-repeat -150px -102px
}

.module.preview.imageGallery .gallery.items {
    position: relative;
    left: 0
}

.module.preview.video {
    width: 376px;
    height: 211px
}

.module.preview.video .videoContainer {
    width: 376px;
    height: 211px;
    background: #444
}

.module.preview.video .videoContainer.nonesupported {
    color: #fff;
    text-align: center;
    margin-top: 96px
}