﻿.sidebar ul {
    list-style-type: none
}

.sidebar ul, .sidebar li {
    margin: 0;
    padding: 0
}

.sidebar li > a {
    display: block
}

.sidebar li > a, .sidebar li > a:visited {
    color: inherit
}

.sidebar .c_ic .c_ic_frame_clip {
    cursor: pointer
}

.sidebar .LandingPage {
    direction: ltr;
    text-align: left;
    font-size: 100%;
    color: #666
}

.sidebar .LandingPage .Scrollable {
    margin-top: 6px;
    overflow-y: auto
}

.sidebar .LandingPage .Scrollable[collapsed] ~ .WebIMUpsell .Separator {
    display: none
}

.sidebar .ContactTile {
    height: 30px;
    cursor: pointer;
    padding-left: 20px;
    clear: both
}

.sidebar .ContactTile:hover, .sidebar .ContactTile:focus, .sidebar .ContactTile.Hover {
    background-color: #e7e7e7
}

.sidebar .ContactTile > div {
    float: left
}

.sidebar .ContactTile .Chiclet {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 4px;
    height: 0;
    width: 0;
    border: 3px solid transparent
}

.sidebar .ContactTile .Online {
    border: 3px solid #87c80a
}

.sidebar .ContactTile .Name {
    margin-top: 4px;
    margin-bottom: 6px;
    margin-right: 10px;
    width: 200px;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-x: hidden;
    -ms-overflow-y: hidden;
    text-overflow: ellipsis
}

.sidebar .ContactTile .AVGlyphs {
    position: relative;
    float: left;
    margin-top: 9px;
    margin-bottom: 9px;
    width: 30px;
    height: 12px
}

.sidebar .ContactTile .AVGlyphs .VideoGlyph, .sidebar .ContactTile .AVGlyphs .AudioGlyph {
    float: left;
    width: 12px;
    overflow: hidden
}

.sidebar .ContactTile .AVGlyphs .VideoGlyph img {
    margin: -93px -109px 0 -37px
}

.sidebar .ContactTile .AVGlyphs .AudioGlyph {
    margin-left: 6px
}

.sidebar .ContactTile .AVGlyphs .AudioGlyph img {
    margin: -93px -81px 0 -65px
}

.PictureGrid {
    margin-right: -5px
}

.PictureGrid .c_ic {
    height: 30px;
    margin-bottom: 5px;
    margin-right: 5px
}

.PictureGrid .c_ic .c_ic_img_mm, .PictureGrid .c_ic .c_ic_img_mm .c_ic_frame_clip, .PictureGrid .c_ic .c_ic_img_mm .c_ic_tile_clip {
    width: 30px;
    height: 30px;
    z-index: auto
}

.PictureGrid .c_ic .c_ic_img_mm img {
    z-index: auto
}

.PictureGrid .c_ic .c_ic_text_h {
    height: 20px;
    margin-top: 5px
}

.PictureGrid.GridView .c_ic {
    float: left;
    width: 30px
}

.PictureGrid.GridView .c_ic .c_ic_text_h {
    display: none
}

.ContactPickerControl {
    margin-left: 20px;
    margin-right: 20px
}

.ContactPickerControl .Title {
    margin-top: 6px;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-x: hidden;
    -ms-overflow-y: hidden;
    text-overflow: ellipsis
}

.ContactPickerControl .Container {
    margin-top: 10px
}

.ContactPickerControl .BottomGroup {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    margin-right: 20px
}

.ContactPickerControl .AddButton {
    color: #fff;
    margin-right: 20px;
    margin-top: 20px
}

.ContactPickerControl .Infobar {
    margin-top: 20px;
    font-size: 86%;
    line-height: 16px;
    color: red
}

.WebIMContactSearch {
    padding-top: 10px
}

.WebIMContactSearch .ContactSearchBox {
    position: relative;
    height: 2em;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 35px;
    border: #bababa solid 1px;
    background-color: rgba(255, 255, 255, .8)
}

.WebIMContactSearch .ContactSearchBox:hover {
    border-color: #8f8f8f
}

.WebIMContactSearch .ContactSearchBox:focus {
    border-color: #5c5c5c;
    color: #000
}

.WebIMContactSearch .ContactSearchBox .ContactSearchInput {
    width: 100%;
    height: 2em;
    border: 0;
    padding: 0;
    margin: 0;
    margin-left: 9px;
    -webkit-appearance: none
}

.WebIMContactSearch .ContactSearchBox .ContactSearchInput, .WebIMContactSearch .ContactSearchBox .ContactSearchInput:-ms-input-placeholder, .WebIMContactSearch .ContactSearchBox .ContactSearchInput::-webkit-input-placeholder, .WebIMContactSearch .ContactSearchBox .ContactSearchInput:-moz-placeholder, .WebIMContactSearch .ContactSearchBox .ContactSearchInput::-moz-placeholder {
    color: #666
}

.WebIMContactSearch .ContactSearchBox .ContactSearchInput.InUse {
    color: #000
}

.WebIMContactSearch .ContactSearchBox .ContactSearchGlyph {
    position: absolute;
    top: .45em;
    right: 9px;
    height: 14px;
    width: 14px;
    overflow: hidden
}

.WebIMContactSearch .ContactSearchBox .ContactSearchGlyph img.ImageStrip {
    margin: -1px -22px 0 -144px
}

.WebIMContactSearch .ContactSearchResult {
    display: none;
    position: absolute;
    top: 40px;
    bottom: 30px;
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f3f3f3;
    border: 0 solid #f3f3f3;
    border-top-width: 10px;
    z-index: 50
}

.WebIMContactSearch .ContactSearchResult .ContactSearchInfoBar {
    display: none;
    font-size: 86%;
    margin-left: 30px;
    margin-right: 30px
}

.WebIMFavorites {
    margin-bottom: 36px
}

.WebIMFavorites .Title {
    margin-left: 30px;
    margin-bottom: 4px
}

.WebIMFavorites ul.FavoritesList li.FavoritesItem + li.FavoritesItem {
    margin-top: 10px
}

.WebIMFavorites .FavoritesItem {
    height: 50px;
    padding-left: 30px;
    cursor: pointer
}

.WebIMFavorites .FavoritesItem:hover, .WebIMFavorites .FavoritesItem:focus {
    background-color: #e7e7e7
}

.WebIMFavorites .FavoritesItem .UserTile {
    float: left;
    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-right: 10px
}

.WebIMFavorites .FavoritesItem .UserTile .c_ic {
    height: 40px;
    width: 40px
}

.WebIMFavorites .FavoritesItem .UserTile .c_ic .c_ic_img_ml, .WebIMFavorites .FavoritesItem .UserTile .c_ic .c_ic_img_ml .c_ic_frame_clip, .WebIMFavorites .FavoritesItem .UserTile .c_ic .c_ic_img_ml .c_ic_tile_clip {
    height: 40px;
    width: 40px;
    z-index: auto
}

.WebIMFavorites .FavoritesItem .UserTile .c_ic .c_ic_img_ml img {
    z-index: auto
}

.WebIMFavorites .FavoritesItem .Name {
    float: left;
    width: 150px;
    margin-top: 4px;
    margin-bottom: 6px;
    margin-right: 10px;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-x: hidden;
    -ms-overflow-y: hidden;
    text-overflow: ellipsis
}

.WebIMFavorites .FavoritesItem .AVGlyphs {
    position: relative;
    float: left;
    margin-top: 9px;
    margin-bottom: 9px;
    width: 30px;
    height: 12px
}

.WebIMFavorites .FavoritesItem .AVGlyphs .VideoGlyph, .WebIMFavorites .FavoritesItem .AVGlyphs .AudioGlyph {
    float: left;
    width: 12px;
    overflow: hidden
}

.WebIMFavorites .FavoritesItem .AVGlyphs .VideoGlyph img {
    margin: -89px -103px 0 -35px
}

.WebIMFavorites .FavoritesItem .AVGlyphs .AudioGlyph {
    margin-left: 6px
}

.WebIMFavorites .FavoritesItem .AVGlyphs .AudioGlyph img {
    margin: -89px -76px 0 -62px
}

.WebIMMessagingModule {
    padding: 0 20px 16px 20px
}

.WebIMMessagingModule a.Anchor {
    color: #000
}

.WebIMMessagingModule a.Anchor:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
    filter: alpha(opacity=80);
    opacity: .8
}

.WebIMMessagingModule a.Anchor:active {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=60)";
    filter: alpha(opacity=80);
    opacity: .6
}

.WebIMMessagingModule .Title {
    width: 100%;
    height: 30px;
    margin-bottom: 0;
    cursor: default;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-x: hidden;
    -ms-overflow-y: hidden;
    text-overflow: ellipsis;
    margin-left: -20px;
    margin-right: -20px
}

.WebIMMessagingModule .PictureGridContainer {
    overflow: hidden;
    margin-top: 14px;
    margin-bottom: 14px
}

.WebIMMessagingModule .PictureGridContainer .PictureGrid .c_ic {
    cursor: pointer
}

.WebIMMessagingModule .PictureGridContainer .PictureGrid .c_ic_fstarp {
    display: none
}

.WebIMMessagingModule .PictureGridContainer .PictureGrid.GridView {
    max-height: 97px;
    overflow: hidden
}

.WebIMMessagingModule .PictureGridContainer .PictureGrid.GridView .c_ic {
    height: 29px;
    width: 29px
}

.WebIMMessagingModule .PictureGridContainer .PictureGrid.GridView .c_ic .c_ic_img_mm, .WebIMMessagingModule .PictureGridContainer .PictureGrid.GridView .c_ic .c_ic_img_mm .c_ic_frame_clip, .WebIMMessagingModule .PictureGridContainer .PictureGrid.GridView .c_ic .c_ic_img_mm .c_ic_tile_clip {
    width: 29px;
    height: 29px
}

.WebIMMessagingModule .PictureGridContainer .PictureGrid.GridView .c_ic .c_ic_frame_clip {
    cursor: pointer
}

.WebIMMessagingModule .ViewAllLink {
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    margin-left: -20px;
    clear: both;
    background-color: #f3f3f3;
    height: 20px;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-x: hidden;
    -ms-overflow-y: hidden;
    text-overflow: ellipsis
}

.WebIMMessagingModule .ViewAllLink a {
    margin-left: 20px
}

.WebIMMessagingModule .Upsell {
    margin-top: 8px
}

.WebIMMessagingModule .Upsell .Text {
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis
}

.WebIMMessagingModule .Upsell .Link {
    display: block;
    margin-top: 15px
}

.WebIMMessagingModule .Upsell .Link .MessagingIcon {
    float: left;
    width: 16px;
    height: 15px;
    overflow: hidden;
    margin-top: 5px;
    margin-right: 10px
}

.WebIMMessagingModule .Upsell .Link .MessagingIcon img {
    margin: -2px -2px 0 -140px
}

.WebIMMessagingModule .Upsell .Link .LinkText {
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-x: hidden;
    -ms-overflow-y: hidden;
    text-overflow: ellipsis
}

.WebIMMessagingModule .Status {
    margin: 14px -20px 0 -20px
}

.WebIMMessagingModule .Status .Message {
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis
}

.WebIMMessagingModule .Status .Link {
    display: block;
    margin-top: 15px;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-x: hidden;
    -ms-overflow-y: hidden;
    text-overflow: ellipsis
}

.ModernConversationControl_Container {
    height: inherit;
    width: 260px;
    font-size: 100%;
    line-height: 20px;
    color: #000;
    direction: ltr;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px
}

.ModernConversationHistoryControl {
    position: absolute;
    top: 130px;
    bottom: 125px;
    width: 280px;
    margin-bottom: 5px;
    overflow-y: auto;
    -ms-overflow-y: auto;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
    outline: none
}

.ModernConversationControl_Header {
    margin-left: 30px;
    margin-right: 30px
}

.ModernConversationControl_Header .ModernConversationControl_ContactDetails {
    overflow: hidden
}

.ModernConversationControl_Header .ModernConversationControl_ContactDetails .UserTile {
    float: left;
    height: 60px;
    width: 60px;
    margin-top: 4px;
    margin-right: 10px
}

.ModernConversationControl_Header .ModernConversationControl_ContactDetails .UserTile .c_ic {
    height: 60px;
    width: 60px
}

.ModernConversationControl_Header .ModernConversationControl_ContactDetails .UserTile .c_ic .c_ic_img_mxl, .ModernConversationControl_Header .ModernConversationControl_ContactDetails .UserTile .c_ic .c_ic_img_mxl .c_ic_frame_clip, .ModernConversationControl_Header .ModernConversationControl_ContactDetails .UserTile .c_ic .c_ic_img_mxl .c_ic_tile_clip {
    height: 60px;
    width: 60px;
    z-index: auto
}

.ModernConversationControl_Header .ModernConversationControl_ContactDetails .UserTile .c_ic .c_ic_img_mxl img {
    z-index: auto
}

.ModernConversationControl_Header .ModernConversationControl_ContactDetails .UserTile .c_ic .c_ic_text_h_mxl {
    display: none
}

.ModernConversationControl_Header .ModernConversationControl_ContactDetails .TitleAndNetwork {
    float: left;
    max-width: 170px
}

.ModernConversationControl_Header .ModernConversationControl_ContactDetails .TitleAndNetwork .Presence, .ModernConversationControl_Header .ModernConversationControl_ContactDetails .TitleAndNetwork .Network {
    float: left;
    max-width: 73px;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-x: hidden;
    -ms-overflow-y: hidden;
    text-overflow: ellipsis;
    font-size: 86%
}

.ModernConversationControl_Header .ModernConversationControl_ContactDetails .TitleAndNetwork .Presence {
    padding-right: 3px;
    color: #666
}

.ModernConversationControl_Header .ModernConversationControl_ContactDetails .TitleAndNetwork .Network {
    padding-right: 5px;
    color: #000
}

.ModernConversationControl_Header .ModernConversationControl_ContactDetails .TitleAndNetwork .NetworkChevron {
    float: left;
    height: 6px;
    width: 8px;
    margin-top: 7px;
    overflow: hidden
}

.ModernConversationControl_Header .ModernConversationControl_ContactDetails .TitleAndNetwork .NetworkChevron img {
    margin: -2px -20px 0 -130px
}

.ModernConversationControl_Header .ModernConversationControl_ContactDetails .TitleAndNetwork .NetworkMenuContainer .ContextMenu {
    top: auto;
    right: auto;
    margin-top: 20px
}

.ModernConversationControl_Header .CommandBar {
    height: 28px;
    margin-top: 9px;
    margin-bottom: 9px
}

.ContextMenu .ContextMenuText {
    margin-right: 20px
}

.ContextMenu .ContextMenuChevron {
    overflow: hidden;
    height: 19px;
    width: 8px;
    right: 20px;
    position: absolute
}

.ContextMenu .ContextMenuChevron img {
    margin: 6px -18px 0 -124px
}

.ModernConversationControl_Header .RightGroup {
    float: right
}

.ModernConversationControl_Header .ModernConversationControl_CallButtons, .ModernConversationControl_Header .CommandMenu {
    float: left
}

.ModernConversationControl_Header .Title {
    margin-bottom: 0;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-x: hidden;
    -ms-overflow-y: hidden;
    text-overflow: ellipsis
}

.ModernConversationControl_Header .Title a {
    color: inherit
}

.ModernConversationControl_Header .Link:hover {
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
    filter: alpha(opacity=80);
    opacity: .8
}

.ModernConversationControl_Header .RosterCount {
    font-size: 86%;
    color: inherit
}

.ModernConversationControl a:hover {
    text-decoration: none
}

.ModernConversationRosterControl .StatusBarContainer {
    height: 8px;
    width: 8px;
    margin-top: 6px;
    margin-right: 10px;
    float: left
}

.ModernConversationRosterControl .StatusBar {
    height: 0;
    width: 0;
    border: 4px solid #87c80a;
    background-color: #87c80a
}

.ModernConversationControl_Header .RosterCount .RosterChevron {
    position: absolute;
    width: 8px;
    height: 19px;
    overflow: hidden;
    margin-left: 5px
}

.ModernConversationControl_Header .RosterCount .RosterChevron img {
    margin: 6px -20px 0 -130px
}

.ModernConversationHistoryControl .Spinner, .RecentConversationsControl_Items .Spinner {
    height: 20px;
    width: 20px;
    margin-left: 120px
}

.ModernConversationHistoryControl * {
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    -webkit-user-select: text;
    user-select: text
}

li.ModernConversationHistory_ConversationDivider, li.ModernConversationHistory_ActivityMessage {
    margin-bottom: 9px;
    margin-left: 10px;
    margin-right: 30px;
    font-size: 86%;
    line-height: 16px;
    color: #666;
    text-align: left;
    cursor: default;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -o-user-select: none !important;
    -webkit-user-select: none !important;
    user-select: none !important
}

.ModernConversationHistoryControl li:last-child div {
    margin-bottom: 0
}

.ModernConversationHistoryItem {
    display: block;
    position: relative;
    cursor: default;
    width: 220px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px
}

.t_sent {
    background-color: #d4d4d4;
    color: #000 !important
}

.t_sent a {
    color: #000
}

.t_received {
    background-color: #094ab2;
    color: #fff !important
}

.t_received .ModernConversationHistoryItemNode_Sender::selection, .t_received .ModernConversationHistoryItemNode_Text span::selection, .t_received .ModernConversationHistoryItemNode_Timestamp::selection {
    background-color: #fff;
    color: #39f
}

.t_received a {
    color: #fff
}

.t_sent a:hover, .t_received a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
    filter: alpha(opacity=80);
    opacity: .8
}

.t_sent a:active, .t_received a:active {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=60)";
    filter: alpha(opacity=80);
    opacity: .6
}

.highContrast .t_sent, .highContrast, .t_received {
    border: 1px solid transparent
}

.t_sent_pointer, .t_received_pointer {
    position: absolute;
    height: 0;
    width: 0;
    top: 15px;
    border-top-style: solid;
    border-top-width: 10px;
    content: ""
}

.t_received_pointer {
    left: -10px;
    border-top-color: #094ab2;
    border-left: 10px solid transparent
}

.t_sent_pointer {
    right: -10px;
    border-top-color: #d4d4d4;
    border-right: 10px solid transparent
}

.ModernConversationHistoryItemNode_Text {
    margin-bottom: 2px;
    line-height: 20px
}

.ModernConversationHistoryItemNode_Text span {
    line-height: 20px
}

.ModernConversationHistoryItemNode_Timestamp, .ModernConversationHistoryItemNode_Sender, .ModernConversationNetworkControl_CurrentNetwork, .InfoBar {
    font-size: 86%;
    line-height: 17px
}

.ModernConversationHistoryItemNode_Text .Emoticon {
    vertical-align: middle;
    height: 19px;
    width: 19px
}

.ModernConversationNetworkControl, .InfoBar {
    margin-left: 10px
}

.InfoBar {
    margin-right: 10px
}

.ModernConversationNetworkControl {
    margin-bottom: 10px;
    margin-top: 10px;
    float: left;
    color: #000;
    position: relative
}

.ModernConversationTypingControl {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 213px;
    height: 16px;
    font-size: 86%;
    line-height: 16px;
    color: #666
}

.ModernConversationTypingControl .TypingText {
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-x: hidden;
    -ms-overflow-y: hidden;
    text-overflow: ellipsis
}

textarea.ModernConversationInputControl_TextBox {
    height: 39px;
    width: 218px !important;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-color: #bababa;
    border-width: 1px;
    border-style: solid;
    overflow: auto;
    font-size: 100%;
    line-height: 20px;
    resize: none
}

.ModernConversationInputControl_DefaultText textarea.ModernConversationInputControl_TextBox {
    color: #666
}

.ModernConversationControl_Container, .InfoBar {
    color: #666
}

.ModernConversationInputControl .ModernConversationInputControl_TextBox:hover {
    border-color: #8f8f8f
}

.ModernConversationInputControl .ModernConversationInputControl_TextBox:focus {
    border-color: #5c5c5c;
    outline: none
}

.ContextMenu {
    top: 37px;
    right: 30px;
    min-width: 150px;
    padding-top: 6px;
    padding-bottom: 5px;
    float: right;
    cursor: default;
    direction: ltr;
    font-size: 100%;
    line-height: 20px;
    white-space: nowrap
}

.ContextMenuItem {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px
}

.NetworkAttributeMenuItem_SelectedIndicator {
    width: 12px;
    height: 12px;
    padding-left: 5px
}

.NetworkAttributeMenuItem_Name {
    padding-left: 13px
}

.ContextMenuItem:hover, .ContextMenuItem:focus {
    cursor: pointer;
    background-color: #f3f3f3
}

.ContextMenuItem .NetworkAttributeMenuItem {
    background-color: inherit
}

.ModernConversationControl_EmoticonPanel {
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: #000;
    border-width: 2px;
    border-style: solid;
    z-index: 1000;
    background-color: #fff;
    position: absolute;
    right: 0;
    margin-left: 10px;
    margin-right: 10px;
    bottom: 100px;
    cursor: auto
}

.ModernConversationControl_EmoticonPanel li {
    display: inline
}

.EmoticonLaunchImage {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 10px
}

.EmoticonLaunchImage:hover, .NetworkImage:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
    filter: alpha(opacity=80);
    opacity: .8
}

.EmoticonLaunchImage:active, .NetworkImage:active {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=60)";
    filter: alpha(opacity=80);
    opacity: .6
}

.TypingControlImage {
    float: left;
    width: 12px;
    height: 13px;
    padding-right: 3px;
    padding-top: 2px;
    vertical-align: middle
}

.NetworkImage {
    width: 16px;
    height: 16px
}

.EmoticonAnchor {
    height: 35px;
    width: 35px;
    cursor: pointer;
    float: left;
    overflow: hidden
}

.EmoticonAnchor:hover, .EmoticonAnchor:focus {
    background-color: #f3f3f3
}

.ModernConversationControlBottom {
    position: absolute;
    bottom: -4px;
    width: 260px;
    margin-bottom: 20px
}

.ModernConversationControlBottom .SkypeUpsell {
    display: none;
    width: 240px;
    margin-left: 10px;
    font-size: 86%
}

.ModernConversationControlBottom .SkypeUpsell img {
    margin-bottom: -3px
}

.ModernConversationHistoryItemNode_Timestamp, .ModernConversationHistoryItemNode_Sender {
    text-align: right;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=70)";
    filter: alpha(opacity=80);
    opacity: .7
}

.ModernConversationHistoryItemNode_Sender {
    padding-bottom: 3px;
    margin-left: 15px;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-x: hidden;
    -ms-overflow-y: hidden;
    text-overflow: ellipsis
}

.ModernConversationHistoryItemNode_Timestamp {
    padding-bottom: 8px;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -o-user-select: none !important;
    -webkit-user-select: none !important;
    user-select: none !important
}

.ModernConversationControl_VideoCallButton, .ModernConversationControl_AudioCallButton, .ModernConversationControl_DisableVideoCallButton, .ModernConversationControl_DisableAudioCallButton, .ModernConversationControl_SpinningWheel, .ModernConversationControl_Header .CommandMenu, .ModernConversationControl_Header .BackButton, .ModernConversationControl_Header .AddMembersButton {
    float: left;
    margin-left: 8px;
    width: 28px;
    height: 28px;
    border: 0 none transparent;
    background-color: transparent
}

.ModernConversationControl_DisableVideoCallButton, .ModernConversationControl_DisableAudioCallButton {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=16)";
    filter: alpha(opacity=80);
    opacity: .16
}

.ModernConversationControl_Header .CommandBar a {
    overflow: hidden
}

.ModernConversationControl_Header .BackButton {
    margin-left: -1px
}

.ModernConversationControl_Header .CommandMenu {
    width: 14px;
    cursor: pointer
}

.ModernConversationControl_Header .CommandMenu:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
    filter: alpha(opacity=80);
    opacity: .8
}

.ModernConversationControl_Header .CommandMenu img {
    margin: 11px -30px 0 -114px
}

.ModernConversationControl_Header .BackButton img {
    margin: -1px -129px 0 -1px
}

.ModernConversationControl_Header .BackButton:hover img {
    margin: -29px -129px 0 -1px
}

.ModernConversationControl_Header .BackButton:active img {
    margin: -57px -129px 0 -1px
}

.ModernConversationControl_AudioCallButton img, .ModernConversationControl_DisableAudioCallButton img {
    margin: -1px -73px 0 -57px
}

.ModernConversationControl_AudioCallButton:hover img {
    margin: -29px -73px 0 -57px
}

.ModernConversationControl_AudioCallButton:active img {
    margin: -57px -73px 0 -57px
}

.ModernConversationControl_VideoCallButton img, .ModernConversationControl_DisableVideoCallButton img {
    margin: -1px -101px 0 -29px
}

.ModernConversationControl_VideoCallButton:hover img {
    margin: -29px -101px 0 -29px
}

.ModernConversationControl_VideoCallButton:active img {
    margin: -57px -101px 0 -29px
}

.ModernConversationControl_Header .AddMembersButton img {
    margin: -1px -45px 0 -85px
}

.ModernConversationControl_Header .AddMembersButton:hover img {
    margin: -29px -45px 0 -85px
}

.ModernConversationControl_Header .AddMembersButton:active img {
    margin: -57px -45px 0 -85px
}

.ModernConversationRosterControl .RosterContainer {
    top: 95px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: auto;
    max-width: 206px
}

.ModernConversationRosterControl .RosterItem {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px
}

.ModernConversationRosterControl .ContactDisplayName {
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-x: hidden;
    -ms-overflow-y: hidden;
    text-overflow: ellipsis;
    font-size: 100%;
    line-height: 20px
}

.ModernConversationControl_Header .ConfirmationDialog {
    top: 37px;
    left: 30px;
    width: 200px;
    padding: 18px 20px 20px 20px
}

.ModernConversationControl_Header .ConfirmationDialog .AcceptButton {
    margin-top: 14px;
    float: right
}

.InviteRequest {
    float: left;
    margin-top: 20px;
    margin-left: -10px
}

.InviteAccept, .InviteDecline {
    margin-top: 5px
}

.InviteAccept {
    margin-left: 10px;
    margin-right: 16px
}

.InviteGreeting .ModernConversationHistoryItemNode_Text {
    margin-bottom: 0
}

.WebIMPeople {
    padding-bottom: 3px;
    margin-left: 30px;
    margin-right: 30px;
    min-height: 200px
}

.WebIMPeople .Header {
    height: 30px;
    margin-bottom: 5px
}

.WebIMPeople .Header .Title {
    float: left;
    margin-bottom: 0
}

.WebIMPeople .Header .Filter {
    display: block;
    float: left;
    cursor: pointer;
    color: #666;
    margin-top: 9px;
    margin-left: 10px
}

.WebIMPeople .Header .Filter .FilterText {
    float: left;
    margin-right: 5px
}

.WebIMPeople .Header .Filter .Chevron {
    float: left;
    width: 8px;
    height: 6px;
    margin-top: 9px;
    overflow: hidden
}

.WebIMPeople .Header .Filter .Chevron img {
    margin: -2px -20px 0 -130px
}

.WebIMPeople .Header .FilterMenuContainer {
    position: relative
}

.WebIMPeople .Header .FilterMenuContainer .ContextMenu {
    top: 30px;
    right: 0
}

.WebIMPeople .ContactList {
    clear: both;
    margin-left: -30px;
    margin-right: -30px
}

.RecentConversationsControl_Items {
    display: block;
    cursor: default;
    margin-bottom: 36px
}

.RecentConversationsControl_Items .ShowMore, .RecentConversationsControl_Items .Title {
    margin-left: 30px;
    margin-bottom: 3px
}

.RecentConversationsControl_Items .ErrorMessage {
    color: red;
    margin-left: 30px;
    width: 240px;
    padding-top: 4px;
    padding-bottom: 1px
}

.RecentConversationsControl a:hover, .RecentConversationsControl a:focus {
    text-decoration: none
}

ul.RecentConversationsContainer li + li {
    margin-top: 10px
}

.RecentConversationsControl_Item {
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px
}

.RecentConversationsControl_UserTile {
    float: left;
    height: 40px;
    width: 40px;
    margin-right: 10px
}

.RecentConversationsControl_UserTile .c_ic {
    height: 40px;
    width: 40px
}

.RecentConversationsControl_UserTile .c_ic .c_ic_img_ml, .RecentConversationsControl_UserTile .c_ic .c_ic_img_ml .c_ic_frame_clip, .RecentConversationsControl_UserTile .c_ic .c_ic_img_ml .c_ic_tile_clip {
    height: 40px;
    width: 40px;
    z-index: auto
}

.RecentConversationsControl_UserTile .c_ic .c_ic_img_ml img {
    z-index: auto
}

.RecentConversationsControl_UserTile .c_ic .c_ic_text_h_ml {
    display: none
}

.RecentConversationsControl_ContactDisplayName {
    line-height: 20px;
    width: 130px;
    margin-top: -1px
}

.Firefox .sidebar .RecentConversationsControl_ContactDisplayName, .Safari .sidebar .RecentConversationsControl_ContactDisplayName {
    margin-left: 50px
}

.RecentConversationsControl_ConnectedTo {
    position: absolute;
    bottom: 0;
    height: 16px;
    padding-top: 21px;
    padding-bottom: 7px;
    margin-left: 30px;
    white-space: nowrap
}

.RecentConversationsControl_ContactDisplayName, .RecentConversationsControl_MessageText, .RecentConversationsControl_Time, .RecentConversationsControl_ConnectedToText, .RecentConversationsControl_ConnectedToAddLink {
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-x: hidden;
    -ms-overflow-y: hidden;
    text-overflow: ellipsis
}

.RecentConversationsControl_MessageText img.Emoticon {
    width: 16px;
    height: 16px;
    vertical-align: middle
}

.RecentConversationsControl_Time, .RecentConversationsControl_ConnectedToText, .RecentConversationsControl_ConnectedToAddLink {
    font-size: 86%;
    line-height: 16px
}

.RecentConversationsControl_MessageText {
    float: left;
    width: 130px;
    min-height: 20px;
    line-height: 20px;
    margin-right: 10px
}

.RecentConversationsControl_MessageText span {
    line-height: 16px
}

.RecentConversationsControl_Time {
    width: 50px;
    text-align: right;
    padding-top: 3px
}

.RecentConversationsControl_Item:hover, .RecentConversationsControl_Item:focus {
    background-color: #e7e7e7;
    cursor: pointer
}

.RecentConversationsControl_Item_Selected {
    border: solid 1px #bbd8fb;
    background-color: #f3f7fd
}

.RecentConversationsControl_ContactDisplayName_Highlight {
    color: #000
}

.t_highlight {
    color: #094ab2
}

.RecentConversationsControl_ConnectedToText {
    color: #666;
    display: inline;
    display: inline-block
}

.RecentConversationsControl_ConnectedToAddLink {
    display: inline-block;
    text-decoration: none;
    padding: 0 0 0 5px
}

.WebIMFlyout {
    position: absolute;
    z-index: 10000;
    background-color: #fff;
    border: 2px solid #000
}

.WebIMUpsell {
    margin-left: 30px;
    margin-right: 30px
}

.WebIMUpsell .Separator {
    height: 2px;
    margin-bottom: 9px;
    margin-left: -30px;
    margin-right: -30px;
    background-color: #fff
}

.WebIMUpsell .UpsellItem {
    display: block
}

.WebIMUpsell .UpsellItem img {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px
}

.WebIMUpsell .UpsellItem .Text {
    float: left;
    color: #666;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-x: hidden;
    -ms-overflow-y: hidden;
    text-overflow: ellipsis
}

.WebIMUpsell .Skype {
    padding-top: 6px;
    margin-bottom: 30px
}

.WebIMUpsell .Skype .Title {
    margin-bottom: 8px
}

.WebIMUpsell .Skype .PictureGridContainer {
    max-height: 60px;
    overflow: hidden;
    margin-top: 16px;
    margin-bottom: 6px
}

.WebIMUpsell .Skype .PictureGridContainer .PictureGrid .c_ic {
    margin-bottom: 0;
    margin-right: 0
}

.WebIMUpsell .Skype .PictureGridContainer .PictureGrid .c_ic .c_ic_frame_clip {
    cursor: pointer
}

.WebIMUpsell .Skype .MoreLink {
    display: block;
    color: inherit;
    font-size: 86%;
    margin-bottom: 6px
}

.WebIMUpsell .Skype .UpsellItem {
    height: 50px;
    padding-top: 11px
}

.WebIMUpsell .Skype .UpsellItem img {
    height: 40px;
    width: 40px
}

.WebIMUpsell .Skype .UpsellItem .Text {
    max-width: 190px;
    margin-top: 14px
}

.WebIMUpsell .Skype .UpsellItem .Text.MultiLine {
    white-space: normal;
    margin-top: 4px
}

.WebIMUpsell .Skype .FlyoutContainer {
    padding-top: 5px;
    padding-bottom: 5px
}

.WebIMUpsell .Skype .FlyoutContainer .FlyoutItem {
    padding: 5px 15px
}

.WebIMUpsell .Other {
    padding-top: 6px;
    margin-bottom: 30px
}

.WebIMUpsell .Other .Title {
    margin-bottom: 4px
}

.WebIMUpsell .Other .UpsellItem {
    height: 30px
}

.WebIMUpsell .Other .UpsellItem img {
    height: 20px;
    width: 20px
}

.WebIMUpsell .Other .UpsellItem .Text {
    max-width: 210px;
    margin-top: 4px
}

.WebIMUpsell .CloseLink {
    display: block;
    padding-top: 6px
}