﻿.cl_ImgStrip {
    background-image: url('contactlistv2/img/clv2_assets_strip.png');
    background-color: transparent;
    background-repeat: no-repeat
}

.LetterPickerContainer {
    z-index: 9000003;
    border: 1px solid transparent
}

.Letter {
    font-size: 192%;
    width: 35px;
    height: 35px;
    padding-left: 5px;
    padding-top: 5px
}

.Letter .GlobeIcon {
    display: inline-block;
    height: 21px;
    width: 21px;
    margin-top: 10px;
    background-position: 0 -26px
}

.LetterPicker .Letter {
    margin: 10px;
    float: left
}

.LetterPicker .Enabled {
    cursor: pointer;
    background: #36c;
    color: #fff
}

.LetterPicker .Disabled {
    background: #c7c7c7;
    color: #fff;
    display: block
}

.Hidden {
    display: none
}

.VirtualizedGrid ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative
}

.VirtualizedGrid ul li {
    width: 100%;
    position: absolute;
    margin-bottom: 0
}

.VirtualizedGrid ul li .Letter {
    margin-left: 40px;
    cursor: pointer;
    background: #36c;
    color: #fff
}

.cpv2 {
    position: relative;
    zoom: 1
}

.cpv2 textarea.cp_textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 5px
}

.cpv2 .cliparea {
    position: absolute;
    top: -500px;
    left: -500px;
    width: 0;
    height: 0;
    border: none
}

.cpv2 .CL_Contact_Tbl {
    table-layout: fixed;
    width: 100%
}

.cpv2 .CL_Row {
    color: #000
}

.cpv2 .CL_Hov {
    cursor: pointer
}

.cpv2 .CL_Highlight, .cpv2 .CL_Highlight div {
    color: #fff
}

.cpv2 .CL_User_Tile_Col {
    width: 60px
}

.cpv2 .CL_Display_Name_Col {
    height: 60px;
    vertical-align: top
}

.cpv2 .CL_Remove_Col {
    width: 30px
}

.cpv2 .CL_Contact {
    height: 60px
}

.cpv2 .CL_User_Tile {
    width: 40px;
    height: 40px;
    padding: 10px;
    overflow: hidden
}

.cpv2 .CL_Display_Name, .cpv2 .CL_Email, .cpv2 .CL_Phone {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 100%;
    padding-right: 10px
}

.cpv2 .CL_Remove {
    display: none
}

.cpv2 .t_cp_hov .CL_Remove {
    display: block;
    width: 10px;
    height: 10px;
    padding: 25px 10px
}

:root .cpv2 .CL_Remove:hover {
    background-color: rgba(0, 0, 0, .12)
}

.cpv2 .CL_Remove .cl_ImgStrip {
    width: 10px;
    height: 10px
}

.CL_Matched_Text {
    font-weight: 600
}

.CL_Highlight .CL_Matched_Text.t_elnk {
    color: #fff
}

.cpv2 .cp_clist {
    position: absolute;
    width: 100%;
    height: 400px;
    border: 1px solid #5c5c5c;
    background: #fff;
    z-index: 10000;
    overflow: auto;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.cpv2 .CL_Related {
    padding: 10px;
    padding-bottom: 5px;
    font-size: 86%;
    color: #666
}

.cpv2 .CL_RelatedHidden {
    display: none
}

.cpv2 .VirtualizedGrid ul li .Letter {
    margin: 10px
}

.cpv2 .CL_Email {
    margin-top: 5px;
    font-size: 86%
}

.IE_M7 .cpv2 .CL_Display_Name {
    padding-top: 10px
}

.IE_M7 .cpv2 .cp_inputContainer .cl_ImgStrip {
    margin-top: 11px
}

.cpv2 .cp_inputArea {
    position: relative;
    font-size: 86%;
    border: 1px solid #bababa;
    padding-left: 5px;
    padding-top: 5px;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff
}

.cpv2 .cp_inputArea:hover {
    border-color: #8f8f8f
}

.cpv2 .cp_inputArea.Focus {
    border-color: #5c5c5c
}

.cpv2 .cp_anyInput {
    display: inline-block;
    padding: 5px !important;
    height: 20px !important;
    width: 10em;
    resize: none;
    border: 0 !important;
    margin: 0;
    overflow: hidden;
    outline: none
}

.cpv2 .cp_primaryInput {
    white-space: nowrap;
    display: block
}

.cpv2 .cp_awe {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    margin-bottom: 5px
}

.cpv2 .cp_Contact {
    white-space: nowrap;
    position: relative;
    max-width: 95%;
    -webkit-user-drag: element;
    -webkit-user-select: none
}

.cpv2 .cp_ctBtn, .cpv2 .cp_ctnr, .cpv2 .cp_ctnrExp {
    height: 30px
}

.cpv2 .cp_ctnr, .cpv2 .cp_ctnrExp {
    padding-right: 20px
}

.cpv2 .cp_ctnrExp {
    padding-left: 20px
}

.cpv2 .cp_Contact a {
    color: #000;
    outline: 0
}

.cpv2 .cp_p, .cpv2 .cp_nopic {
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    padding: 5px
}

.cpv2 .cp_p .c_ic_frame_clip img, .cpv2 .cp_p .c_ic_tile_clip, .cpv2 .cp_p .c_ic_frame_clip {
    z-index: auto
}

.cpv2 .cp_exp, .cpv2 .cp_remBtn {
    position: absolute;
    top: 0;
    text-decoration: none;
    width: 10px
}

.cpv2 .cp_exp .cl_ImgStrip, .cpv2 .cp_remBtn .cl_ImgStrip {
    width: 10px;
    height: 10px;
    margin-top: 5px
}

.cpv2 .cp_remBtn {
    right: 0
}

.cpv2 .cp_exp {
    left: 0
}

.cpv2 .cp_ctBtn {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis
}

.cpv2 .cp_exp .cl_ImgStrip {
    background-position: -16px -16px
}

.cpv2 .cp_remBtn .cl_ImgStrip, .cpv2 .CL_Remove .cl_ImgStrip {
    background-position: -21px -36px
}

.cpv2 .cp_pic {
    max-width: 20px
}

.cpv2 .cp_nopic {
    padding-right: 0
}

.cpv2 .cp_name {
    padding-right: 5px;
    vertical-align: -1px
}

.IE_M7 .cpv2 .cp_name {
    vertical-align: 1px
}

.cpv2 .hideText {
    position: absolute;
    left: -99999px
}

:root .cpv2 .cp_remBtn:hover, :root .cpv2 .cp_ctBtn:hover, :root .cpv2 .cp_exp:hover {
    background-color: rgba(0, 0, 0, .12)
}

.cpv2 a:hover {
    text-decoration: none
}

.cpv2 .cp_error {
    background-color: transparent;
    color: #c85305;
    border: 1px solid #c85305
}

.cpv2 .cp_error a {
    color: #c85305
}

.cpv2 .cp_error .cp_ctnrExp, .cpv2 .cp_error .cp_ctnr, .cpv2 .cp_error .cp_ctBtn {
    height: 28px
}

.cpv2 .cp_error .cp_ctnr, .cpv2 .cp_error .cp_ctnrExp {
    padding-right: 19px
}

.cpv2 .cp_error .cp_ctnrExp {
    padding-left: 19px
}

.cpv2 .cp_error .cp_p, .cpv2 .cp_error .cp_nopic {
    padding: 4px 5px
}

.cpv2 .cp_error .cp_remBtn {
    padding-right: 4px
}

.cpv2 .cp_error .cp_exp {
    padding-left: 4px
}

.cpv2 .cp_selected a {
    color: #fff
}

.cpv2 .cp_selected .cp_exp .cl_ImgStrip {
    background-position: 0 0
}

.cpv2 .cp_selected .cp_remBtn .cl_ImgStrip, .cpv2 .CL_Highlight .CL_Remove .cl_ImgStrip {
    background-position: -21px -26px
}

.cpv2_dragtip {
    padding: 5px;
    height: 20px;
    font-size: 86%
}