﻿img.Emoticon {
    width: 16px;
    height: 16px;
    vertical-align: middle
}

.c_mm_contacts, .c_mm_sr {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    min-height: 24px;
    clear: both;
    position: relative
}

.c_mm_contacts .c_mm_contact {
    position: relative
}

.c_mm_contacts .c_mm_contact, .c_mm_sr .c_mm_contact {
    overflow: hidden
}

.IE_M6 .c_mm_clcHeader .c_mm_contacts, .IE_M6 .c_mm_clcHeader .c_mm_sr {
    height: 150px;
    width: 100%
}

.c_mm_contacts a.c_ml, .c_mm_sr a.c_ml, .c_mm_clc span.c_ic_i {
    overflow: hidden !important;
    text-overflow: ellipsis
}

.c_mm_clc a.c_ic_name:hover {
    text-decoration: none;
    color: #000
}

.c_mm_contacts div {
    zoom: 1
}

.c_mm_contacts li {
    margin: 0
}

.c_mm_contacts .c_mm_contact li {
    margin: 2px 2px 0
}

.c_mm_contacts ul.alf {
    padding-top: 0
}

.c_mm_clc .c_clr {
    height: 0;
    line-height: 0;
    font-size: 0
}

.c_mm_c a.c_ml, .c_mm_sr a.c_ml, .c_mm_clc span.c_ic_i {
    text-overflow: ellipsis !important;
    margin-right: 2px;
    color: #000
}

.c_mm_clc span.c_ic_i {
    white-space: nowrap;
    display: block
}

.c_mm_clc .c_ic_psm a, .c_mm_clc a.c_ic_name {
    display: inline
}

.c_mm_sb {
    border: 1px solid #ccc;
    padding: 1px 3px;
    background-color: #fff
}

.IE_M6 .c_mm_sb {
    height: 2.7ex;
    padding-top: 3px
}

.c_mm_clcHeader .c_mm_sb {
    margin: 15px;
    margin-bottom: 5px
}

.c_mm_clc .c_mm_sb input {
    border: 0;
    width: 80%;
    float: left
}

.c_mm_clc .c_mm_sbhint {
    color: #666
}

.c_mm_sbc {
    display: none;
    float: right;
    cursor: pointer;
    padding-top: 5px
}

.IE .c_mm_sbc {
    padding-top: 1px
}

.c_mm_sr {
    display: none
}

.IE_M6 .c_mm_sr, .IE_M6 .c_mm_contacts {
    width: 100%
}

.c_mm_sr ul {
    width: 100%
}

.IE .c_mm_sr .c_mm_scr .c_mm_contact {
    padding-right: 15px
}

.c_mm_clcHome .c_mm_contacts {
    overflow: visible
}

.c_mm_clcHotmailLeftNav .c_mm_contact a.c_ml {
    width: 100%
}

.c_mm_clcHotmailLeftNav .c_mm_links a, .c_mm_clcHotmailLeftNav .c_mm_status a {
    white-space: normal
}

.c_mm_clcHome .c_mm_contact, .c_mm_clcSlideshow .c_mm_contact {
    width: 50%;
    float: left;
    clear: none !important
}

.c_mm_clcHome .c_mm_contact a.c_ml, .c_mm_clcSlideshow .c_mm_contact a.c_ml {
    width: 96%
}

.c_mm_clcPopout .c_mm_contacts ul, .c_mm_clcPopout .c_mm_contacts li .c_mm_clcHome .c_mm_contacts ul, .c_mm_clcHome .c_mm_contacts li, .c_mm_clcSlideshow .c_mm_contacts ul, .c_mm_clcSlideshow .c_mm_contacts li {
    clear: both
}

.c_mm_clcPopout .c_mm_contact {
    min-width: 200px;
    clear: none !important;
    height: 1.8em;
    float: left;
    width: 100%
}

.c_mm_status .statusText a.c_mm_rc {
    color: #00709f
}

.IE_M6 .c_mm_clcPopout .c_mm_contact {
    overflow: hidden
}

.IE_M7 .c_mm_links.c_mm_clrzm, .c_mm_links.c_mm_clrzm ul, .c_mm_links.c_mm_clrzm li {
    zoom: 0 !important
}

.IE_M7 .c_mm_links.c_mm_clrzm ul {
    margin-top: -1.5em
}

.IE_M6 .c_mm_contacts .c_ic_i .is_hc {
    height: 9px;
    font-size: 50%
}

.c_mm_sb {
    margin: 4px 0 4px 0
}

ul.c_mm_clc li.c_mm_c span.groupText {
    color: #666 !important;
    padding-bottom: 0
}

.c_mm_clcHome li.groupText {
    padding-bottom: 5px;
    padding-top: 8px
}

.c_mm_clcPopout span.groupText {
    font-size: 100%
}

li.c_mm_fr {
    margin: 10px 0
}

.c_mm_fr .c_mm_errorMsg {
    padding: 0 15px 0 15px
}

.c_mm_frtext {
    font-size: 86%;
    padding: 5px 0;
    white-space: normal
}

.c_mm_frtext a {
    display: inline
}

.c_mm_frtext .c_ms {
    border-left: 1px solid #000;
    line-height: 1em;
    zoom: 1;
    display: inline
}

.c_mm_frclose {
    display: block;
    float: right
}

.c_mm_frclose:hover {
    text-decoration: none
}

.wlxim_conv .c_clr {
    height: 0;
    line-height: 0;
    font-size: 0 !important
}

.wlxim_conv {
    position: fixed;
    width: 283px;
    z-index: 2500000
}

.wlxim_conv_ui {
    border: 1px solid #83aada;
    background-color: #fff
}

.wlxim_roster .c_ic_h_m_t {
    width: 100%
}

.wlxim_roster.wlxim_rcall .wlxim_roster_ic {
    width: 200px
}

.wlxim_roster .c_ic_text_h {
    float: none;
    overflow: hidden;
    width: auto;
    font-size: 86%
}

.wlxim_roster .c_ic_text_h div {
    max-width: none;
    width: auto
}

.wlxim_roster {
    overflow: hidden;
    word-wrap: normal
}

.wlxim_multiroster {
    margin-left: 0 !important;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px
}

.wlxim_conversations {
    position: relative;
    visibility: visible
}

.wlxim_minimized .wlxim_conversations {
    visibility: hidden
}

.wlxim_conv_area {
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    word-wrap: break-word
}

.wlxim_says {
    color: #666
}

.wlxim_msg {
    position: relative
}

.wlxim_msgwrap {
    margin-left: 18px
}

.wlxim_bullet {
    position: absolute;
    left: 5px;
    top: .6em;
    width: 3px;
    height: 3px;
    background-color: #999
}

.wlxim_infobar {
    padding-right: 5px;
    padding-left: 5px;
    background-color: #ffffae;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    overflow: auto;
    word-wrap: break-word;
    max-height: 100px
}

.wlxim_infobar .c_ms, .wlxim_says .c_ms {
    border-left: 1px solid #000;
    line-height: 1em;
    zoom: 1;
    display: inline
}

.IE .wlxim_infobar {
    padding-bottom: 0
}

.IE_M6 .wlxim_infobar {
    zoom: 1
}

.wlxim_infobar_message {
    overflow: hidden;
    padding: 5px 0;
    font-size: 86%
}

.wlxim_infobar_close {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    float: right;
    text-decoration: none !important;
    height: 11px
}

.wlxim_infobar_close span, .wlxim_infobar_close img {
    vertical-align: top
}

.wlxim_window_action, .wlxim_tab_close {
    padding-left: .312em
}

.wlxim_window_action, .wlxim_infobar_close, .wlxim_tab_close {
    white-space: nowrap;
    width: 11px;
    overflow: hidden
}

.wlxim_ms {
    border-bottom: 1px solid #868077;
    width: 50px;
    height: .75em
}

.wlxim_err {
    color: #810000
}

.wlxim_footer {
    padding-top: 5px;
    padding-bottom: 15px
}

.wlxim_inputbox {
    top: 0;
    left: 0;
    position: absolute;
    height: 1.5em;
    overflow: hidden;
    resize: none;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.wlxim_inputboxwrap .wlxim_inputbox {
    border: 0;
    padding: 0
}

a.wlxim_emoicon {
    position: absolute;
    right: 0;
    padding-right: 2px;
    text-decoration: none;
    color: #000 !important;
    z-index: 10
}

.wlxim_emomenu {
    width: 248px
}

.wlxim_emomenu li {
    float: left;
    width: 27px;
    height: 27px
}

.wlxim_emomenu li a {
    padding: 3px;
    height: 20px
}

.wlxim_neti {
    width: 16px;
    height: 16px
}

a.wlxim_moremenu {
    display: block;
    float: right;
    text-decoration: none;
    margin-left: 10px
}

.wlxim_status {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 5px
}

.IE_M6.rtl .wlxim_status {
    width: 160px
}

.wlxim_roster {
    padding-top: 5px
}

.wlxim_roster_ic {
    float: left;
    width: 100%
}

.wlxim_call {
    float: right;
    white-space: nowrap;
    width: 60px;
    padding-left: 5px
}

.wlxim_call.disabled a {
    cursor: default
}

.wlxim_shad {
    position: absolute;
    filter: alpha(opacity=20);
    opacity: .2;
    background-color: #000;
    border: 1px solid #000;
    display: block;
    top: 3px;
    left: 3px;
    z-index: -1
}

.IE_M6 #wim_cw {
    overflow: hidden
}

.ie7zoomdrag .wlxim_tab_content, .ie7zoomdrag .wlxim_conv_wrapper, .ie7zoomdrag .wlxim_tabml {
    visibility: hidden !important
}

.ie7zoomdrag .wlxim_tab_close {
    display: none
}

.IE_M6 .wlxim_dragcover {
    position: absolute
}

.wlxim_dragcover {
    position: fixed;
    display: block;
    z-index: 2000000;
    top: 0;
    left: 0
}

.IE .wlxim_dragcover {
    background-color: #fff;
    filter: alpha(opacity=1)
}

.IE_M6 .wlxim_conv {
    position: absolute
}

.IE_M6 .wlxim_conv_ui {
    overflow: hidden
}

.wlxim_header_wrapper {
    background-color: #ddecfe
}

.wlxim_header {
    border: 1px solid #fff;
    border-bottom: 0;
    border-right: 0;
    background-color: #ddecfe
}

.wlxim_multi .wlxim_header {
    border-bottom: 1px solid #83aada;
    background-color: #ebebeb
}

.wlxim_minimized .wlxim_header {
    border-bottom: 0;
    background-color: #ebebeb
}

.wlxim_window_actions {
    float: right;
    background-color: #ddecfe;
    padding: 5px
}

.wlxim_window_actions a:hover {
    text-decoration: none
}

.wlxim_multi .wlxim_window_actions {
    border-left: 1px solid #ccc
}

.wlxim_multi .wlxim_window_actions, .wlxim_minimized .wlxim_window_actions {
    background-color: #ebebeb
}

.wlxim_actions_end_selected {
    border-left: 0 !important
}

.wlxim_window_action {
    display: inline-block
}

.IE_M6 .wlxim_window_action, .IE_M6 .wlxim_tab_close {
    padding-top: 5px
}

.wlxim_minimized .wlxim_minimize, .wlxim_multi .wlxim_window_close, .wlxim_restore {
    display: none
}

.wlxim_minimized .wlxim_restore {
    display: inline-block
}

.wlxim_tabs {
    padding: 0;
    margin: 0;
    list-style-type: none;
    zoom: 1
}

.IE_M6 .wlxim_tabs {
    overflow: hidden;
    height: 100%
}

.wlxim_tab_wrapper, .wlxim_moretab {
    float: left;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-right: 1px solid #ccc
}

.IE_M6 .wlxim_tab_wrapper {
    position: relative
}

.wlxim_tab_wrapper .wlxim_tab, .wlxim_tabml {
    display: block;
    padding: 5px;
    cursor: pointer;
    background-color: #ebebeb
}

.wlxim_mc {
    overflow-y: auto;
    overflow-x: hidden
}

.IE_M6 .wlxim_tabml {
    display: inline-block
}

.IE_M6 .wlxim_tab_wrapper .wlxim_tab, .IE_M6 .wlxim_tabml {
    padding-top: 7px
}

.wlxim_tab, .wlxim_tab a, .wlxim_tab span {
    color: #000 !important;
    text-decoration: none !important
}

.wlxim_selectTabWrap {
    border-right: 1px solid #ddecfe;
    background-color: #ddecfe
}

.wlxim_minimized .wlxim_tab_wrapper {
    border-right: 0
}

.wlxim_selectTabWrap .wlxim_tab {
    background-color: #ddecfe
}

.wlxim_selectWrapFocus {
    border-right: 1px solid #83aada
}

.wlxim_focus .wlxim_tab, .wlxim_actionsfocus, .wlxim_headerfocus, .wlxim_focusmore .wlxim_tabml, .wlxim_focusmore .wlxim_focus, .wlxim_selectWrapFocus {
    background-color: #83aada !important
}

.wlxim_focus .c_ic_name, .wlxim_focus .c_ic_name *, .wlxim_focus .c_ml, .wlxim_focus .c_ml *, .wlxim_focus .wlxim_tab_content, .wlxim_focus .wlxim_tab_content *, .wlxim_focusmore .wlxim_tabml * {
    color: #fff !important
}

.wlxim_focusmore .wlxim_focus a:hover .c_ic_name, .wlxim_focusmore .wlxim_focus a:hover .c_ic_name *, .wlxim_focusmore .wlxim_focus a:hover {
    color: #000 !important
}

.wlxim_menuitem {
    zoom: 1
}

.wlxim_menuitem a {
    overflow: hidden !important;
    text-overflow: ellipsis !important
}

.wlxim_minimized .wlxim_multi .wlxim_tab_wrapper {
    border-right: 1px solid #ccc
}

.wlxim_multi .wlxim_selectTab {
    border-top: 1px solid #fff
}

.wlxim_multi .wlxim_tab_first .wlxim_selectTab {
    border-left: 1px solid #fff
}

.wlxim_multi .wlxim_tab_last {
    border-right: 0 !important
}

.wlxim_multi .wlxim_selectTabWrap {
    border: 1px solid #83aada;
    border-bottom: 0;
    margin-top: -4px;
    margin-left: -1px
}

.wlxim_multi .wlxim_tab_firstselected {
    margin-left: -2px
}

.wlxim_tab_content {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: no-wrap;
    zoom: 1;
    color: #000;
    position: relative
}

.wlxim_tab_close {
    float: right;
    margin-left: 5px;
    display: none
}

.wlxim_multi .wlxim_tab_close {
    display: block
}

a.wlxim_tab_close span {
    visibility: hidden
}

.wlxim_close_visible span, .wlxim_multi .wlxim_selectTabWrap .wlxim_tab_close span, .wlxim_multi .wlxim_tab_wrapper .wlxim_tab:hover .wlxim_tab_close span, .wlxim_multi .wlxim_tab_wrapper .wlxim_tab .wlxim_tab_close:focus span, .wlxim_multi .wlxim_tab_wrapper .wlxim_tab .wlxim_tab_close:active span, .IE_M6 .wlxim_multi .wlxim_tab_wrapper .wlxim_tab .wlxim_close_visible span {
    visibility: visible
}

.wlxim_moretab {
    border-right: 0;
    background-color: #ebebeb
}

.rtl.IE .wlxim_conv_area {
    overflow-x: hidden
}

.IE_M6 .wlxim_roster .c_ic_text_h, .IE_M6 .wlxim_roster .c_ic_psm, .IE_M6 .wlxim_roster .c_ic_name {
    width: 220px
}

.wlxim_conv_wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    visibility: hidden;
    padding: 5px;
    border: 0
}

.IE_M6 .wlxim_conv_wrapper {
    zoom: 1
}

.IE_M6 .wlxim_conv_area {
    overflow-x: hidden
}

.IE_M6 .wlxim_bullet {
    font-size: 0;
    left: -6px;
    top: 6px
}

.wlxim_inputarea {
    position: relative;
    border: 1px solid #ccc;
    padding-right: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 1px
}

.IE_M6 .wlxim_inputarea, .IE_M6 .wlxim_footer {
    zoom: 1
}

.Firefox .wlxim_inputboxwrap {
    overflow: hidden
}

.Firefox .wlxim_inputbox {
    overflow-y: scroll;
    position: static
}

.IE_M6 a.wlxim_emoicon {
    height: 21px
}

.IE_M6 .wlxim_emomenu {
    width: 250px
}

.wlxim_moremenu, .wlxim_status {
    font-size: 86%;
    color: #666 !important;
    margin-top: 5px
}

.wlxim_status {
    padding-left: 5px
}

.IE.rtl .wlxim_viamenu .is_c {
    position: static
}

.wlxim_viacont {
    float: left;
    margin-top: 3px
}

a.wlxim_viamenulink {
    text-decoration: none;
    color: #000 !important
}

.wlxim_viamenulink img {
    vertical-align: middle
}

.wlxim_smslabel {
    float: left;
    margin-right: 5px;
    margin-top: .2em
}

.wlxim_areainput {
    float: left;
    margin-right: 5px
}

.wlxim_prefixinput {
    float: left;
    margin-right: 5px
}

.wlxim_numberinput {
    float: left
}

.wlxim_smsnote {
    margin: 10px 0;
    color: #666
}

.wlxim_sms button {
    margin-right: 10px
}

.wlxim_smsform {
    padding: 0 10px
}

.wlxim_prompt {
    margin-bottom: 10px;
    overflow: auto;
    max-height: 55px
}

.wim_block_message {
    min-width: 300px;
    padding-bottom: 20px
}

.wim_block_repabuse {
    position: absolute;
    bottom: 35px
}

.wim_decline_block {
    padding-bottom: 10px
}

.sidebar {
    border-left-color: #ccc;
    background-color: #f3f3f3;
    width: 300px;
    position: fixed;
    right: -300px;
    bottom: 0;
    top: 40px;
    z-index: 100;
    display: none;
    cursor: default
}

.sidebar_info {
    width: 300px;
    height: 100%;
    z-index: 3;
    background-color: #f3f3f3;
    position: absolute
}

.sidebar_info_table {
    position: absolute;
    width: 300px;
    height: 100%;
    display: none;
    padding-left: 20px;
    padding-right: 20px
}

.IE_M7 .sidebar_info_table {
    width: 260px
}

.sidebar_info_top {
    vertical-align: bottom;
    margin-bottom: 15px;
    font-size: 100%;
    line-height: 20px
}

.sidebar_info_bottom {
    vertical-align: top;
    margin-top: 5px;
    float: right
}

.sidebar_button {
    float: right
}

.signin_loading_img {
    width: 20px;
    height: 20px
}

#rec_conv {
    display: none
}

#chat_view {
    display: none
}

#chat_view_body {
    width: 100%;
    float: left
}

.header-fix {
    position: fixed;
    width: 100%
}

.imToastHeader {
    font-size: 100%;
    font-weight: bold
}

.imToastBody {
    height: 3em;
    overflow: hidden;
    font-size: 84.6%
}

#c_ofm {
    height: 40px
}

.wim_ups {
    padding-top: 28px;
    padding-left: 30px;
    padding-right: 30px
}

.wim_ups_h {
    font-size: 100%;
    line-height: 20px;
    font-weight: bold
}

.wim_ups_img {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    vertical-align: middle
}

.wim_ups_n {
    margin-top: 22px;
    cursor: pointer
}

.wim_ups_c {
    margin-top: 23px
}

.RE_WebKit div.UI_Popover input, button {
    margin: auto 0
}

div.UI_Dialog_BG {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3000000;
    background-color: #fff;
    opacity: .5
}

.IE div.UI_Dialog_BG {
    filter: alpha(opacity=50)
}

.IE_M6 div.UI_Dialog_BG {
    position: absolute
}

div.UI_Dialog_ZoomTest {
    left: 100px;
    visibility: hidden;
    position: absolute
}

div.UI_Dialog_Shadow {
    z-index: 3000001
}

.div.UI_Dialog_Contents {
    z-index: 3000002
}

div.UI_Popover {
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 3000002;
    white-space: normal
}

div.UI_Popover div.Body {
    padding: 12px 16px 16px 16px;
    align-vertical: top;
    clear: both;
    overflow: hidden;
    word-wrap: break-word;
    text-align: left
}

div.UI_Popover div.Body select {
    margin: 0;
    padding: 0
}

div.UI_Popover div.Header {
    padding: 15px 16px 0 16px;
    text-align: left;
    word-wrap: break-word
}

div.UI_Popover div.Footer {
    padding: 0 16px 15px 15px;
    text-align: left;
    overflow: hidden;
    word-wrap: break-word
}

div.UI_Popover a.CloseX {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 10px;
    height: 10px
}

div.UI_Popover div.Footer button {
    margin-right: 2px
}

div.UI_Popover div.Header h3 {
    margin: 0;
    line-height: normal
}

span.UI_Popover_Outer {
    float: left;
    display: block;
    height: 0;
    width: 0
}

div.UI_Popover div.LargeText {
    font-size: 150%;
    color: #000
}

div.UI_Popover div.SecondaryTextColor {
    color: #666
}